# Performance dataframes

In [3]:
import os
import re
import json
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np
from natsort import index_natsorted

/Users/andersvandvik/Repositories/masters-thesis/venv/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## General parameters

In [4]:
instance_key = 'instance'

avg_constr_obj_key = 'constr obj'
best_obj_key = 'best obj'
worst_obj_key = 'worst obj'
avg_obj_key = 'obj'

max_time_key = 'max time'
min_time_key = 'min time'
avg_time_key = 'time'

max_iter_key = 'max iter'
min_iter_key = 'min iter'
avg_best_sol_iter_key = 'best found iter'
avg_iter_key = 'iter'

set_part_key = 'sp improv (#)'
ls_improv_key = 'ls improv (#)'
best_ls_improv_percent_key = 'best ls improv (%)'
dr_improv_key = 'dr improv (#)'

best_sol_found_by_key = 'best sol found by'

gap_key = 'gap'
preprocess_key = 'preproc'
model_key = 'model time'
variables_key = 'variables'

project_path = os.path.dirname(os.path.abspath('.'))
directory_path_alns = '/output/solstorm/alns/performance/'
directory_path_exact = '/output/solstorm/arcflow/performance/'

generate_df = True
run_number = 'verify'

## Functions

In [5]:
def map_instance_to_data_alns(run_path):
    instance_to_data = {}
    for file_name in os.listdir(run_path):
        split_name = re.split('_|\.', file_name)
        instance_name = split_name[0]
        is_history = split_name[2] == 'history'
        if is_history:
            with open(run_path + file_name) as file:
                history_json = json.load(file)
            
            avg_constr_obj = history_json['construction_heuristic_objective']
            obj = history_json['best_objective']
            time = history_json['runtime']
            it = history_json['number_of_iterations']
            best_it = history_json['best_sol_found_in_iteration']
            set_part_improv = history_json['number_of_improvements_by_set_partitioning']
            ls_improv = history_json['number_of_improvements_by_local_search']
            ls_improv_percent = history_json['best_improvement_local_search']
            dr_improv = history_json['number_of_improvements_by_destroy_repair']
            best_sol_found_by = history_json['best_solution_found_by']

            if instance_name in instance_to_data:
                data = instance_to_data[instance_name]

                if obj < data[0]:
                    data[0] = obj
                if obj > data[1]:
                    data[1] = obj
                if time > data[4]:
                    data[4] = time
                if time < data[5]:
                    data[5] = time
                if it > data[7]:
                    data[7] = it
                if it < data[8]:
                    data[8] = it
                
                data[2] += avg_constr_obj
                data[3] += obj
                data[6] += time
                data[9] += best_it
                data[10] += it
                data[11] += set_part_improv
                data[12] += ls_improv
                data[13] += ls_improv_percent
                data[14] += dr_improv
                data[15].append(best_sol_found_by)
                data[16] += 1
            else:
                instance_to_data[instance_name] = [obj, obj, avg_constr_obj, obj, 
                                                   time, time, time, 
                                                   it, it, best_it, it, 
                                                   set_part_improv, ls_improv, ls_improv_percent, dr_improv,
                                                   [best_sol_found_by],
                                                   1]
    return instance_to_data

def generate_run_df_alns(run_name):
    run_path = project_path + directory_path_alns + run_name
    instance_to_data = map_instance_to_data_alns(run_path)
    
    df = pd.DataFrame(columns=[instance_key, 
                               best_obj_key, worst_obj_key, avg_constr_obj_key, avg_obj_key, 
                               max_time_key, min_time_key, avg_time_key, 
                               max_iter_key, min_iter_key, avg_best_sol_iter_key, avg_iter_key,
                               set_part_key, ls_improv_key, best_ls_improv_percent_key, dr_improv_key,
                               best_sol_found_by_key])
    
    for instance in instance_to_data:
        data = instance_to_data[instance]
        
        nbr_sims = data[16]
        if nbr_sims != 5:
            print(f'{instance} DEVIATES IN SIMULATIONS!')
        
        best_objective = data[0]
        worst_objective = data[1]
        avg_constr_objective = data[2] / nbr_sims
        avg_objective = data[3] / nbr_sims
        max_time = data[4]
        min_time = data[5]
        avg_time = data[6] / nbr_sims
        max_iter = data[7]
        min_iter = data[8]
        avg_best_sol_iter = data[9] / nbr_sims
        avg_iter = data[10] / nbr_sims
        avg_set_part_improv = data[11] / nbr_sims
        avg_ls_improv = data[12] / nbr_sims
        avg_ls_improv_percent = data[13] / nbr_sims
        avg_dr_improv = data[14] / nbr_sims
        best_sol_found_by = data[15]
        
        row = pd.Series({instance_key: instance, 
                         best_obj_key: best_objective,
                         worst_obj_key: worst_objective,
                         avg_constr_obj_key: avg_constr_objective,
                         avg_obj_key: avg_objective,
                         max_time_key: max_time,
                         min_time_key: min_time,
                         avg_time_key: avg_time, 
                         max_iter_key: max_iter,
                         min_iter_key: min_iter,
                         avg_best_sol_iter_key: avg_best_sol_iter,
                         avg_iter_key: avg_iter,
                         set_part_key: avg_set_part_improv,
                         ls_improv_key: avg_ls_improv,
                         best_ls_improv_percent_key: avg_ls_improv_percent,
                         dr_improv_key: avg_dr_improv,
                         best_sol_found_by_key: best_sol_found_by})
        
        df = df.append(row, ignore_index=True)
    
    df = df.sort_values(by='instance',
                        key=lambda x: np.argsort(index_natsorted(df['instance'])),
                        inplace=False)
    df = df.reset_index(drop=True)
    
    mean_row = pd.Series({instance_key: 'Mean values',
                          best_obj_key: df[best_obj_key].mean(),
                          worst_obj_key: df[worst_obj_key].mean(),
                          avg_constr_obj_key: df[avg_constr_obj_key].mean(),
                          avg_obj_key: df[avg_obj_key].mean(),
                          max_time_key: df[max_time_key].mean(),
                          min_time_key: df[min_time_key].mean(),
                          avg_time_key: df[avg_time_key].mean(),
                          max_iter_key: df[max_iter_key].mean(),
                          min_iter_key: df[min_iter_key].mean(),
                          avg_best_sol_iter_key: df[avg_best_sol_iter_key].mean(),
                          avg_iter_key: df[avg_iter_key].mean(),
                          set_part_key: df[set_part_key].mean(),
                          ls_improv_key: df[ls_improv_key].mean(),
                          best_ls_improv_percent_key: df[best_ls_improv_percent_key].mean(),
                          dr_improv_key: df[dr_improv_key].mean(),
                          best_sol_found_by_key: 'Manual'})
    df = df.append(mean_row, ignore_index=True)
    df = df.round(1)
    return df

def aggregate_df_by_instance_group_alns(df):
    instance_size_to_data = {}
    for idx, row in df.iterrows():
        instance_name = row[instance_key]

        if instance_name == 'Mean values':
            continue
        
        split_name = re.split('-', instance_name)
        instance_size = split_name[0]
        
        best_obj = row[best_obj_key]
        worst_obj = row[worst_obj_key]
        avg_constr_obj = row[avg_constr_obj_key]
        avg_obj = row[avg_obj_key]
        max_time = row[max_time_key]
        min_time = row[min_time_key]
        avg_time = row[avg_time_key]
        max_iter = row[max_iter_key]
        min_iter = row[min_iter_key]
        avg_best_sol_iter = row[avg_best_sol_iter_key]
        avg_iter = row[avg_iter_key]
        avg_set_part_improv = row[set_part_key]
        avg_ls_improv = row[ls_improv_key]
        avg_ls_improv_percent = row[best_ls_improv_percent_key]
        avg_dr_improv = row[dr_improv_key]
        
        if instance_size in instance_size_to_data:
            data = instance_size_to_data[instance_size]
            data[0] += best_obj
            data[1] += worst_obj
            data[2] += avg_constr_obj
            data[3] += avg_obj
            data[4] += max_time
            data[5] += min_time
            data[6] += avg_time
            data[7] += max_iter
            data[8] += min_iter
            data[9] += avg_best_sol_iter
            data[10] += avg_iter
            data[11] += avg_set_part_improv
            data[12] += avg_ls_improv
            data[13] += avg_ls_improv_percent
            data[14] += avg_dr_improv
            data[15] += 1  # Number of times encountered instance size
        else:
            data = [best_obj, worst_obj, avg_constr_obj, avg_obj, 
                    max_time, min_time, avg_time, 
                    max_iter, min_iter, avg_best_sol_iter, avg_iter, 
                    avg_set_part_improv, avg_ls_improv, avg_ls_improv_percent, avg_dr_improv, 1]
            instance_size_to_data[instance_size] = data

    df = pd.DataFrame(columns=['instance_group', 
                               best_obj_key, worst_obj_key, avg_constr_obj_key, avg_obj_key, 
                               max_time_key, min_time_key, avg_time_key, 
                               max_iter_key, min_iter_key, avg_best_sol_iter_key, avg_iter_key,
                               set_part_key, ls_improv_key, best_ls_improv_percent_key, dr_improv_key])
    
    for instance_size in instance_size_to_data:
        data = instance_size_to_data[instance_size]
        nbr_sims = data[15]
        if nbr_sims != 5:
            print(f'{instance_size} INSTANCE_SIZE DEVIATES!')
        
        row = pd.Series({'instance_group': instance_size, 
                         best_obj_key: data[0] / nbr_sims,
                         worst_obj_key: data[1] / nbr_sims,
                         avg_constr_obj_key: data[2] / nbr_sims,
                         avg_obj_key: data[3] / nbr_sims, 
                         max_time_key: data[4] / nbr_sims,
                         min_time_key: data[5] / nbr_sims,
                         avg_time_key: data[6] / nbr_sims, 
                         max_iter_key: data[7] / nbr_sims,
                         min_iter_key: data[8] / nbr_sims,
                         avg_best_sol_iter_key: data[9] / nbr_sims,
                         avg_iter_key: data[10] / nbr_sims,
                         set_part_key: data[11] / nbr_sims,
                         ls_improv_key: data[12] / nbr_sims,
                         best_ls_improv_percent_key: data[13] / nbr_sims,
                         dr_improv_key: data[14] / nbr_sims})
    
        df = df.append(row, ignore_index=True)
        
    mean_row = pd.Series({'instance_group': 'Mean values',
                          best_obj_key: df[best_obj_key].mean(),
                          worst_obj_key: df[worst_obj_key].mean(),
                          avg_constr_obj_key: df[avg_constr_obj_key].mean(),
                          avg_obj_key: df[avg_obj_key].mean(),
                          max_time_key: df[max_time_key].mean(),
                          min_time_key: df[min_time_key].mean(),
                          avg_time_key: df[avg_time_key].mean(),
                          max_iter_key: df[max_iter_key].mean(),
                          min_iter_key: df[min_iter_key].mean(),
                          avg_best_sol_iter_key: df[avg_best_sol_iter_key].mean(),
                          avg_iter_key: df[avg_iter_key].mean(),
                          set_part_key: df[set_part_key].mean(),
                          ls_improv_key: df[ls_improv_key].mean(),
                          best_ls_improv_percent_key: df[best_ls_improv_percent_key].mean(),
                          dr_improv_key: df[dr_improv_key].mean()})
    df = df.append(mean_row, ignore_index=True)
    df = df.round(1)
    return df

def map_instance_to_data_exact(run_path):
    instance_to_data = {}
    for file_name in os.listdir(run_path):
        split_name = re.split('_|\.', file_name)
        instance_name = split_name[0]
        with open(run_path + file_name) as file:
            exact_json = json.load(file)

        obj = exact_json['objective']['objective_bound']
        gap = exact_json['objective']['optimality_gap']
        model_runtime = exact_json['runtime']['model_runtime']
        preprocess_runtime = exact_json['runtime']['preprocess_runtime']
        variables = exact_json['variables']['number_of_variables']
        
        if instance_name in instance_to_data:
            print('Multiple versions of same instance!')
        
        instance_to_data[instance_name] = [obj, gap, model_runtime, preprocess_runtime, variables]
    
    return instance_to_data

def generate_run_df_exact(run_name):
    run_path = project_path + directory_path_exact + run_name
    instance_to_data = map_instance_to_data_exact(run_path)

    df = pd.DataFrame(columns=[instance_key, avg_obj_key, gap_key, preprocess_key, model_key, variables_key])
    for instance in instance_to_data:
        data = instance_to_data[instance]
        obj = data[0]
        gap = data[1]
        preprocess_runtime = data[2]
        model_runtime = data[3]
        variables = data[4]
        row = pd.Series({instance_key: instance,
                         avg_obj_key: obj,
                         gap_key: gap,
                         preprocess_key: preprocess_runtime,
                         model_key: model_runtime,
                         variables_key: variables})
        df = df.append(row, ignore_index=True)
    
    df = df.sort_values(by='instance',
                        key=lambda x: np.argsort(index_natsorted(df['instance'])),
                        inplace=False)
    df = df.reset_index(drop=True)
    
    mean_row = pd.Series({instance_key: 'Mean values',
                          avg_obj_key: df[avg_obj_key].mean(),
                          gap_key: df[gap_key].mean(),
                          preprocess_key: df[preprocess_key].mean(),
                          model_key: df[model_key].mean(),
                          variables_key: df[variables_key].mean()})
    df = df.append(mean_row, ignore_index=True)
    df = df.round(1)
    return df

def merge_dfs(dfs, drop):
    df_copies = [df.copy() for df in dfs]
    for df in df_copies:
        df.drop([best_obj_key, worst_obj_key, avg_constr_obj_key,
                 max_time_key, min_time_key, 
                 max_iter_key, min_iter_key], 
                axis=1, inplace=True)
    df_total = pd.concat(df_copies, axis=1)
    
    # Drop duplicate instance columns
    if drop:
        li = [i for i in range(5, len(df_total.columns), 5)]
        df_total = df_total.iloc[:, [j for j, c in enumerate(df_total.columns) if j not in li]]
    
    df_total = df_total.round(1)
    return df_total

def aggregate_df_by_instance_group_exact(df):
    instance_size_to_data = {}
    for idx, row in df.iterrows():
        instance_name = row[instance_key]

        if instance_name == 'Mean values':
            continue
        
        split_name = re.split('-', instance_name)
        instance_size = split_name[0]
        
        obj = row[avg_obj_key]
        gap = row[gap_key]
        preprocess_runtime = row[preprocess_key]
        model_runtime = row[model_key]
        variables = row[variables_key]
        
        if instance_size in instance_size_to_data:
            data = instance_size_to_data[instance_size]
            data[0] += obj
            data[1] += gap
            data[2] += preprocess_runtime
            data[3] += model_runtime
            data[4] += variables
            data[5] += 1 # Number of times encountered instance size
        else:
            instance_size_to_data[instance_size] = [obj, gap, preprocess_runtime, model_runtime, variables, 1]

    df = pd.DataFrame(columns=['instance_group', avg_obj_key, gap_key, preprocess_key, model_key, variables_key])
    
    for instance_size in instance_size_to_data:
        data = instance_size_to_data[instance_size]
        nbr_sims = data[5]
        if nbr_sims < 5:
            print(f'{instance_size} INSTANCE_SIZE LESS THAN FIVE INSTANCES!')
        
        row = pd.Series({'instance_group': instance_size, 
                         avg_obj_key: data[0] / nbr_sims,
                         gap_key: data[1] / nbr_sims,
                         preprocess_key: data[2] / nbr_sims, 
                         model_key: data[3] / nbr_sims,
                         variables_key: data[4] / nbr_sims})
    
        df = df.append(row, ignore_index=True)

        
    mean_row = pd.Series({'instance_group': 'Mean values', 
                          avg_obj_key: df[avg_obj_key].mean(),
                          gap_key: df[gap_key].mean(),
                          preprocess_key: df[preprocess_key].mean(), 
                          model_key: df[model_key].mean(),
                          variables_key: df[variables_key].mean()})
    df = df.append(mean_row, ignore_index=True)
    df = df.round(1)
    return df

def load_df(file_name):
    run_df = pd.read_pickle(f'dataframes/performance/{file_name}')
    # run_df = sort_df(run_df, sort_column)
    return run_df

def merge_dfs(dfs, drop):
    df_copies = [df.copy() for df in dfs]
    for df in df_copies:
        df.drop([best_obj_key, worst_obj_key, avg_constr_obj_key,
                 max_time_key, min_time_key, 
                 max_iter_key, min_iter_key, avg_best_sol_iter_key,
                 best_sol_found_by_key], 
                axis=1, inplace=True)
    df_total = pd.concat(df_copies, axis=1)
    
    # Drop duplicate instance columns
    # if drop:
        # li = [i for i in range(5, len(df_total.columns), 5)]
        # df_total = df_total.iloc[:, [j for j, c in enumerate(df_total.columns) if j not in li]]
    
    df_total = df_total.round(1)
    return df_total

## ALNS baseline

In [6]:
if generate_df:
    run_baseline_name = f'{run_number}/testing/'
    run_baseline_df = generate_run_df_alns(run_baseline_name)
    run_baseline_agg_df = aggregate_df_by_instance_group_alns(run_baseline_df)

    run_baseline_file_name = f'dataframes/performance/baseline.pkl'
    run_baseline_agg_file_name = f'dataframes/performance/baseline_agg.pkl'
    run_baseline_df.to_pickle(run_baseline_file_name)
    run_baseline_agg_df.to_pickle(run_baseline_agg_file_name)

13-16-2-1 DEVIATES IN SIMULATIONS!
13-15-2-2 DEVIATES IN SIMULATIONS!
13-18-2-1 DEVIATES IN SIMULATIONS!
11-12-2-1 DEVIATES IN SIMULATIONS!
11-12-2-2 DEVIATES IN SIMULATIONS!
13-15-2-1 DEVIATES IN SIMULATIONS!
13-14-2-1 DEVIATES IN SIMULATIONS!
11-14-2-1 DEVIATES IN SIMULATIONS!
11-15-2-1 DEVIATES IN SIMULATIONS!
11-13-2-1 DEVIATES IN SIMULATIONS!

In [7]:
run_baseline_df = load_df('baseline.pkl')
run_baseline_df

,instance,best obj,worst obj,constr obj,obj,max time,min time,time,max iter,min iter,best found iter,iter,sp improv (#),ls improv (#),best ls improv (%),dr improv (#),best sol found by
0,11-12-2-1,3587.5,3587.5,4632.1,3587.5,39.8,39.8,39.8,5000,5000,14.0,5000.0,0.0,3.0,0.1,2.0,[local_search]
1,11-12-2-2,3788.9,3788.9,4537.1,3788.9,51.9,51.9,51.9,5000,5000,399.0,5000.0,1.0,7.0,0.1,4.0,[destroy_repair]
2,11-13-2-1,3470.8,3470.8,3775.7,3470.8,72.2,72.2,72.2,5000,5000,0.0,5000.0,0.0,1.0,0.1,0.0,[local_search]
3,11-14-2-1,3710.8,3710.8,4341.0,3710.8,60.3,60.3,60.3,5000,5000,32.0,5000.0,0.0,5.0,0.1,2.0,[destroy_repair]
4,11-15-2-1,3029.7,3029.7,3751.7,3029.7,26.3,26.3,26.3,5000,5000,51.0,5000.0,0.0,2.0,0.1,4.0,[destroy_repair]
5,13-14-2-1,3681.9,3681.9,4682.3,3681.9,92.0,92.0,92.0,5000,5000,110.0,5000.0,0.0,2.0,0.1,1.0,[local_search]
6,13-15-2-1,4122.6,4122.6,7788.3,4122.6,148.5,148.5,148.5,5000,5000,5.0,5000.0,0.0,3.0,0.2,0.0,[local_search]
7,13-15-2-2,3779.4,3779.4,7035.4,3779.4,56.8,56.8,56.8,5000,5000,25.0,5000.0,0.0,3.0,0.2,2.0,[destroy_repair]
8,13-16-2-1,4239.6,4239.6,5545.6,4239.6,124.4,124.4,124.4,5000,5000,26.0,5000.0,0.0,3.0,0.1,0.0,[local_search]
9,13-18-2-1,4029.1,4029.1,5055.4,4029.1,238.7,238.7,238.7,5000,5000,133.0,5000.0,0.0,3.0,0.2,2.0,[destroy_repair]
10,Mean values,3744.0,3744.0,5114.4,3744.0,91.1,91.1,91.1,5000.0,5000.0,79.5,5000.0,0.1,3.2,0.1,1.7,Manual

In [8]:
run_baseline_agg_df = load_df('baseline_agg.pkl')
run_baseline_agg_df

,instance_group,best obj,worst obj,constr obj,obj,max time,min time,time,max iter,min iter,best found iter,iter,sp improv (#),ls improv (#),best ls improv (%),dr improv (#)
0,11,3517.5,3517.5,4207.5,3517.5,50.1,50.1,50.1,5000.0,5000.0,99.2,5000.0,0.2,3.6,0.1,2.4
1,13,3970.5,3970.5,6021.4,3970.5,132.1,132.1,132.1,5000.0,5000.0,59.8,5000.0,0.0,2.8,0.2,1.0
2,Mean values,3744.0,3744.0,5114.5,3744.0,91.1,91.1,91.1,5000.0,5000.0,79.5,5000.0,0.1,3.2,0.1,1.7

## Sequential ALNS

In [101]:
if generate_df:
    run_sequential_name = 'first/sequential/'
    run_sequential_df = generate_run_df_alns(run_sequential_name)
    run_sequential_agg_df = aggregate_df_by_instance_group_alns(run_sequential_df)

    run_sequential_file_name = f'dataframes/performance/sequential.pkl'
    run_sequential_agg_file_name = f'dataframes/performance/sequential_agg.pkl'
    run_sequential_df.to_pickle(run_sequential_file_name)
    run_sequential_agg_df.to_pickle(run_sequential_agg_file_name)

In [102]:
run_sequential_df = load_df('sequential.pkl')
run_sequential_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,0.7,0.7,0.7,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,0.7,0.7,0.7,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,0.8,0.8,0.8,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.4,1.3,1.3,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.2,1.2,1.2,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,2.2,1.9,2.1,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,5.6,5.4,5.5,5000,5000,5000.0,0.0
7,7-8-1-3,2071.9,2071.9,2071.9,3.6,3.4,3.5,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,4.8,4.7,4.8,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,6.7,6.3,6.6,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,6.9,6.5,6.8,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,10.1,9.6,9.9,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,10.3,8.0,8.8,5000,5000,5000.0,0.0
13,9-11-1-1,7958.7,7958.7,7958.7,15.7,12.8,14.5,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,11.1,10.4,10.7,5000,5000,5000.0,0.0
15,11-12-2-1,3587.5,3587.5,3587.5,26.7,24.1,25.4,5000,5000,5000.0,0.0
16,11-12-2-2,3788.9,3788.9,3788.9,22.9,19.8,21.4,5000,5000,5000.0,0.0
17,11-13-2-1,3470.8,3470.8,3470.8,25.0,20.8,23.0,5000,5000,5000.0,0.0
18,11-14-2-1,3710.8,3710.8,3710.8,41.5,38.0,39.6,5000,5000,5000.0,0.0
19,11-15-2-1,3029.7,3029.7,3029.7,33.6,27.3,30.6,5000,5000,5000.0,0.0
20,13-14-2-1,3681.9,3681.9,3681.9,81.6,74.4,78.7,5000,5000,5000.0,0.0
21,13-15-2-1,4122.6,4122.6,4122.6,76.2,67.1,69.8,5000,5000,5000.0,0.0
22,13-15-2-2,3779.4,3779.4,3779.4,43.8,34.0,38.9,5000,5000,5000.0,0.0
23,13-16-2-1,4239.6,4239.6,4239.6,55.7,45.3,49.8,5000,5000,5000.0,0.0
24,13-18-2-1,4029.1,4029.1,4029.1,79.8,61.1,71.3,5000,5000,5000.0,0.0
25,15-15-2-1,4117.4,4117.4,4117.4,58.6,52.6,55.1,5000,5000,5000.0,0.0
26,15-17-2-1,11659.1,11679.3,11663.1,55.0,44.2,50.2,5000,5000,5000.0,0.0
27,15-18-2-1,6525.0,17609.3,15348.2,60.7,51.8,55.7,5000,5000,5000.0,0.0
28,15-18-2-2,4294.6,4294.6,4294.6,82.1,72.3,78.7,5000,5000,5000.0,0.0
29,15-21-2-1,4298.8,4298.8,4298.8,177.1,153.7,163.6,5000,5000,5000.0,0.0
30,17-18-3-1,3982.2,4351.1,4244.5,144.6,80.6,113.6,5000,5000,5000.0,0.0
31,17-19-3-1,4957.9,5075.4,5042.4,185.1,167.8,176.4,5000,5000,5000.0,0.0
32,17-19-3-2,5036.2,5036.2,5036.2,71.3,58.0,64.6,5000,5000,5000.0,0.0
33,17-22-3-1,5262.7,5274.8,5267.5,163.5,136.1,150.6,5000,5000,5000.0,0.0
34,17-23-3-1,4900.6,5196.4,5125.6,193.6,177.5,188.6,5000,5000,5000.0,0.0
35,19-19-3-1,4645.3,5251.2,5013.8,153.6,133.6,140.4,5000,5000,5000.0,0.0
36,19-21-3-1,5334.0,5479.0,5432.5,162.1,139.7,151.0,5000,5000,5000.0,0.0
37,19-21-3-2,4514.4,4971.4,4880.0,233.1,193.1,218.9,5000,5000,5000.0,0.0
38,19-22-3-1,4949.9,4949.9,4949.9,69.2,63.9,67.1,5000,5000,5000.0,0.0
39,19-25-3-1,5191.0,5214.1,5203.0,335.2,300.8,317.0,5000,5000,5000.0,0.0
40,21-23-3-1,5591.6,5592.4,5591.9,109.7,91.6,101.9,5000,5000,5000.0,0.0
41,21-23-3-2,4742.1,4926.7,4882.4,400.8,348.2,363.9,5000,5000,5000.0,0.0
42,21-24-3-1,4532.7,5324.2,5114.0,256.2,222.5,237.9,5000,5000,5000.0,0.0
43,21-26-3-1,14022.8,14097.1,14057.1,186.2,154.3,174.2,5000,5000,5000.0,0.0
44,21-28-3-1,12924.2,16722.3,15939.2,238.8,189.7,211.9,5000,5000,5000.0,0.0
45,23-24-4-1,5141.1,5221.1,5157.1,312.8,281.5,297.8,5000,5000,5000.0,0.0
46,23-25-4-1,4916.8,5645.4,5448.3,339.1,322.2,330.6,5000,5000,5000.0,0.0
47,23-27-4-1,5464.4,5799.8,5612.8,278.0,214.0,239.3,5000,5000,5000.0,0.0
48,23-30-4-1,5681.4,6154.7,6053.4,497.3,463.9,480.6,5000,5000,5000.0,0.0
49,23-31-4-1,6893.5,7156.8,7088.0,378.6,349.5,364.6,5000,5000,5000.0,0.0
50,25-26-4-1,6240.4,6569.6,6395.2,361.5,336.7,349.8,5000,5000,5000.0,0.0
51,25-28-4-1,6936.8,6997.7,6963.3,268.0,211.2,239.6,5000,5000,5000.0,0.0
52,25-29-4-1,6492.9,6759.7,6687.9,313.2,276.9,294.0,5000,5000,5000.0,0.0
53,25-30-4-1,5372.6,5849.7,5732.5,506.1,398.3,452.1,5000,5000,5000.0,0.0
54,25-33-4-1,7141.0,7179.9,7158.5,511.0,449.2,478.7,5000,5000,5000.0,0.0
55,27-28-5-1,8045.8,8190.1,8114.9,199.3,191.6,196.2,5000,5000,5000.0,0.0
56,27-29-5-1,6873.2,7024.9,6983.9,386.2,356.6,369.2,5000,5000,5000.0,0.0
57,27-32-5-1,8713.0,8789.1,8753.9,351.6,333.5,343.0,5000,5000,5000.0,0.0
58,27-35-5-1,8359.2,8822.5,8695.8,324.8,296.4,305.3,5000,5000,5000.0,0.0
59,27-37-5-1,9464.9,10175.0,9913.8,386.0,349.0,370.3,5000,5000,5000.0,0.0
60,Mean values,5172.5,5548.8,5456.6,155.3,135.8,145.3,5000.0,5000.0,5000.0,0.0

In [103]:
run_sequential_agg_df = load_df('sequential_agg.pkl')
run_sequential_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,1.0,0.9,0.9,5000.0,5000.0,5000.0,0.0
1,7,2093.3,2093.3,2093.3,4.6,4.3,4.5,5000.0,5000.0,5000.0,0.0
2,9,5627.5,5627.5,5627.5,10.8,9.5,10.1,5000.0,5000.0,5000.0,0.0
3,11,3517.5,3517.5,3517.5,29.9,26.0,28.0,5000.0,5000.0,5000.0,0.0
4,13,3970.5,3970.5,3970.5,67.4,56.4,61.7,5000.0,5000.0,5000.0,0.0
5,15,6179.0,8399.9,7944.4,86.7,74.9,80.7,5000.0,5000.0,5000.0,0.0
6,17,4827.9,4986.8,4943.2,151.6,124.0,138.8,5000.0,5000.0,5000.0,0.0
7,19,4926.9,5173.1,5095.8,190.6,166.2,178.9,5000.0,5000.0,5000.0,0.0
8,21,8362.7,9332.5,9116.9,238.3,201.3,218.0,5000.0,5000.0,5000.0,0.0
9,23,5619.4,5995.6,5871.9,361.2,326.2,342.6,5000.0,5000.0,5000.0,0.0
10,25,6436.7,6671.3,6587.5,392.0,334.5,362.8,5000.0,5000.0,5000.0,0.0
11,27,8291.2,8600.3,8492.5,329.6,305.4,316.8,5000.0,5000.0,5000.0,0.0
12,Mean values,5172.5,5548.8,5456.6,155.3,135.8,145.3,5000.0,5000.0,5000.0,0.0

## LNS

In [104]:
if generate_df:
    run_lns_name = f'{run_number}/lns/'
    run_lns_df = generate_run_df_alns(run_lns_name)
    run_lns_agg_df = aggregate_df_by_instance_group_alns(run_lns_df)

    run_lns_file_name = f'dataframes/performance/lns.pkl'
    run_lns_agg_file_name = f'dataframes/performance/lns_agg.pkl'
    run_lns_df.to_pickle(run_lns_file_name)
    run_lns_agg_df.to_pickle(run_lns_agg_file_name)

11-12-2-2 HAS LESS THAN FIVE SIMULATIONS!

In [105]:
run_lns_df = load_df('lns.pkl')
run_lns_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,0.7,0.7,0.7,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,0.7,0.7,0.7,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,0.9,0.8,0.8,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.3,1.2,1.3,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.2,1.1,1.1,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,2.0,1.7,1.8,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,1.8,1.6,1.7,5000,5000,5000.0,0.0
7,7-8-1-3,2080.2,2080.2,2080.2,2.0,1.9,1.9,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,4.4,4.1,4.3,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,2.7,2.2,2.4,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,4.4,3.7,4.1,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,8.1,7.2,7.6,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,3.6,2.3,2.8,5000,5000,5000.0,0.0
13,9-11-1-1,7958.7,7958.7,7958.7,5.8,4.6,4.9,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,4.4,2.8,3.5,5000,5000,5000.0,0.0
15,11-12-2-1,3587.5,3587.5,3587.5,19.6,18.2,19.0,5000,5000,5000.0,0.0
16,11-12-2-2,3788.9,3788.9,3031.2,17.4,14.7,12.7,5000,5000,4000.0,0.0
17,11-13-2-1,3470.8,3470.8,3470.8,21.0,18.6,19.7,5000,5000,5000.0,0.0
18,11-14-2-1,3710.8,3710.8,3710.8,22.6,19.7,21.7,5000,5000,5000.0,0.0
19,11-15-2-1,3029.7,3029.7,3029.7,18.2,15.3,17.0,5000,5000,5000.0,0.0
20,13-14-2-1,3681.9,3681.9,3681.9,32.4,30.8,31.4,5000,5000,5000.0,0.0
21,13-15-2-1,4122.6,4122.6,4122.6,33.4,31.8,32.3,5000,5000,5000.0,0.0
22,13-15-2-2,3779.4,3779.4,3779.4,22.9,20.3,21.9,5000,5000,5000.0,0.0
23,13-16-2-1,4239.6,4239.6,4239.6,37.5,31.0,34.4,5000,5000,5000.0,0.0
24,13-18-2-1,4029.1,4029.1,4029.1,47.9,38.1,41.6,5000,5000,5000.0,0.0
25,15-15-2-1,4117.5,4117.7,4117.6,29.9,25.0,27.2,5000,5000,5000.0,0.0
26,15-17-2-1,11659.1,11667.4,11660.8,38.3,34.3,36.6,5000,5000,5000.0,0.0
27,15-18-2-1,17502.4,17740.2,17622.4,27.6,25.8,26.7,5000,5000,5000.0,0.0
28,15-18-2-2,4294.6,4294.6,4294.6,46.5,37.0,43.7,5000,5000,5000.0,0.0
29,15-21-2-1,4303.6,4319.5,4306.8,58.3,48.5,53.7,5000,5000,5000.0,0.0
30,17-18-3-1,4260.1,4323.3,4275.1,59.2,47.3,51.8,5000,5000,5000.0,0.0
31,17-19-3-1,5075.4,5075.4,5075.4,68.0,60.8,64.9,5000,5000,5000.0,0.0
32,17-19-3-2,5036.2,5036.2,5036.2,44.2,38.0,40.7,5000,5000,5000.0,0.0
33,17-22-3-1,5262.7,5291.8,5275.8,57.3,46.0,51.4,5000,5000,5000.0,0.0
34,17-23-3-1,5196.2,5223.7,5209.5,74.0,67.0,70.3,5000,5000,5000.0,0.0
35,19-19-3-1,5189.2,5253.3,5210.6,81.2,65.0,72.5,5000,5000,5000.0,0.0
36,19-21-3-1,5479.0,5486.0,5481.8,70.6,65.1,67.0,5000,5000,5000.0,0.0
37,19-21-3-2,4971.4,4978.1,4972.7,80.5,72.5,76.3,5000,5000,5000.0,0.0
38,19-22-3-1,4949.9,4949.9,4949.9,43.1,39.5,40.7,5000,5000,5000.0,0.0
39,19-25-3-1,5178.1,5261.6,5217.5,112.6,90.2,100.6,5000,5000,5000.0,0.0
40,21-23-3-1,5591.6,5592.3,5591.7,64.1,59.2,61.8,5000,5000,5000.0,0.0
41,21-23-3-2,4908.8,5004.3,4951.7,106.6,95.1,101.7,5000,5000,5000.0,0.0
42,21-24-3-1,5324.2,5363.2,5340.0,90.0,84.4,86.8,5000,5000,5000.0,0.0
43,21-26-3-1,14026.9,14113.3,14059.7,80.1,60.9,73.2,5000,5000,5000.0,0.0
44,21-28-3-1,16641.3,16728.6,16695.1,96.8,80.6,90.9,5000,5000,5000.0,0.0
45,23-24-4-1,5141.1,5246.2,5162.1,103.3,89.9,95.7,5000,5000,5000.0,0.0
46,23-25-4-1,5681.6,5739.1,5693.1,145.0,130.3,136.0,5000,5000,5000.0,0.0
47,23-27-4-1,5756.7,5799.8,5765.3,97.9,87.1,92.6,5000,5000,5000.0,0.0
48,23-30-4-1,6113.4,6172.8,6134.8,179.0,147.7,166.4,5000,5000,5000.0,0.0
49,23-31-4-1,7104.2,7201.9,7160.4,147.4,134.8,142.8,5000,5000,5000.0,0.0
50,25-26-4-1,6531.3,6552.0,6539.9,155.5,135.8,146.9,5000,5000,5000.0,0.0
51,25-28-4-1,6936.8,6993.4,6975.3,118.6,104.5,109.4,5000,5000,5000.0,0.0
52,25-29-4-1,6722.5,6784.4,6759.4,104.6,97.6,101.5,5000,5000,5000.0,0.0
53,25-30-4-1,5825.3,5854.7,5831.2,212.8,193.6,202.9,5000,5000,5000.0,0.0
54,25-33-4-1,7135.4,7200.4,7160.6,179.0,161.7,170.8,5000,5000,5000.0,0.0
55,27-28-5-1,8005.9,8234.5,8094.9,89.6,81.4,86.1,5000,5000,5000.0,0.0
56,27-29-5-1,7005.2,7109.4,7054.2,159.3,139.8,147.4,5000,5000,5000.0,0.0
57,27-32-5-1,8713.0,8890.4,8772.3,158.9,136.4,148.1,5000,5000,5000.0,0.0
58,27-35-5-1,8734.7,8927.2,8798.8,156.4,136.5,146.0,5000,5000,5000.0,0.0
59,27-37-5-1,9519.8,9926.1,9741.6,171.8,156.9,163.4,5000,5000,5000.0,0.0
60,Mean values,5517.3,5559.9,5522.9,63.7,55.9,59.8,5000.0,5000.0,4983.3,0.0

In [106]:
run_lns_agg_df = load_df('lns_agg.pkl')
run_lns_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,1.0,0.9,0.9,5000.0,5000.0,5000.0,0.0
1,7,2095.0,2095.0,2095.0,2.6,2.3,2.4,5000.0,5000.0,5000.0,0.0
2,9,5627.5,5627.5,5627.5,5.3,4.1,4.6,5000.0,5000.0,5000.0,0.0
3,11,3517.5,3517.5,3366.0,19.8,17.3,18.0,5000.0,5000.0,4800.0,0.0
4,13,3970.5,3970.5,3970.5,34.8,30.4,32.3,5000.0,5000.0,5000.0,0.0
5,15,8375.4,8427.9,8400.4,40.1,34.1,37.6,5000.0,5000.0,5000.0,0.0
6,17,4966.1,4990.1,4974.4,60.5,51.8,55.8,5000.0,5000.0,5000.0,0.0
7,19,5153.5,5185.8,5166.5,77.6,66.5,71.4,5000.0,5000.0,5000.0,0.0
8,21,9298.6,9360.3,9327.6,87.5,76.0,82.9,5000.0,5000.0,5000.0,0.0
9,23,5959.4,6032.0,5983.1,134.5,118.0,126.7,5000.0,5000.0,5000.0,0.0
10,25,6630.3,6677.0,6653.3,154.1,138.6,146.3,5000.0,5000.0,5000.0,0.0
11,27,8395.7,8617.5,8492.4,147.2,130.2,138.2,5000.0,5000.0,5000.0,0.0
12,Mean values,5517.3,5559.9,5522.9,63.7,55.9,59.8,5000.0,5000.0,4983.3,0.0

## ALNS + local search

In [107]:
if generate_df:
    run_ls_name = f'{run_number}/ls/'
    run_ls_df = generate_run_df_alns(run_ls_name)
    run_ls_agg_df = aggregate_df_by_instance_group_alns(run_ls_df)

    run_ls_file_name = f'dataframes/performance/ls.pkl'
    run_ls_agg_file_name = f'dataframes/performance/ls_agg.pkl'
    run_ls_df.to_pickle(run_ls_file_name)
    run_ls_agg_df.to_pickle(run_ls_agg_file_name)

In [108]:
run_ls_df = load_df('ls.pkl')
run_ls_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,1.6,1.5,1.5,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,1.4,1.3,1.3,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,1.6,1.5,1.6,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,2.3,2.2,2.2,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.9,1.8,1.9,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,4.5,4.3,4.4,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,4.3,3.5,4.0,5000,5000,5000.0,0.0
7,7-8-1-3,2080.2,2080.2,2080.2,4.7,4.6,4.6,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,7.4,7.1,7.3,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,5.7,5.1,5.2,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,7.6,7.3,7.5,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,14.5,13.5,13.9,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,6.2,4.8,5.4,5000,5000,5000.0,0.0
13,9-11-1-1,7958.7,7958.7,7958.7,11.0,9.6,10.0,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,7.1,5.9,6.4,5000,5000,5000.0,0.0
15,11-12-2-1,3587.5,3587.5,3587.5,52.4,47.6,50.8,5000,5000,5000.0,0.0
16,11-12-2-2,3788.9,3788.9,3788.9,54.2,49.3,51.9,5000,5000,5000.0,0.0
17,11-13-2-1,3470.8,3470.8,3470.8,65.2,56.4,62.0,5000,5000,5000.0,0.0
18,11-14-2-1,3710.8,3710.8,3710.8,65.8,60.5,62.1,5000,5000,5000.0,0.0
19,11-15-2-1,3029.7,3029.7,3029.7,39.2,32.5,35.6,5000,5000,5000.0,0.0
20,13-14-2-1,3681.9,3681.9,3681.9,99.5,85.9,90.8,5000,5000,5000.0,0.0
21,13-15-2-1,4122.6,4122.6,4122.6,102.1,94.0,97.1,5000,5000,5000.0,0.0
22,13-15-2-2,3779.4,3779.4,3779.4,56.8,38.0,52.3,5000,5000,5000.0,0.0
23,13-16-2-1,4239.6,4239.6,4239.6,94.4,86.6,90.6,5000,5000,5000.0,0.0
24,13-18-2-1,4029.1,4029.1,4029.1,130.5,122.5,126.7,5000,5000,5000.0,0.0
25,15-15-2-1,4117.5,4117.5,4117.5,98.5,87.3,94.3,5000,5000,5000.0,0.0
26,15-17-2-1,11659.1,11659.1,11659.1,66.5,58.9,63.5,5000,5000,5000.0,0.0
27,15-18-2-1,17502.4,17588.7,17537.4,94.2,83.6,88.6,5000,5000,5000.0,0.0
28,15-18-2-2,4294.6,4294.6,4294.6,110.1,93.0,104.0,5000,5000,5000.0,0.0
29,15-21-2-1,4303.6,4319.5,4306.8,123.7,88.3,112.1,5000,5000,5000.0,0.0
30,17-18-3-1,4260.1,4260.1,4260.1,169.9,124.6,154.5,5000,5000,5000.0,0.0
31,17-19-3-1,5075.4,5075.4,5075.4,315.6,271.5,295.8,5000,5000,5000.0,0.0
32,17-19-3-2,5036.2,5036.2,5036.2,133.0,117.6,124.5,5000,5000,5000.0,0.0
33,17-22-3-1,5262.7,5262.7,5262.7,184.2,175.1,181.0,5000,5000,5000.0,0.0
34,17-23-3-1,5196.2,5223.5,5203.7,186.4,160.6,177.0,5000,5000,5000.0,0.0
35,19-19-3-1,5189.2,5225.3,5200.7,353.3,296.7,318.2,5000,5000,5000.0,0.0
36,19-21-3-1,5479.0,5486.0,5480.4,274.0,262.3,268.1,5000,5000,5000.0,0.0
37,19-21-3-2,4971.4,4971.4,4971.4,285.5,268.8,279.0,5000,5000,5000.0,0.0
38,19-22-3-1,4949.9,4949.9,4949.9,89.3,75.3,83.5,5000,5000,5000.0,0.0
39,19-25-3-1,5178.1,5191.0,5180.7,326.1,298.9,314.9,5000,5000,5000.0,0.0
40,21-23-3-1,5591.6,5592.3,5591.9,153.1,148.7,150.2,5000,5000,5000.0,0.0
41,21-23-3-2,4908.8,4924.8,4915.2,327.9,270.6,303.5,5000,5000,5000.0,0.0
42,21-24-3-1,5324.2,5324.2,5324.2,301.0,244.0,270.8,5000,5000,5000.0,0.0
43,21-26-3-1,13999.4,14101.7,14036.4,160.2,128.8,138.0,5000,5000,5000.0,0.0
44,21-28-3-1,16655.6,16733.9,16708.5,201.3,192.0,196.4,5000,5000,5000.0,0.0
45,23-24-4-1,5141.1,5237.7,5160.4,311.4,285.4,296.4,5000,5000,5000.0,0.0
46,23-25-4-1,5681.6,5722.5,5694.8,631.4,611.8,620.7,4542,4207,4373.6,0.0
47,23-27-4-1,5756.7,5756.7,5756.7,273.9,234.7,258.2,5000,5000,5000.0,0.0
48,23-30-4-1,6113.4,6113.4,6113.4,625.9,611.5,617.6,4968,4562,4756.6,0.0
49,23-31-4-1,7124.9,7151.1,7133.0,422.9,383.5,410.6,5000,5000,5000.0,0.0
50,25-26-4-1,6537.7,6552.7,6545.3,626.8,600.1,615.0,4658,4558,4607.2,0.0
51,25-28-4-1,6936.8,6976.9,6947.0,357.9,338.8,353.0,5000,5000,5000.0,0.0
52,25-29-4-1,6722.5,6764.2,6734.7,244.9,223.3,237.5,5000,5000,5000.0,0.0
53,25-30-4-1,5825.3,5854.0,5831.0,613.3,600.9,605.5,3662,2818,3221.4,0.0
54,25-33-4-1,7113.9,7221.7,7158.3,628.3,610.6,618.0,4416,3919,4234.4,0.0
55,27-28-5-1,8020.0,8173.0,8095.2,223.4,217.5,220.6,5000,5000,5000.0,0.0
56,27-29-5-1,7004.6,7047.3,7015.3,608.1,431.4,531.2,5000,4755,4951.0,0.0
57,27-32-5-1,8732.8,8764.0,8747.5,553.7,441.8,501.2,5000,5000,5000.0,0.0
58,27-35-5-1,8760.6,8799.1,8772.3,351.2,332.8,341.5,5000,5000,5000.0,0.0
59,27-37-5-1,9543.9,10084.0,9830.8,268.5,247.7,256.7,5000,5000,5000.0,0.0
60,Mean values,5518.5,5545.0,5529.8,192.3,172.8,183.3,4954.1,4913.65,4935.7,0.0

In [109]:
run_ls_agg_df = load_df('ls_agg.pkl')
run_ls_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,1.8,1.7,1.7,5000.0,5000.0,5000.0,0.0
1,7,2095.0,2095.0,2095.0,5.3,4.9,5.1,5000.0,5000.0,5000.0,0.0
2,9,5627.5,5627.5,5627.5,9.3,8.2,8.6,5000.0,5000.0,5000.0,0.0
3,11,3517.5,3517.5,3517.5,55.4,49.3,52.5,5000.0,5000.0,5000.0,0.0
4,13,3970.5,3970.5,3970.5,96.7,85.4,91.5,5000.0,5000.0,5000.0,0.0
5,15,8375.4,8395.9,8383.1,98.6,82.2,92.5,5000.0,5000.0,5000.0,0.0
6,17,4966.1,4971.6,4967.6,197.8,169.9,186.6,5000.0,5000.0,5000.0,0.0
7,19,5153.5,5164.7,5156.6,265.6,240.4,252.7,5000.0,5000.0,5000.0,0.0
8,21,9295.9,9335.4,9315.2,228.7,196.8,211.8,5000.0,5000.0,5000.0,0.0
9,23,5963.5,5996.3,5971.7,453.1,425.4,440.7,4902.0,4753.8,4826.0,0.0
10,25,6627.2,6673.9,6643.3,494.2,474.7,485.8,4547.2,4259.0,4412.6,0.0
11,27,8412.4,8573.5,8492.2,401.0,334.2,370.2,5000.0,4951.0,4990.2,0.0
12,Mean values,5518.5,5545.0,5529.8,192.3,172.8,183.3,4954.1,4913.7,4935.7,0.0

## ALNS + set partitioning

In [110]:
if generate_df: 
    run_sp_name = f'{run_number}/sp/'
    run_sp_df = generate_run_df_alns(run_sp_name)
    run_sp_agg_df = aggregate_df_by_instance_group_alns(run_sp_df)

    run_sp_file_name = f'dataframes/performance/sp.pkl'
    run_sp_agg_file_name = f'dataframes/performance/sp_agg.pkl'
    run_sp_df.to_pickle(run_sp_file_name)
    run_sp_agg_df.to_pickle(run_sp_agg_file_name)

21-26-3-1 HAS LESS THAN FIVE SIMULATIONS!

In [111]:
run_sp_df = load_df('sp.pkl')
run_sp_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,0.8,0.8,0.8,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,0.7,0.7,0.7,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,1.0,0.9,0.9,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.4,1.3,1.4,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.3,1.3,1.3,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,2.1,1.8,2.0,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,2.1,1.8,1.9,5000,5000,5000.0,0.0
7,7-8-1-3,2080.2,2080.2,2080.2,2.2,2.1,2.2,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,5.3,4.7,5.0,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,3.3,2.5,2.9,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,5.1,4.4,4.7,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,10.0,8.9,9.3,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,3.9,3.2,3.7,5000,5000,5000.0,0.2
13,9-11-1-1,7958.7,7958.7,7958.7,6.0,5.5,5.7,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,4.5,3.6,4.1,5000,5000,5000.0,0.0
15,11-12-2-1,3587.5,3587.5,3587.5,22.7,21.5,22.1,5000,5000,5000.0,0.0
16,11-12-2-2,3788.9,3788.9,3788.9,20.2,17.7,18.7,5000,5000,5000.0,0.2
17,11-13-2-1,3470.8,3470.8,3470.8,26.1,22.2,24.4,5000,5000,5000.0,0.0
18,11-14-2-1,3710.8,3710.8,3710.8,31.2,27.2,29.1,5000,5000,5000.0,0.0
19,11-15-2-1,3029.7,3029.7,3029.7,24.1,18.7,21.2,5000,5000,5000.0,0.0
20,13-14-2-1,3681.9,3681.9,3681.9,40.3,37.2,38.9,5000,5000,5000.0,0.2
21,13-15-2-1,4122.6,4122.6,4122.6,47.6,36.6,43.2,5000,5000,5000.0,0.0
22,13-15-2-2,3779.4,3779.4,3779.4,31.6,26.7,29.6,5000,5000,5000.0,0.0
23,13-16-2-1,4239.6,4239.6,4239.6,47.8,44.5,46.6,5000,5000,5000.0,0.0
24,13-18-2-1,4029.1,4029.1,4029.1,68.9,60.5,64.2,5000,5000,5000.0,0.0
25,15-15-2-1,4117.5,4134.6,4120.9,40.4,30.4,35.4,5000,5000,5000.0,0.2
26,15-17-2-1,11659.1,11659.1,11659.1,53.6,44.2,49.5,5000,5000,5000.0,1.4
27,15-18-2-1,17502.4,17564.7,17524.8,47.3,39.7,43.7,5000,5000,5000.0,2.2
28,15-18-2-2,4294.6,4294.6,4294.6,65.6,55.2,60.8,5000,5000,5000.0,0.0
29,15-21-2-1,4303.6,4319.5,4306.8,90.4,65.5,79.1,5000,5000,5000.0,0.0
30,17-18-3-1,4260.1,4271.7,4262.4,82.2,62.9,71.3,5000,5000,5000.0,0.4
31,17-19-3-1,5075.4,5075.4,5075.4,110.2,80.1,97.4,5000,5000,5000.0,0.0
32,17-19-3-2,5036.2,5036.2,5036.2,67.8,55.3,60.4,5000,5000,5000.0,1.0
33,17-22-3-1,5262.7,5295.3,5277.5,86.6,65.1,77.8,5000,5000,5000.0,2.6
34,17-23-3-1,5196.2,5196.2,5196.2,153.2,125.3,138.0,5000,5000,5000.0,2.6
35,19-19-3-1,5189.2,5189.2,5189.2,174.6,157.3,163.6,5000,5000,5000.0,2.4
36,19-21-3-1,5479.0,5486.0,5480.4,121.5,99.6,112.2,5000,5000,5000.0,2.8
37,19-21-3-2,4971.4,4978.1,4974.1,162.2,137.3,147.7,5000,5000,5000.0,1.2
38,19-22-3-1,4949.9,4949.9,4949.9,64.2,47.8,55.1,5000,5000,5000.0,0.6
39,19-25-3-1,5178.1,5211.8,5191.5,228.1,179.8,206.4,5000,5000,5000.0,2.4
40,21-23-3-1,5591.6,5591.6,5591.6,96.8,89.7,93.9,5000,5000,5000.0,1.0
41,21-23-3-2,4908.8,4924.8,4915.2,302.6,265.9,279.5,5000,5000,5000.0,2.6
42,21-24-3-1,5324.2,5344.2,5332.2,173.0,110.9,137.7,5000,5000,5000.0,1.2
43,21-26-3-1,13986.0,14026.9,11207.0,121.5,107.6,93.6,5000,5000,4000.0,4.4
44,21-28-3-1,16491.8,16695.2,16544.4,207.5,156.5,182.3,5000,5000,5000.0,3.6
45,23-24-4-1,5141.1,5237.9,5160.5,268.7,168.2,211.2,5000,5000,5000.0,2.6
46,23-25-4-1,5681.6,5683.0,5682.3,411.8,330.2,368.4,5000,5000,5000.0,2.4
47,23-27-4-1,5756.7,5799.8,5773.9,206.8,147.4,168.2,5000,5000,5000.0,0.4
48,23-30-4-1,6113.4,6162.1,6127.4,457.7,351.6,377.5,5000,5000,5000.0,2.4
49,23-31-4-1,7104.2,7124.9,7114.0,377.9,313.7,346.3,5000,5000,5000.0,4.4
50,25-26-4-1,6531.3,6545.7,6537.9,528.2,453.0,487.5,5000,5000,5000.0,3.4
51,25-28-4-1,6936.8,6947.8,6939.0,238.4,181.8,198.3,5000,5000,5000.0,2.8
52,25-29-4-1,6722.5,6737.3,6725.5,232.5,193.0,211.3,5000,5000,5000.0,2.2
53,25-30-4-1,5825.3,5825.3,5825.3,604.8,507.8,553.1,5000,5000,5000.0,1.4
54,25-33-4-1,7113.9,7144.7,7131.9,429.7,401.3,415.0,5000,5000,5000.0,3.6
55,27-28-5-1,8000.6,8034.9,8020.9,197.4,145.6,162.4,5000,5000,5000.0,4.8
56,27-29-5-1,6996.4,7007.3,7004.7,378.2,343.5,362.1,5000,5000,5000.0,5.0
57,27-32-5-1,8700.9,8724.3,8711.4,326.0,282.0,306.1,5000,5000,5000.0,5.8
58,27-35-5-1,8723.7,8748.5,8734.9,323.7,260.9,283.3,5000,5000,5000.0,4.0
59,27-37-5-1,9381.7,9601.8,9501.2,278.3,246.9,269.5,5000,5000,5000.0,5.6
60,Mean values,5510.8,5528.5,5471.0,135.3,111.0,121.5,5000.0,5000.0,4983.3,1.4

In [112]:
run_sp_agg_df = load_df('sp_agg.pkl')
run_sp_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,1.0,1.0,1.0,5000.0,5000.0,5000.0,0.0
1,7,2095.0,2095.0,2095.0,3.0,2.6,2.8,5000.0,5000.0,5000.0,0.0
2,9,5627.5,5627.5,5627.5,5.9,5.1,5.5,5000.0,5000.0,5000.0,0.0
3,11,3517.5,3517.5,3517.5,24.9,21.5,23.1,5000.0,5000.0,5000.0,0.0
4,13,3970.5,3970.5,3970.5,47.2,41.1,44.5,5000.0,5000.0,5000.0,0.0
5,15,8375.4,8394.5,8381.2,59.5,47.0,53.7,5000.0,5000.0,5000.0,0.8
6,17,4966.1,4975.0,4969.5,100.0,77.7,89.0,5000.0,5000.0,5000.0,1.3
7,19,5153.5,5163.0,5157.0,150.1,124.4,137.0,5000.0,5000.0,5000.0,1.9
8,21,9260.5,9316.5,8718.1,180.3,146.1,157.4,5000.0,5000.0,4800.0,2.6
9,23,5959.4,6001.5,5971.6,344.6,262.2,294.3,5000.0,5000.0,5000.0,2.4
10,25,6626.0,6640.2,6631.9,406.7,347.4,373.0,5000.0,5000.0,5000.0,2.7
11,27,8360.7,8423.4,8394.6,300.7,255.8,276.7,5000.0,5000.0,5000.0,5.0
12,Mean values,5510.8,5528.5,5471.0,135.3,111.0,121.5,5000.0,5000.0,4983.3,1.4

## ALNS + local search + set partitioning

In [113]:
if generate_df:
    run_lssp_name = f'{run_number}/lssp/'
    run_lssp_df = generate_run_df_alns(run_lssp_name)
    run_lssp_agg_df = aggregate_df_by_instance_group_alns(run_lssp_df)

    run_lssp_file_name = f'dataframes/performance/lssp.pkl'
    run_lssp_agg_file_name = f'dataframes/performance/lssp_agg.pkl'
    run_lssp_df.to_pickle(run_lssp_file_name)
    run_lssp_agg_df.to_pickle(run_lssp_agg_file_name)

25-33-4-1 HAS LESS THAN FIVE SIMULATIONS!

In [114]:
run_lssp_df = load_df('lssp.pkl')
run_lssp_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,11-12-2-1,3587.5,3587.5,3587.5,57.4,50.9,54.8,5000,5000,5000.0,0.0
1,11-12-2-2,3788.9,3788.9,3788.9,65.0,59.0,62.6,5000,5000,5000.0,0.0
2,11-13-2-1,3470.8,3470.8,3470.8,82.6,71.7,78.3,5000,5000,5000.0,0.0
3,11-14-2-1,3710.8,3710.8,3710.8,82.0,76.1,78.9,5000,5000,5000.0,0.0
4,11-15-2-1,3029.7,3029.7,3029.7,51.3,44.5,47.8,5000,5000,5000.0,0.0
5,13-14-2-1,3681.9,3681.9,3681.9,133.6,117.6,123.2,5000,5000,5000.0,0.0
6,13-15-2-1,4122.6,4122.6,4122.6,126.1,114.1,121.0,5000,5000,5000.0,0.2
7,13-15-2-2,3779.4,3779.4,3779.4,80.7,66.9,71.9,5000,5000,5000.0,0.2
8,13-16-2-1,4239.6,4239.6,4239.6,146.5,123.3,134.4,5000,5000,5000.0,0.0
9,13-18-2-1,4029.1,4029.1,4029.1,302.7,226.7,252.2,5000,5000,5000.0,0.2
10,15-15-2-1,4117.5,4117.5,4117.5,135.1,102.4,121.5,5000,5000,5000.0,0.0
11,15-17-2-1,11659.1,11659.1,11659.1,85.6,81.1,83.3,5000,5000,5000.0,1.6
12,15-18-2-1,17502.4,17502.4,17502.4,143.2,136.1,139.4,5000,5000,5000.0,2.4
13,15-18-2-2,4294.6,4294.6,4294.6,212.9,155.3,188.7,5000,5000,5000.0,0.0
14,15-21-2-1,4303.6,4303.6,4303.6,230.6,144.2,200.9,5000,5000,5000.0,0.0
15,17-18-3-1,4260.1,4260.1,4260.1,487.4,389.1,459.4,5000,5000,5000.0,0.2
16,17-19-3-1,5075.4,5075.4,5075.4,600.8,600.0,600.4,3493,3155,3317.4,0.8
17,17-19-3-2,5036.2,5036.2,5036.2,216.6,178.1,198.4,5000,5000,5000.0,0.0
18,17-22-3-1,5262.7,5274.8,5265.1,608.3,360.1,502.0,5000,5000,5000.0,2.4
19,17-23-3-1,5196.2,5196.2,5196.2,484.6,403.2,447.8,5000,5000,5000.0,1.2
20,19-19-3-1,5189.2,5210.5,5193.5,607.8,600.1,601.8,2146,1991,2067.8,2.2
21,19-21-3-1,5479.0,5479.0,5479.0,600.7,600.1,600.4,2253,2087,2171.2,2.0
22,19-21-3-2,4971.4,4971.4,4971.4,600.7,600.0,600.2,3646,2873,3297.2,1.2
23,19-22-3-1,4949.9,4949.9,4949.9,118.9,108.7,114.8,5000,5000,5000.0,0.4
24,19-25-3-1,5178.1,5178.1,5178.1,600.7,600.1,600.4,2332,2135,2221.0,2.0
25,21-23-3-1,5591.6,5591.6,5591.6,429.5,344.8,389.4,5000,5000,5000.0,1.0
26,21-23-3-2,4908.8,4908.8,4908.8,600.8,600.1,600.5,3284,2548,2928.2,1.4
27,21-24-3-1,5324.2,5324.2,5324.2,600.7,487.9,577.9,5000,2254,3323.8,1.6
28,21-26-3-1,13903.5,13993.6,13942.8,386.0,190.3,292.2,5000,5000,5000.0,3.8
29,21-28-3-1,16205.8,16518.3,16434.9,638.5,402.8,538.2,5000,5000,5000.0,5.2
30,23-24-4-1,5141.1,5141.1,5141.1,600.8,600.1,600.5,3070,2372,2802.2,2.2
31,23-25-4-1,5681.6,5682.1,5681.7,600.8,600.3,600.6,1122,1007,1066.0,1.8
32,23-27-4-1,5756.7,5756.7,5756.7,600.7,600.0,600.3,4428,2747,3443.8,0.6
33,23-30-4-1,6113.4,6123.9,6117.6,600.6,600.1,600.3,1603,1504,1568.4,2.6
34,23-31-4-1,7104.2,7122.2,7114.4,605.3,600.6,601.9,1652,1500,1580.2,3.6
35,25-26-4-1,6535.7,6548.9,6539.3,600.9,600.1,600.5,1083,1013,1044.4,1.8
36,25-28-4-1,6936.8,6975.1,6944.5,600.9,600.0,600.4,2306,2036,2191.0,2.4
37,25-29-4-1,6722.5,6722.5,6722.5,613.5,600.0,602.8,4173,3434,3871.2,2.8
38,25-30-4-1,5825.3,5825.3,5825.3,601.5,600.1,600.5,1097,928,986.8,1.2
39,25-33-4-1,7127.8,7167.7,4286.2,601.3,600.5,360.6,1283,1200,737.8,1.8
40,Mean values,5969.9,5983.8,5906.3,388.6,350.9,366.3,3974.275,3744.6,3840.5,1.3

In [115]:
run_lssp_agg_df = load_df('lssp_agg.pkl')
run_lssp_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,11,3517.5,3517.5,3517.5,67.7,60.4,64.5,5000.0,5000.0,5000.0,0.0
1,13,3970.5,3970.5,3970.5,157.9,129.7,140.5,5000.0,5000.0,5000.0,0.1
2,15,8375.4,8375.4,8375.4,161.5,123.8,146.8,5000.0,5000.0,5000.0,0.8
3,17,4966.1,4968.5,4966.6,479.5,386.1,441.6,4698.6,4631.0,4663.5,0.9
4,19,5153.5,5157.8,5154.4,505.8,501.8,503.5,3075.4,2817.2,2951.4,1.6
5,21,9186.8,9267.3,9240.5,531.1,405.2,479.6,4656.8,3960.4,4250.4,2.6
6,23,5959.4,5965.2,5962.3,601.6,600.2,600.7,2375.0,1826.0,2092.1,2.2
7,25,6629.6,6647.9,6063.6,603.6,600.1,553.0,1988.4,1722.2,1766.2,2.0
8,Mean values,5969.9,5983.8,5906.4,388.6,350.9,366.3,3974.3,3744.6,3840.5,1.3

## Exact solver

In [116]:
if generate_df:
    run_exact_name = 'results/'
    run_exact_df = generate_run_df_exact(run_exact_name)
    run_exact_agg_df = aggregate_df_by_instance_group_exact(run_exact_df)

    run_exact_file_name = f'dataframes/performance/exact.pkl'
    run_exact_agg_file_name = f'dataframes/performance/exact_agg.pkl'
    run_exact_df.to_pickle(run_exact_file_name)
    run_exact_agg_df.to_pickle(run_exact_agg_file_name)

21 INSTANCE_SIZE LESS THAN FIVE INSTANCES!

In [117]:
run_exact_df = load_df('exact.pkl')
run_exact_df

       instance      obj  gap  preproc  model time      variables
0       5-5-1-1   2519.9  0.0      1.3         1.5          24808
1       5-5-1-2   2214.2  0.0      3.7         1.5          36406
2       5-6-1-1   1939.6  0.0      4.2         1.8          40610
3       5-7-1-1   2709.7  0.0      2.7         2.3          35034
4       5-7-1-2   1704.6  0.0     16.0         2.7          64346
5       7-8-1-1   2046.9  0.0     15.2         3.5          71164
6       7-8-1-2   1971.3  0.0     65.4         3.7          84072
7       7-8-1-3   2071.9  0.0      9.1         3.0          47880
8       7-9-1-1   2170.4  0.0     26.6         3.5          80958
9       7-9-1-2   2206.1  0.0     38.7         3.7          85362
10      9-9-1-1   2894.3  0.0     31.6         5.0         103726
11      9-9-1-2   1934.0  0.0     25.9         4.3          93022
12     9-10-1-1   6958.5  0.0     39.9         6.2         129948
13     9-11-1-1   7958.7  0.0     66.3         6.5         158138
14     9-11-1-2   8392.2  0.0     54.7         6.4         139268
15    11-12-2-1   3587.5  0.0   2043.0        12.7         277704
16    11-12-2-2   3788.9  0.0   1548.3        11.9         263904
17    11-13-2-1   3470.8  0.0    792.6        11.0         237276
18    11-14-2-1   3374.3  0.1   3600.5        16.3         389493
19    11-15-2-1   3029.7  0.0   2091.5        16.7         381201
20    13-14-2-1   3389.8  0.1   3600.8        18.8         420855
21    13-15-2-1   3964.8  0.0   3600.2        20.8         467523
22    13-15-2-2   3356.9  0.1   3600.2        19.5         448422
23    13-16-2-1   4232.3  0.0   3066.1        19.2         390621
24    13-18-2-1   3643.9  0.1   3600.8        23.4         510021
25    15-15-2-1   4117.4  0.0   1754.4        20.8         449574
26    15-17-2-1  10780.0  0.1   3600.3        24.1         572052
27    15-18-2-1  13738.6  0.3   3601.1        30.3         675504
28    15-18-2-2   3993.0  0.1   3601.9        25.9         532662
29    15-21-2-1   3658.6  0.2   3601.4        35.7         804003
30    17-18-3-1   3352.5  0.2   3601.9        36.2         769364
31    17-19-3-1   3564.7  0.3   3601.5        40.3         921816
32    17-19-3-2   3662.6  0.7   3600.1        42.5         934056
33    17-22-3-1   3958.2  0.3   3600.4        49.5        1015380
34    17-23-3-1   3847.7  0.4   3600.1        56.7        1279760
35    19-19-3-1   3901.8  0.7   3601.5        43.5         950732
36    19-21-3-1   4087.7  0.8   3603.4        49.6        1036576
37    19-21-3-2   3629.5  0.8   3601.1        52.6        1136068
38    19-22-3-1   3963.6  0.7   3603.0        47.9        1000644
39    19-25-3-1   3803.7  0.9   3600.2        68.1        1555144
40    21-23-3-1   4326.0  0.3   3600.1        48.4        1015880
41    21-23-3-2   3581.4  0.8   3600.2        61.9        1381528
42    21-24-3-1   4564.6  0.6   3600.4        62.8        1359304
43    21-26-3-1   9942.1  0.8   3600.5        73.6        1622848
44  Mean values   4136.5  0.2   2148.2        24.9  545333.113636

In [118]:
run_exact_agg_df = load_df('exact_agg.pkl')
run_exact_agg_df

  instance_group     obj  gap  preproc  model time  variables
0              5  2217.6  0.0      5.6         2.0    40240.8
1              7  2093.3  0.0     31.0         3.5    73887.2
2              9  5627.5  0.0     43.7         5.7   124820.4
3             11  3450.2  0.0   2015.2        13.7   309915.6
4             13  3717.5  0.1   3493.6        20.3   447488.4
5             15  7257.5  0.1   3231.8        27.4   606759.0
6             17  3677.1  0.4   3600.8        45.0   984075.2
7             19  3877.3  0.8   3601.8        52.3  1135832.8
8             21  5603.5  0.6   3600.3        61.7  1344890.0
9    Mean values  4169.1  0.2   2180.4        25.7   563101.0

## Parallel vs. sequential heuristics

In [119]:
baseline_sequential_df = merge_dfs([run_baseline_df, run_sequential_df], True)
baseline_sequential_agg_df = merge_dfs([run_baseline_agg_df, run_sequential_agg_df], True)

In [120]:
baseline_sequential_df

,instance,obj,time,iter,sp improv,obj,time,iter,sp improv
0,5-5-1-1,2519.9,0.7,5000.0,0.0,2519.9,0.7,5000.0,0.0
1,5-5-1-2,2214.2,0.7,5000.0,0.0,2214.2,0.7,5000.0,0.0
2,5-6-1-1,1939.6,0.9,5000.0,0.0,1939.6,0.8,5000.0,0.0
3,5-7-1-1,2709.7,1.3,5000.0,0.0,2709.7,1.3,5000.0,0.0
4,5-7-1-2,1704.6,1.2,5000.0,0.0,1704.6,1.2,5000.0,0.0
5,7-8-1-1,2046.9,1.8,5000.0,0.0,2046.9,2.1,5000.0,0.0
6,7-8-1-2,1971.3,1.8,5000.0,0.0,1971.3,5.5,5000.0,0.0
7,7-8-1-3,2080.2,2.0,5000.0,0.0,2071.9,3.5,5000.0,0.0
8,7-9-1-1,2170.4,4.3,5000.0,0.0,2170.4,4.8,5000.0,0.0
9,7-9-1-2,2206.1,2.3,5000.0,0.0,2206.1,6.6,5000.0,0.0
10,9-9-1-1,2894.3,4.1,5000.0,0.0,2894.3,6.8,5000.0,0.0
11,9-9-1-2,1934.0,8.0,5000.0,0.0,1934.0,9.9,5000.0,0.0
12,9-10-1-1,6958.5,2.7,5000.0,0.0,6958.5,8.8,5000.0,0.0
13,9-11-1-1,7958.7,4.5,5000.0,0.0,7958.7,14.5,5000.0,0.0
14,9-11-1-2,8392.2,3.4,5000.0,0.0,8392.2,10.7,5000.0,0.0
15,11-12-2-1,3587.5,18.6,5000.0,0.0,3587.5,25.4,5000.0,0.0
16,11-12-2-2,3788.9,15.0,5000.0,0.0,3788.9,21.4,5000.0,0.0
17,11-13-2-1,3470.8,19.4,5000.0,0.0,3470.8,23.0,5000.0,0.0
18,11-14-2-1,3710.8,23.2,5000.0,0.0,3710.8,39.6,5000.0,0.0
19,11-15-2-1,3029.7,17.8,5000.0,0.0,3029.7,30.6,5000.0,0.0
20,13-14-2-1,3681.9,32.3,5000.0,0.0,3681.9,78.7,5000.0,0.0
21,13-15-2-1,4122.6,33.6,5000.0,0.0,4122.6,69.8,5000.0,0.0
22,13-15-2-2,3779.4,20.7,5000.0,0.0,3779.4,38.9,5000.0,0.0
23,13-16-2-1,4239.6,33.7,5000.0,0.0,4239.6,49.8,5000.0,0.0
24,13-18-2-1,4029.1,42.2,5000.0,0.0,4029.1,71.3,5000.0,0.0
25,15-15-2-1,4121.6,25.7,5000.0,0.0,4117.4,55.1,5000.0,0.0
26,15-17-2-1,11659.1,36.3,5000.0,0.0,11663.1,50.2,5000.0,0.0
27,15-18-2-1,17559.9,27.8,5000.0,0.0,15348.2,55.7,5000.0,0.0
28,15-18-2-2,4294.6,42.9,5000.0,0.0,4294.6,78.7,5000.0,0.0
29,15-21-2-1,4310.0,53.8,5000.0,0.0,4298.8,163.6,5000.0,0.0
30,17-18-3-1,4279.2,52.2,5000.0,0.0,4244.5,113.6,5000.0,0.0
31,17-19-3-1,5075.4,65.9,5000.0,0.0,5042.4,176.4,5000.0,0.0
32,17-19-3-2,5036.2,44.2,5000.0,0.0,5036.2,64.6,5000.0,0.0
33,17-22-3-1,5287.9,54.7,5000.0,0.0,5267.5,150.6,5000.0,0.0
34,17-23-3-1,5204.6,72.6,5000.0,0.0,5125.6,188.6,5000.0,0.0
35,19-19-3-1,5216.9,74.4,5000.0,0.0,5013.8,140.4,5000.0,0.0
36,19-21-3-1,5496.5,69.2,5000.0,0.0,5432.5,151.0,5000.0,0.0
37,19-21-3-2,4977.1,77.2,5000.0,0.0,4880.0,218.9,5000.0,0.0
38,19-22-3-1,4949.9,41.5,5000.0,0.0,4949.9,67.1,5000.0,0.0
39,19-25-3-1,5196.4,100.7,5000.0,0.0,5203.0,317.0,5000.0,0.0
40,21-23-3-1,5591.6,62.6,5000.0,0.0,5591.9,101.9,5000.0,0.0
41,21-23-3-2,3946.2,78.4,4000.0,0.0,4882.4,363.9,5000.0,0.0
42,21-24-3-1,5332.2,86.5,5000.0,0.0,5114.0,237.9,5000.0,0.0
43,21-26-3-1,14027.8,77.2,5000.0,0.0,14057.1,174.2,5000.0,0.0
44,21-28-3-1,16693.4,96.8,5000.0,0.0,15939.2,211.9,5000.0,0.0
45,23-24-4-1,5173.1,103.1,5000.0,0.0,5157.1,297.8,5000.0,0.0
46,23-25-4-1,5699.9,142.7,5000.0,0.0,5448.3,330.6,5000.0,0.0
47,23-27-4-1,5765.3,94.7,5000.0,0.0,5612.8,239.3,5000.0,0.0
48,23-30-4-1,6128.5,165.3,5000.0,0.0,6053.4,480.6,5000.0,0.0
49,23-31-4-1,7149.1,146.5,5000.0,0.0,7088.0,364.6,5000.0,0.0
50,25-26-4-1,6549.8,142.9,5000.0,0.0,6395.2,349.8,5000.0,0.0
51,25-28-4-1,6976.8,115.2,5000.0,0.0,6963.3,239.6,5000.0,0.0
52,25-29-4-1,6752.9,108.8,5000.0,0.0,6687.9,294.0,5000.0,0.0
53,25-30-4-1,5840.4,202.5,5000.0,0.0,5732.5,452.1,5000.0,0.0
54,25-33-4-1,7207.2,179.2,5000.0,0.0,7158.5,478.7,5000.0,0.0
55,27-28-5-1,8081.0,86.6,5000.0,0.0,8114.9,196.2,5000.0,0.0
56,27-29-5-1,7038.1,152.2,5000.0,0.0,6983.9,369.2,5000.0,0.0
57,27-32-5-1,8776.9,150.6,5000.0,0.0,8753.9,343.0,5000.0,0.0
58,27-35-5-1,8797.2,149.8,5000.0,0.0,8695.8,305.3,5000.0,0.0
59,27-37-5-1,9832.4,156.5,5000.0,0.0,9913.8,370.3,5000.0,0.0
60,Mean values,5519.4,60.6,4983.3,0.0,5456.6,145.3,5000.0,0.0

In [121]:
baseline_sequential_agg_df

,instance_group,obj,time,iter,sp improv,obj,time,iter,sp improv
0,5,2217.6,1.0,5000.0,0.0,2217.6,0.9,5000.0,0.0
1,7,2095.0,2.4,5000.0,0.0,2093.3,4.5,5000.0,0.0
2,9,5627.5,4.5,5000.0,0.0,5627.5,10.1,5000.0,0.0
3,11,3517.5,18.8,5000.0,0.0,3517.5,28.0,5000.0,0.0
4,13,3970.5,32.5,5000.0,0.0,3970.5,61.7,5000.0,0.0
5,15,8389.0,37.3,5000.0,0.0,7944.4,80.7,5000.0,0.0
6,17,4976.7,57.9,5000.0,0.0,4943.2,138.8,5000.0,0.0
7,19,5167.4,72.6,5000.0,0.0,5095.8,178.9,5000.0,0.0
8,21,9118.2,80.3,4800.0,0.0,9116.9,218.0,5000.0,0.0
9,23,5983.2,130.5,5000.0,0.0,5871.9,342.6,5000.0,0.0
10,25,6665.4,149.7,5000.0,0.0,6587.5,362.8,5000.0,0.0
11,27,8505.1,139.1,5000.0,0.0,8492.5,316.8,5000.0,0.0
12,Mean values,5519.4,60.6,4983.3,0.0,5456.6,145.3,5000.0,0.0

## ALNS vs. LNS

In [122]:
baseline_lns_df = merge_dfs([run_baseline_df, run_lns_df], True)
baseline_lns_agg_df = merge_dfs([run_baseline_agg_df, run_lns_agg_df], True)

In [123]:
baseline_lns_df

,instance,obj,time,iter,sp improv,obj,time,iter,sp improv
0,5-5-1-1,2519.9,0.7,5000.0,0.0,2519.9,0.7,5000.0,0.0
1,5-5-1-2,2214.2,0.7,5000.0,0.0,2214.2,0.7,5000.0,0.0
2,5-6-1-1,1939.6,0.9,5000.0,0.0,1939.6,0.8,5000.0,0.0
3,5-7-1-1,2709.7,1.3,5000.0,0.0,2709.7,1.3,5000.0,0.0
4,5-7-1-2,1704.6,1.2,5000.0,0.0,1704.6,1.1,5000.0,0.0
5,7-8-1-1,2046.9,1.8,5000.0,0.0,2046.9,1.8,5000.0,0.0
6,7-8-1-2,1971.3,1.8,5000.0,0.0,1971.3,1.7,5000.0,0.0
7,7-8-1-3,2080.2,2.0,5000.0,0.0,2080.2,1.9,5000.0,0.0
8,7-9-1-1,2170.4,4.3,5000.0,0.0,2170.4,4.3,5000.0,0.0
9,7-9-1-2,2206.1,2.3,5000.0,0.0,2206.1,2.4,5000.0,0.0
10,9-9-1-1,2894.3,4.1,5000.0,0.0,2894.3,4.1,5000.0,0.0
11,9-9-1-2,1934.0,8.0,5000.0,0.0,1934.0,7.6,5000.0,0.0
12,9-10-1-1,6958.5,2.7,5000.0,0.0,6958.5,2.8,5000.0,0.0
13,9-11-1-1,7958.7,4.5,5000.0,0.0,7958.7,4.9,5000.0,0.0
14,9-11-1-2,8392.2,3.4,5000.0,0.0,8392.2,3.5,5000.0,0.0
15,11-12-2-1,3587.5,18.6,5000.0,0.0,3587.5,19.0,5000.0,0.0
16,11-12-2-2,3788.9,15.0,5000.0,0.0,3031.2,12.7,4000.0,0.0
17,11-13-2-1,3470.8,19.4,5000.0,0.0,3470.8,19.7,5000.0,0.0
18,11-14-2-1,3710.8,23.2,5000.0,0.0,3710.8,21.7,5000.0,0.0
19,11-15-2-1,3029.7,17.8,5000.0,0.0,3029.7,17.0,5000.0,0.0
20,13-14-2-1,3681.9,32.3,5000.0,0.0,3681.9,31.4,5000.0,0.0
21,13-15-2-1,4122.6,33.6,5000.0,0.0,4122.6,32.3,5000.0,0.0
22,13-15-2-2,3779.4,20.7,5000.0,0.0,3779.4,21.9,5000.0,0.0
23,13-16-2-1,4239.6,33.7,5000.0,0.0,4239.6,34.4,5000.0,0.0
24,13-18-2-1,4029.1,42.2,5000.0,0.0,4029.1,41.6,5000.0,0.0
25,15-15-2-1,4121.6,25.7,5000.0,0.0,4117.6,27.2,5000.0,0.0
26,15-17-2-1,11659.1,36.3,5000.0,0.0,11660.8,36.6,5000.0,0.0
27,15-18-2-1,17559.9,27.8,5000.0,0.0,17622.4,26.7,5000.0,0.0
28,15-18-2-2,4294.6,42.9,5000.0,0.0,4294.6,43.7,5000.0,0.0
29,15-21-2-1,4310.0,53.8,5000.0,0.0,4306.8,53.7,5000.0,0.0
30,17-18-3-1,4279.2,52.2,5000.0,0.0,4275.1,51.8,5000.0,0.0
31,17-19-3-1,5075.4,65.9,5000.0,0.0,5075.4,64.9,5000.0,0.0
32,17-19-3-2,5036.2,44.2,5000.0,0.0,5036.2,40.7,5000.0,0.0
33,17-22-3-1,5287.9,54.7,5000.0,0.0,5275.8,51.4,5000.0,0.0
34,17-23-3-1,5204.6,72.6,5000.0,0.0,5209.5,70.3,5000.0,0.0
35,19-19-3-1,5216.9,74.4,5000.0,0.0,5210.6,72.5,5000.0,0.0
36,19-21-3-1,5496.5,69.2,5000.0,0.0,5481.8,67.0,5000.0,0.0
37,19-21-3-2,4977.1,77.2,5000.0,0.0,4972.7,76.3,5000.0,0.0
38,19-22-3-1,4949.9,41.5,5000.0,0.0,4949.9,40.7,5000.0,0.0
39,19-25-3-1,5196.4,100.7,5000.0,0.0,5217.5,100.6,5000.0,0.0
40,21-23-3-1,5591.6,62.6,5000.0,0.0,5591.7,61.8,5000.0,0.0
41,21-23-3-2,3946.2,78.4,4000.0,0.0,4951.7,101.7,5000.0,0.0
42,21-24-3-1,5332.2,86.5,5000.0,0.0,5340.0,86.8,5000.0,0.0
43,21-26-3-1,14027.8,77.2,5000.0,0.0,14059.7,73.2,5000.0,0.0
44,21-28-3-1,16693.4,96.8,5000.0,0.0,16695.1,90.9,5000.0,0.0
45,23-24-4-1,5173.1,103.1,5000.0,0.0,5162.1,95.7,5000.0,0.0
46,23-25-4-1,5699.9,142.7,5000.0,0.0,5693.1,136.0,5000.0,0.0
47,23-27-4-1,5765.3,94.7,5000.0,0.0,5765.3,92.6,5000.0,0.0
48,23-30-4-1,6128.5,165.3,5000.0,0.0,6134.8,166.4,5000.0,0.0
49,23-31-4-1,7149.1,146.5,5000.0,0.0,7160.4,142.8,5000.0,0.0
50,25-26-4-1,6549.8,142.9,5000.0,0.0,6539.9,146.9,5000.0,0.0
51,25-28-4-1,6976.8,115.2,5000.0,0.0,6975.3,109.4,5000.0,0.0
52,25-29-4-1,6752.9,108.8,5000.0,0.0,6759.4,101.5,5000.0,0.0
53,25-30-4-1,5840.4,202.5,5000.0,0.0,5831.2,202.9,5000.0,0.0
54,25-33-4-1,7207.2,179.2,5000.0,0.0,7160.6,170.8,5000.0,0.0
55,27-28-5-1,8081.0,86.6,5000.0,0.0,8094.9,86.1,5000.0,0.0
56,27-29-5-1,7038.1,152.2,5000.0,0.0,7054.2,147.4,5000.0,0.0
57,27-32-5-1,8776.9,150.6,5000.0,0.0,8772.3,148.1,5000.0,0.0
58,27-35-5-1,8797.2,149.8,5000.0,0.0,8798.8,146.0,5000.0,0.0
59,27-37-5-1,9832.4,156.5,5000.0,0.0,9741.6,163.4,5000.0,0.0
60,Mean values,5519.4,60.6,4983.3,0.0,5522.9,59.8,4983.3,0.0

In [124]:
baseline_lns_agg_df

,instance_group,obj,time,iter,sp improv,obj,time,iter,sp improv
0,5,2217.6,1.0,5000.0,0.0,2217.6,0.9,5000.0,0.0
1,7,2095.0,2.4,5000.0,0.0,2095.0,2.4,5000.0,0.0
2,9,5627.5,4.5,5000.0,0.0,5627.5,4.6,5000.0,0.0
3,11,3517.5,18.8,5000.0,0.0,3366.0,18.0,4800.0,0.0
4,13,3970.5,32.5,5000.0,0.0,3970.5,32.3,5000.0,0.0
5,15,8389.0,37.3,5000.0,0.0,8400.4,37.6,5000.0,0.0
6,17,4976.7,57.9,5000.0,0.0,4974.4,55.8,5000.0,0.0
7,19,5167.4,72.6,5000.0,0.0,5166.5,71.4,5000.0,0.0
8,21,9118.2,80.3,4800.0,0.0,9327.6,82.9,5000.0,0.0
9,23,5983.2,130.5,5000.0,0.0,5983.1,126.7,5000.0,0.0
10,25,6665.4,149.7,5000.0,0.0,6653.3,146.3,5000.0,0.0
11,27,8505.1,139.1,5000.0,0.0,8492.4,138.2,5000.0,0.0
12,Mean values,5519.4,60.6,4983.3,0.0,5522.9,59.8,4983.3,0.0

## ALNS vs. ALNS + local search

In [125]:
baseline_ls_df = merge_dfs([run_baseline_df, run_ls_df], True)
baseline_ls_agg_df = merge_dfs([run_baseline_agg_df, run_ls_agg_df], True)

In [126]:
baseline_ls_df

,instance,obj,time,iter,sp improv,obj,time,iter,sp improv
0,5-5-1-1,2519.9,0.7,5000.0,0.0,2519.9,1.5,5000.0,0.0
1,5-5-1-2,2214.2,0.7,5000.0,0.0,2214.2,1.3,5000.0,0.0
2,5-6-1-1,1939.6,0.9,5000.0,0.0,1939.6,1.6,5000.0,0.0
3,5-7-1-1,2709.7,1.3,5000.0,0.0,2709.7,2.2,5000.0,0.0
4,5-7-1-2,1704.6,1.2,5000.0,0.0,1704.6,1.9,5000.0,0.0
5,7-8-1-1,2046.9,1.8,5000.0,0.0,2046.9,4.4,5000.0,0.0
6,7-8-1-2,1971.3,1.8,5000.0,0.0,1971.3,4.0,5000.0,0.0
7,7-8-1-3,2080.2,2.0,5000.0,0.0,2080.2,4.6,5000.0,0.0
8,7-9-1-1,2170.4,4.3,5000.0,0.0,2170.4,7.3,5000.0,0.0
9,7-9-1-2,2206.1,2.3,5000.0,0.0,2206.1,5.2,5000.0,0.0
10,9-9-1-1,2894.3,4.1,5000.0,0.0,2894.3,7.5,5000.0,0.0
11,9-9-1-2,1934.0,8.0,5000.0,0.0,1934.0,13.9,5000.0,0.0
12,9-10-1-1,6958.5,2.7,5000.0,0.0,6958.5,5.4,5000.0,0.0
13,9-11-1-1,7958.7,4.5,5000.0,0.0,7958.7,10.0,5000.0,0.0
14,9-11-1-2,8392.2,3.4,5000.0,0.0,8392.2,6.4,5000.0,0.0
15,11-12-2-1,3587.5,18.6,5000.0,0.0,3587.5,50.8,5000.0,0.0
16,11-12-2-2,3788.9,15.0,5000.0,0.0,3788.9,51.9,5000.0,0.0
17,11-13-2-1,3470.8,19.4,5000.0,0.0,3470.8,62.0,5000.0,0.0
18,11-14-2-1,3710.8,23.2,5000.0,0.0,3710.8,62.1,5000.0,0.0
19,11-15-2-1,3029.7,17.8,5000.0,0.0,3029.7,35.6,5000.0,0.0
20,13-14-2-1,3681.9,32.3,5000.0,0.0,3681.9,90.8,5000.0,0.0
21,13-15-2-1,4122.6,33.6,5000.0,0.0,4122.6,97.1,5000.0,0.0
22,13-15-2-2,3779.4,20.7,5000.0,0.0,3779.4,52.3,5000.0,0.0
23,13-16-2-1,4239.6,33.7,5000.0,0.0,4239.6,90.6,5000.0,0.0
24,13-18-2-1,4029.1,42.2,5000.0,0.0,4029.1,126.7,5000.0,0.0
25,15-15-2-1,4121.6,25.7,5000.0,0.0,4117.5,94.3,5000.0,0.0
26,15-17-2-1,11659.1,36.3,5000.0,0.0,11659.1,63.5,5000.0,0.0
27,15-18-2-1,17559.9,27.8,5000.0,0.0,17537.4,88.6,5000.0,0.0
28,15-18-2-2,4294.6,42.9,5000.0,0.0,4294.6,104.0,5000.0,0.0
29,15-21-2-1,4310.0,53.8,5000.0,0.0,4306.8,112.1,5000.0,0.0
30,17-18-3-1,4279.2,52.2,5000.0,0.0,4260.1,154.5,5000.0,0.0
31,17-19-3-1,5075.4,65.9,5000.0,0.0,5075.4,295.8,5000.0,0.0
32,17-19-3-2,5036.2,44.2,5000.0,0.0,5036.2,124.5,5000.0,0.0
33,17-22-3-1,5287.9,54.7,5000.0,0.0,5262.7,181.0,5000.0,0.0
34,17-23-3-1,5204.6,72.6,5000.0,0.0,5203.7,177.0,5000.0,0.0
35,19-19-3-1,5216.9,74.4,5000.0,0.0,5200.7,318.2,5000.0,0.0
36,19-21-3-1,5496.5,69.2,5000.0,0.0,5480.4,268.1,5000.0,0.0
37,19-21-3-2,4977.1,77.2,5000.0,0.0,4971.4,279.0,5000.0,0.0
38,19-22-3-1,4949.9,41.5,5000.0,0.0,4949.9,83.5,5000.0,0.0
39,19-25-3-1,5196.4,100.7,5000.0,0.0,5180.7,314.9,5000.0,0.0
40,21-23-3-1,5591.6,62.6,5000.0,0.0,5591.9,150.2,5000.0,0.0
41,21-23-3-2,3946.2,78.4,4000.0,0.0,4915.2,303.5,5000.0,0.0
42,21-24-3-1,5332.2,86.5,5000.0,0.0,5324.2,270.8,5000.0,0.0
43,21-26-3-1,14027.8,77.2,5000.0,0.0,14036.4,138.0,5000.0,0.0
44,21-28-3-1,16693.4,96.8,5000.0,0.0,16708.5,196.4,5000.0,0.0
45,23-24-4-1,5173.1,103.1,5000.0,0.0,5160.4,296.4,5000.0,0.0
46,23-25-4-1,5699.9,142.7,5000.0,0.0,5694.8,620.7,4373.6,0.0
47,23-27-4-1,5765.3,94.7,5000.0,0.0,5756.7,258.2,5000.0,0.0
48,23-30-4-1,6128.5,165.3,5000.0,0.0,6113.4,617.6,4756.6,0.0
49,23-31-4-1,7149.1,146.5,5000.0,0.0,7133.0,410.6,5000.0,0.0
50,25-26-4-1,6549.8,142.9,5000.0,0.0,6545.3,615.0,4607.2,0.0
51,25-28-4-1,6976.8,115.2,5000.0,0.0,6947.0,353.0,5000.0,0.0
52,25-29-4-1,6752.9,108.8,5000.0,0.0,6734.7,237.5,5000.0,0.0
53,25-30-4-1,5840.4,202.5,5000.0,0.0,5831.0,605.5,3221.4,0.0
54,25-33-4-1,7207.2,179.2,5000.0,0.0,7158.3,618.0,4234.4,0.0
55,27-28-5-1,8081.0,86.6,5000.0,0.0,8095.2,220.6,5000.0,0.0
56,27-29-5-1,7038.1,152.2,5000.0,0.0,7015.3,531.2,4951.0,0.0
57,27-32-5-1,8776.9,150.6,5000.0,0.0,8747.5,501.2,5000.0,0.0
58,27-35-5-1,8797.2,149.8,5000.0,0.0,8772.3,341.5,5000.0,0.0
59,27-37-5-1,9832.4,156.5,5000.0,0.0,9830.8,256.7,5000.0,0.0
60,Mean values,5519.4,60.6,4983.3,0.0,5529.8,183.3,4935.7,0.0

In [127]:
baseline_ls_agg_df

,instance_group,obj,time,iter,sp improv,obj,time,iter,sp improv
0,5,2217.6,1.0,5000.0,0.0,2217.6,1.7,5000.0,0.0
1,7,2095.0,2.4,5000.0,0.0,2095.0,5.1,5000.0,0.0
2,9,5627.5,4.5,5000.0,0.0,5627.5,8.6,5000.0,0.0
3,11,3517.5,18.8,5000.0,0.0,3517.5,52.5,5000.0,0.0
4,13,3970.5,32.5,5000.0,0.0,3970.5,91.5,5000.0,0.0
5,15,8389.0,37.3,5000.0,0.0,8383.1,92.5,5000.0,0.0
6,17,4976.7,57.9,5000.0,0.0,4967.6,186.6,5000.0,0.0
7,19,5167.4,72.6,5000.0,0.0,5156.6,252.7,5000.0,0.0
8,21,9118.2,80.3,4800.0,0.0,9315.2,211.8,5000.0,0.0
9,23,5983.2,130.5,5000.0,0.0,5971.7,440.7,4826.0,0.0
10,25,6665.4,149.7,5000.0,0.0,6643.3,485.8,4412.6,0.0
11,27,8505.1,139.1,5000.0,0.0,8492.2,370.2,4990.2,0.0
12,Mean values,5519.4,60.6,4983.3,0.0,5529.8,183.3,4935.7,0.0

## ALNS vs. ALNS + set partitioning

In [128]:
baseline_sp_df = merge_dfs([run_baseline_df, run_sp_df], True)
baseline_sp_agg_df = merge_dfs([run_baseline_agg_df, run_sp_agg_df], True)

In [129]:
baseline_sp_df

,instance,obj,time,iter,sp improv,obj,time,iter,sp improv
0,5-5-1-1,2519.9,0.7,5000.0,0.0,2519.9,0.8,5000.0,0.0
1,5-5-1-2,2214.2,0.7,5000.0,0.0,2214.2,0.7,5000.0,0.0
2,5-6-1-1,1939.6,0.9,5000.0,0.0,1939.6,0.9,5000.0,0.0
3,5-7-1-1,2709.7,1.3,5000.0,0.0,2709.7,1.4,5000.0,0.0
4,5-7-1-2,1704.6,1.2,5000.0,0.0,1704.6,1.3,5000.0,0.0
5,7-8-1-1,2046.9,1.8,5000.0,0.0,2046.9,2.0,5000.0,0.0
6,7-8-1-2,1971.3,1.8,5000.0,0.0,1971.3,1.9,5000.0,0.0
7,7-8-1-3,2080.2,2.0,5000.0,0.0,2080.2,2.2,5000.0,0.0
8,7-9-1-1,2170.4,4.3,5000.0,0.0,2170.4,5.0,5000.0,0.0
9,7-9-1-2,2206.1,2.3,5000.0,0.0,2206.1,2.9,5000.0,0.0
10,9-9-1-1,2894.3,4.1,5000.0,0.0,2894.3,4.7,5000.0,0.0
11,9-9-1-2,1934.0,8.0,5000.0,0.0,1934.0,9.3,5000.0,0.0
12,9-10-1-1,6958.5,2.7,5000.0,0.0,6958.5,3.7,5000.0,0.2
13,9-11-1-1,7958.7,4.5,5000.0,0.0,7958.7,5.7,5000.0,0.0
14,9-11-1-2,8392.2,3.4,5000.0,0.0,8392.2,4.1,5000.0,0.0
15,11-12-2-1,3587.5,18.6,5000.0,0.0,3587.5,22.1,5000.0,0.0
16,11-12-2-2,3788.9,15.0,5000.0,0.0,3788.9,18.7,5000.0,0.2
17,11-13-2-1,3470.8,19.4,5000.0,0.0,3470.8,24.4,5000.0,0.0
18,11-14-2-1,3710.8,23.2,5000.0,0.0,3710.8,29.1,5000.0,0.0
19,11-15-2-1,3029.7,17.8,5000.0,0.0,3029.7,21.2,5000.0,0.0
20,13-14-2-1,3681.9,32.3,5000.0,0.0,3681.9,38.9,5000.0,0.2
21,13-15-2-1,4122.6,33.6,5000.0,0.0,4122.6,43.2,5000.0,0.0
22,13-15-2-2,3779.4,20.7,5000.0,0.0,3779.4,29.6,5000.0,0.0
23,13-16-2-1,4239.6,33.7,5000.0,0.0,4239.6,46.6,5000.0,0.0
24,13-18-2-1,4029.1,42.2,5000.0,0.0,4029.1,64.2,5000.0,0.0
25,15-15-2-1,4121.6,25.7,5000.0,0.0,4120.9,35.4,5000.0,0.2
26,15-17-2-1,11659.1,36.3,5000.0,0.0,11659.1,49.5,5000.0,1.4
27,15-18-2-1,17559.9,27.8,5000.0,0.0,17524.8,43.7,5000.0,2.2
28,15-18-2-2,4294.6,42.9,5000.0,0.0,4294.6,60.8,5000.0,0.0
29,15-21-2-1,4310.0,53.8,5000.0,0.0,4306.8,79.1,5000.0,0.0
30,17-18-3-1,4279.2,52.2,5000.0,0.0,4262.4,71.3,5000.0,0.4
31,17-19-3-1,5075.4,65.9,5000.0,0.0,5075.4,97.4,5000.0,0.0
32,17-19-3-2,5036.2,44.2,5000.0,0.0,5036.2,60.4,5000.0,1.0
33,17-22-3-1,5287.9,54.7,5000.0,0.0,5277.5,77.8,5000.0,2.6
34,17-23-3-1,5204.6,72.6,5000.0,0.0,5196.2,138.0,5000.0,2.6
35,19-19-3-1,5216.9,74.4,5000.0,0.0,5189.2,163.6,5000.0,2.4
36,19-21-3-1,5496.5,69.2,5000.0,0.0,5480.4,112.2,5000.0,2.8
37,19-21-3-2,4977.1,77.2,5000.0,0.0,4974.1,147.7,5000.0,1.2
38,19-22-3-1,4949.9,41.5,5000.0,0.0,4949.9,55.1,5000.0,0.6
39,19-25-3-1,5196.4,100.7,5000.0,0.0,5191.5,206.4,5000.0,2.4
40,21-23-3-1,5591.6,62.6,5000.0,0.0,5591.6,93.9,5000.0,1.0
41,21-23-3-2,3946.2,78.4,4000.0,0.0,4915.2,279.5,5000.0,2.6
42,21-24-3-1,5332.2,86.5,5000.0,0.0,5332.2,137.7,5000.0,1.2
43,21-26-3-1,14027.8,77.2,5000.0,0.0,11207.0,93.6,4000.0,4.4
44,21-28-3-1,16693.4,96.8,5000.0,0.0,16544.4,182.3,5000.0,3.6
45,23-24-4-1,5173.1,103.1,5000.0,0.0,5160.5,211.2,5000.0,2.6
46,23-25-4-1,5699.9,142.7,5000.0,0.0,5682.3,368.4,5000.0,2.4
47,23-27-4-1,5765.3,94.7,5000.0,0.0,5773.9,168.2,5000.0,0.4
48,23-30-4-1,6128.5,165.3,5000.0,0.0,6127.4,377.5,5000.0,2.4
49,23-31-4-1,7149.1,146.5,5000.0,0.0,7114.0,346.3,5000.0,4.4
50,25-26-4-1,6549.8,142.9,5000.0,0.0,6537.9,487.5,5000.0,3.4
51,25-28-4-1,6976.8,115.2,5000.0,0.0,6939.0,198.3,5000.0,2.8
52,25-29-4-1,6752.9,108.8,5000.0,0.0,6725.5,211.3,5000.0,2.2
53,25-30-4-1,5840.4,202.5,5000.0,0.0,5825.3,553.1,5000.0,1.4
54,25-33-4-1,7207.2,179.2,5000.0,0.0,7131.9,415.0,5000.0,3.6
55,27-28-5-1,8081.0,86.6,5000.0,0.0,8020.9,162.4,5000.0,4.8
56,27-29-5-1,7038.1,152.2,5000.0,0.0,7004.7,362.1,5000.0,5.0
57,27-32-5-1,8776.9,150.6,5000.0,0.0,8711.4,306.1,5000.0,5.8
58,27-35-5-1,8797.2,149.8,5000.0,0.0,8734.9,283.3,5000.0,4.0
59,27-37-5-1,9832.4,156.5,5000.0,0.0,9501.2,269.5,5000.0,5.6
60,Mean values,5519.4,60.6,4983.3,0.0,5471.0,121.5,4983.3,1.4

In [130]:
baseline_sp_agg_df

,instance_group,obj,time,iter,sp improv,obj,time,iter,sp improv
0,5,2217.6,1.0,5000.0,0.0,2217.6,1.0,5000.0,0.0
1,7,2095.0,2.4,5000.0,0.0,2095.0,2.8,5000.0,0.0
2,9,5627.5,4.5,5000.0,0.0,5627.5,5.5,5000.0,0.0
3,11,3517.5,18.8,5000.0,0.0,3517.5,23.1,5000.0,0.0
4,13,3970.5,32.5,5000.0,0.0,3970.5,44.5,5000.0,0.0
5,15,8389.0,37.3,5000.0,0.0,8381.2,53.7,5000.0,0.8
6,17,4976.7,57.9,5000.0,0.0,4969.5,89.0,5000.0,1.3
7,19,5167.4,72.6,5000.0,0.0,5157.0,137.0,5000.0,1.9
8,21,9118.2,80.3,4800.0,0.0,8718.1,157.4,4800.0,2.6
9,23,5983.2,130.5,5000.0,0.0,5971.6,294.3,5000.0,2.4
10,25,6665.4,149.7,5000.0,0.0,6631.9,373.0,5000.0,2.7
11,27,8505.1,139.1,5000.0,0.0,8394.6,276.7,5000.0,5.0
12,Mean values,5519.4,60.6,4983.3,0.0,5471.0,121.5,4983.3,1.4

## ALNS vs. ALNS + local search + set partitioning

In [131]:
baseline_lssp_df = merge_dfs([run_baseline_df, run_lssp_df], True)
baseline_lssp_agg_df = merge_dfs([run_baseline_agg_df, run_lssp_agg_df], True)

In [132]:
baseline_lssp_df

,instance,obj,time,iter,sp improv,obj,time,iter,sp improv
0,5-5-1-1,2519.9,0.7,5000.0,0.0,3587.5,54.8,5000.0,0.0
1,5-5-1-2,2214.2,0.7,5000.0,0.0,3788.9,62.6,5000.0,0.0
2,5-6-1-1,1939.6,0.9,5000.0,0.0,3470.8,78.3,5000.0,0.0
3,5-7-1-1,2709.7,1.3,5000.0,0.0,3710.8,78.9,5000.0,0.0
4,5-7-1-2,1704.6,1.2,5000.0,0.0,3029.7,47.8,5000.0,0.0
5,7-8-1-1,2046.9,1.8,5000.0,0.0,3681.9,123.2,5000.0,0.0
6,7-8-1-2,1971.3,1.8,5000.0,0.0,4122.6,121.0,5000.0,0.2
7,7-8-1-3,2080.2,2.0,5000.0,0.0,3779.4,71.9,5000.0,0.2
8,7-9-1-1,2170.4,4.3,5000.0,0.0,4239.6,134.4,5000.0,0.0
9,7-9-1-2,2206.1,2.3,5000.0,0.0,4029.1,252.2,5000.0,0.2
10,9-9-1-1,2894.3,4.1,5000.0,0.0,4117.5,121.5,5000.0,0.0
11,9-9-1-2,1934.0,8.0,5000.0,0.0,11659.1,83.3,5000.0,1.6
12,9-10-1-1,6958.5,2.7,5000.0,0.0,17502.4,139.4,5000.0,2.4
13,9-11-1-1,7958.7,4.5,5000.0,0.0,4294.6,188.7,5000.0,0.0
14,9-11-1-2,8392.2,3.4,5000.0,0.0,4303.6,200.9,5000.0,0.0
15,11-12-2-1,3587.5,18.6,5000.0,0.0,4260.1,459.4,5000.0,0.2
16,11-12-2-2,3788.9,15.0,5000.0,0.0,5075.4,600.4,3317.4,0.8
17,11-13-2-1,3470.8,19.4,5000.0,0.0,5036.2,198.4,5000.0,0.0
18,11-14-2-1,3710.8,23.2,5000.0,0.0,5265.1,502.0,5000.0,2.4
19,11-15-2-1,3029.7,17.8,5000.0,0.0,5196.2,447.8,5000.0,1.2
20,13-14-2-1,3681.9,32.3,5000.0,0.0,5193.5,601.8,2067.8,2.2
21,13-15-2-1,4122.6,33.6,5000.0,0.0,5479.0,600.4,2171.2,2.0
22,13-15-2-2,3779.4,20.7,5000.0,0.0,4971.4,600.2,3297.2,1.2
23,13-16-2-1,4239.6,33.7,5000.0,0.0,4949.9,114.8,5000.0,0.4
24,13-18-2-1,4029.1,42.2,5000.0,0.0,5178.1,600.4,2221.0,2.0
25,15-15-2-1,4121.6,25.7,5000.0,0.0,5591.6,389.4,5000.0,1.0
26,15-17-2-1,11659.1,36.3,5000.0,0.0,4908.8,600.5,2928.2,1.4
27,15-18-2-1,17559.9,27.8,5000.0,0.0,5324.2,577.9,3323.8,1.6
28,15-18-2-2,4294.6,42.9,5000.0,0.0,13942.8,292.2,5000.0,3.8
29,15-21-2-1,4310.0,53.8,5000.0,0.0,16434.9,538.2,5000.0,5.2
30,17-18-3-1,4279.2,52.2,5000.0,0.0,5141.1,600.5,2802.2,2.2
31,17-19-3-1,5075.4,65.9,5000.0,0.0,5681.7,600.6,1066.0,1.8
32,17-19-3-2,5036.2,44.2,5000.0,0.0,5756.7,600.3,3443.8,0.6
33,17-22-3-1,5287.9,54.7,5000.0,0.0,6117.6,600.3,1568.4,2.6
34,17-23-3-1,5204.6,72.6,5000.0,0.0,7114.4,601.9,1580.2,3.6
35,19-19-3-1,5216.9,74.4,5000.0,0.0,6539.3,600.5,1044.4,1.8
36,19-21-3-1,5496.5,69.2,5000.0,0.0,6944.5,600.4,2191.0,2.4
37,19-21-3-2,4977.1,77.2,5000.0,0.0,6722.5,602.8,3871.2,2.8
38,19-22-3-1,4949.9,41.5,5000.0,0.0,5825.3,600.5,986.8,1.2
39,19-25-3-1,5196.4,100.7,5000.0,0.0,4286.2,360.6,737.8,1.8
40,21-23-3-1,5591.6,62.6,5000.0,0.0,5906.3,366.3,3840.5,1.3
41,21-23-3-2,3946.2,78.4,4000.0,0.0,NaN,NaN,NaN,NaN
42,21-24-3-1,5332.2,86.5,5000.0,0.0,NaN,NaN,NaN,NaN
43,21-26-3-1,14027.8,77.2,5000.0,0.0,NaN,NaN,NaN,NaN
44,21-28-3-1,16693.4,96.8,5000.0,0.0,NaN,NaN,NaN,NaN
45,23-24-4-1,5173.1,103.1,5000.0,0.0,NaN,NaN,NaN,NaN
46,23-25-4-1,5699.9,142.7,5000.0,0.0,NaN,NaN,NaN,NaN
47,23-27-4-1,5765.3,94.7,5000.0,0.0,NaN,NaN,NaN,NaN
48,23-30-4-1,6128.5,165.3,5000.0,0.0,NaN,NaN,NaN,NaN
49,23-31-4-1,7149.1,146.5,5000.0,0.0,NaN,NaN,NaN,NaN
50,25-26-4-1,6549.8,142.9,5000.0,0.0,NaN,NaN,NaN,NaN
51,25-28-4-1,6976.8,115.2,5000.0,0.0,NaN,NaN,NaN,NaN
52,25-29-4-1,6752.9,108.8,5000.0,0.0,NaN,NaN,NaN,NaN
53,25-30-4-1,5840.4,202.5,5000.0,0.0,NaN,NaN,NaN,NaN
54,25-33-4-1,7207.2,179.2,5000.0,0.0,NaN,NaN,NaN,NaN
55,27-28-5-1,8081.0,86.6,5000.0,0.0,NaN,NaN,NaN,NaN
56,27-29-5-1,7038.1,152.2,5000.0,0.0,NaN,NaN,NaN,NaN
57,27-32-5-1,8776.9,150.6,5000.0,0.0,NaN,NaN,NaN,NaN
58,27-35-5-1,8797.2,149.8,5000.0,0.0,NaN,NaN,NaN,NaN
59,27-37-5-1,9832.4,156.5,5000.0,0.0,NaN,NaN,NaN,NaN
60,Mean values,5519.4,60.6,4983.3,0.0,NaN,NaN,NaN,NaN

In [133]:
baseline_lssp_agg_df

,instance_group,obj,time,iter,sp improv,obj,time,iter,sp improv
0,5,2217.6,1.0,5000.0,0.0,3517.5,64.5,5000.0,0.0
1,7,2095.0,2.4,5000.0,0.0,3970.5,140.5,5000.0,0.1
2,9,5627.5,4.5,5000.0,0.0,8375.4,146.8,5000.0,0.8
3,11,3517.5,18.8,5000.0,0.0,4966.6,441.6,4663.5,0.9
4,13,3970.5,32.5,5000.0,0.0,5154.4,503.5,2951.4,1.6
5,15,8389.0,37.3,5000.0,0.0,9240.5,479.6,4250.4,2.6
6,17,4976.7,57.9,5000.0,0.0,5962.3,600.7,2092.1,2.2
7,19,5167.4,72.6,5000.0,0.0,6063.6,553.0,1766.2,2.0
8,21,9118.2,80.3,4800.0,0.0,5906.4,366.3,3840.5,1.3
9,23,5983.2,130.5,5000.0,0.0,NaN,NaN,NaN,NaN
10,25,6665.4,149.7,5000.0,0.0,NaN,NaN,NaN,NaN
11,27,8505.1,139.1,5000.0,0.0,NaN,NaN,NaN,NaN
12,Mean values,5519.4,60.6,4983.3,0.0,NaN,NaN,NaN,NaN