# Performance dataframes

In [234]:
import os
import re
import json
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np
from natsort import index_natsorted

## General parameters

In [238]:
nbr_sims = 5

instance_key = 'instance'
best_obj_key = 'best obj'
worst_obj_key = 'worst obj'
avg_obj_key = 'obj'
max_time_key = 'max time'
min_time_key = 'min time'
avg_time_key = 'time'
max_iter_key = 'max iter'
min_iter_key = 'min iter'
avg_iter_key = 'iter'
set_part_key = 'sp improv'

project_path = os.path.dirname(os.path.abspath('.'))
directory_path = '/output/solstorm/alns/performance/first/'

## Functions

In [247]:
def map_instance_to_data(run_path):
    instance_to_data = {}
    for file_name in os.listdir(run_path):
        split_name = re.split('_|\.', file_name)
        instance_name = split_name[0]
        is_history = split_name[2] == 'history'
        if is_history:
            with open(run_path + file_name) as file:
                history_json = json.load(file)
        
            obj = history_json['best_objective']
            time = history_json['runtime']
            it = history_json['number_of_iterations']
            set_part_improv = history_json['number_of_improvements_by_set_partitioning']

            if instance_name in instance_to_data:
                data = instance_to_data[instance_name]

                if obj < data[0]:
                    data[0] = obj
                if obj > data[1]:
                    data[1] = obj
                if time > data[3]:
                    data[3] = time
                if time < data[4]:
                    data[4] = time
                if it > data[6]:
                    data[6] = it
                if it < data[7]:
                    data[7] = it

                data[2] += obj
                data[5] += time
                data[8] += it
                data[9] += set_part_improv
                data[10] += 1
            else:
                instance_to_data[instance_name] = [obj, obj, obj, time, time, time, it, it, it, set_part_improv, 1]
    return instance_to_data

def generate_run_df(run_name):
    run_path = project_path + directory_path + run_name
    
    instance_to_data = map_instance_to_data(run_path)
    
    df = pd.DataFrame(columns=[instance_key, 
                               best_obj_key, worst_obj_key, avg_obj_key, 
                               max_time_key, min_time_key, avg_time_key, 
                               max_iter_key, min_iter_key, avg_iter_key])
    
    for instance in instance_to_data:
        data = instance_to_data[instance]
        best_objective = data[0]
        worst_objective = data[1]
        avg_objective = data[2] / nbr_sims
        max_time = data[3]
        min_time = data[4]
        avg_time = data[5] / nbr_sims
        max_iter = data[6]
        min_iter = data[7]
        avg_iter = data[8] / nbr_sims
        avg_set_part_improv = data[9] / nbr_sims
        
        if data[10] != nbr_sims:
            print(f'{instance} HAS LESS THAN FIVE SIMULATIONS!')
        
        row = pd.Series({instance_key: instance, 
                         best_obj_key: best_objective,
                         worst_obj_key: worst_objective,
                         avg_obj_key: avg_objective, 
                         max_time_key: max_time,
                         min_time_key: min_time,
                         avg_time_key: avg_time, 
                         max_iter_key: max_iter,
                         min_iter_key: min_iter,
                         avg_iter_key: avg_iter,
                         set_part_key: avg_set_part_improv})
        
        df = df.append(row, ignore_index=True)
    
    df = df.sort_values(by='instance',
                        key=lambda x: np.argsort(index_natsorted(df['instance'])),
                        inplace=False)
    df = df.reset_index(drop=True)
    
    mean_row = pd.Series({instance_key: 'Mean values',
                          best_obj_key: df[best_obj_key].mean(),
                          worst_obj_key: df[worst_obj_key].mean(),
                          avg_obj_key: df[avg_obj_key].mean(),
                          max_time_key: df[max_time_key].mean(),
                          min_time_key: df[min_time_key].mean(),
                          avg_time_key: df[avg_time_key].mean(),
                          max_iter_key: df[max_iter_key].mean(),
                          min_iter_key: df[min_iter_key].mean(),
                          avg_iter_key: df[avg_iter_key].mean(),
                          set_part_key: df[set_part_key].mean()})
    df = df.append(mean_row, ignore_index=True)
    df = df.round(1)
    return df

def merge_dfs(dfs):
    df_copies = [df.copy() for df in dfs]
    for df in df_copies:
        df.drop([best_obj_key, worst_obj_key, max_time_key, min_time_key, max_iter_key, min_iter_key], 
                axis=1, inplace=True)
    df_total = pd.concat(df_copies, axis=1)
    
    # Drop duplicate instance columns
    li = [i for i in range(4, len(df_total.columns), 4)]
    df_total = df_total.iloc[:, [j for j, c in enumerate(df_total.columns) if j not in li]]
    
    df_total = df_total.round(1)
    return df_total

def aggregate_df_by_instance_group(df):
    instance_size_to_data = {}
    for idx, row in df.iterrows():
        instance_name = row[instance_key]

        if instance_name == 'Mean values':
            continue
        
        split_name = re.split('-', instance_name)
        instance_size = split_name[0]
        
        best_obj = row[best_obj_key]
        worst_obj = row[worst_obj_key]
        avg_obj = row[avg_obj_key]
        max_time = row[max_time_key]
        min_time = row[min_time_key]
        avg_time = row[avg_time_key]
        max_iter = row[max_iter_key]
        min_iter = row[min_iter_key]
        avg_iter = row[avg_iter_key]
        avg_set_part_improv = row[set_part_key]
        
        if instance_size in instance_size_to_data:
            data = instance_size_to_data[instance_size]
            data[0] += best_obj
            data[1] += worst_obj
            data[2] += avg_obj
            data[3] += max_time
            data[4] += min_time
            data[5] += avg_time
            data[6] += max_iter
            data[7] += min_iter
            data[8] += avg_iter
            data[9] += avg_set_part_improv
            data[10] += 1  # Number of times encountered instance size
        else:
            data = [best_obj, worst_obj, avg_obj, max_time, min_time, avg_time, max_iter, min_iter, avg_iter, avg_set_part_improv, 1]
            instance_size_to_data[instance_size] = data

    df = pd.DataFrame(columns=['instance_group', best_obj_key, worst_obj_key, avg_obj_key, max_time_key, min_time_key,
                               avg_time_key, max_iter_key, min_iter_key, avg_iter_key, set_part_key])
    
    for instance_size in instance_size_to_data:
        data = instance_size_to_data[instance_size]
        nbr_sims = data[10]
        if nbr_sims < 5:
            print(f'{instance_size} INSTANCE_SIZE LESS THAN FIVE INSTANCES!')
        
        row = pd.Series({'instance_group': instance_size, 
                         best_obj_key: data[0] / nbr_sims,
                         worst_obj_key: data[1] / nbr_sims,
                         avg_obj_key: data[2] / nbr_sims, 
                         max_time_key: data[3] / nbr_sims,
                         min_time_key: data[4] / nbr_sims,
                         avg_time_key: data[5] / nbr_sims, 
                         max_iter_key: data[6] / nbr_sims,
                         min_iter_key: data[7] / nbr_sims,
                         avg_iter_key: data[8] / nbr_sims,
                         set_part_key: data[9] / nbr_sims})
    
        df = df.append(row, ignore_index=True)
        
    mean_row = pd.Series({'instance_group': 'Mean values',
                          best_obj_key: df[best_obj_key].mean(),
                          worst_obj_key: df[worst_obj_key].mean(),
                          avg_obj_key: df[avg_obj_key].mean(),
                          max_time_key: df[max_time_key].mean(),
                          min_time_key: df[min_time_key].mean(),
                          avg_time_key: df[avg_time_key].mean(),
                          max_iter_key: df[max_iter_key].mean(),
                          min_iter_key: df[min_iter_key].mean(),
                          avg_iter_key: df[avg_iter_key].mean(),
                          set_part_key: df[set_part_key].mean()})
    df = df.append(mean_row, ignore_index=True)
    df = df.round(1)
    return df

## ALNS baseline

In [248]:
run_baseline_name = 'baseline/'
run_baseline_df = generate_run_df(run_baseline_name)
run_baseline_agg_df = aggregate_df_by_instance_group(run_baseline_df)

In [249]:
run_baseline_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,0.7,0.7,0.7,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,0.7,0.7,0.7,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,0.9,0.8,0.9,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.4,1.3,1.4,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.2,1.2,1.2,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,2.1,1.8,1.9,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,4.9,4.4,4.6,5000,5000,5000.0,0.0
7,7-8-1-3,2071.9,2071.9,2071.9,3.5,3.3,3.4,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,4.6,3.7,4.1,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,5.9,5.3,5.6,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,5.9,5.3,5.5,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,9.1,7.8,8.3,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,6.9,6.2,6.5,5000,5000,5000.0,0.0
13,9-11-1-1,7875.8,7958.7,7909.0,10.9,10.1,10.5,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,8.5,7.9,8.2,5000,5000,5000.0,0.0
15,11-12-2-1,3514.0,3587.5,3569.0,25.3,19.8,22.4,5000,5000,5000.0,0.0
16,11-12-2-2,3616.4,3710.0,3678.0,22.1,17.6,19.8,5000,5000,5000.0,0.0
17,11-13-2-1,3336.9,3428.5,3382.3,26.2,23.6,25.0,5000,5000,5000.0,0.0
18,11-14-2-1,3586.3,3629.4,3607.4,29.8,27.8,28.8,5000,5000,5000.0,0.0
19,11-15-2-1,2940.2,3029.7,3011.8,27.1,21.3,23.9,5000,5000,5000.0,0.0
20,13-14-2-1,3634.0,3681.9,3652.3,52.2,45.6,49.2,5000,5000,5000.0,0.0
21,13-15-2-1,3982.8,4069.1,4023.8,54.3,48.3,51.2,5000,5000,5000.0,0.0
22,13-15-2-2,3649.5,3769.3,3702.0,36.4,33.7,35.3,5000,5000,5000.0,0.0
23,13-16-2-1,3935.3,4239.6,4123.7,43.4,38.0,41.1,5000,5000,5000.0,0.0
24,13-18-2-1,3539.9,3977.1,3825.6,88.8,65.7,73.1,5000,5000,5000.0,0.0
25,15-15-2-1,3978.7,4043.4,4017.7,47.5,44.2,45.5,5000,5000,5000.0,0.0
26,15-17-2-1,11453.0,11613.8,11518.5,42.2,36.3,39.5,5000,5000,5000.0,0.0
27,15-18-2-1,6457.9,17589.4,13218.0,39.2,36.7,38.0,5000,5000,5000.0,0.0
28,15-18-2-2,4111.7,4233.3,4184.7,73.2,55.1,65.4,5000,5000,5000.0,0.0
29,15-21-2-1,4186.4,4298.8,4241.1,124.1,103.8,114.6,5000,5000,5000.0,0.0
30,17-18-3-1,4260.1,4323.3,4275.1,107.7,75.6,94.9,5000,5000,5000.0,0.0
31,17-19-3-1,4963.6,5051.7,5019.8,133.5,115.4,126.2,5000,5000,5000.0,0.0
32,17-19-3-2,4956.4,5036.2,5001.5,52.4,43.9,46.8,5000,5000,5000.0,0.0
33,17-22-3-1,5077.8,5249.2,5174.5,127.9,122.0,124.0,5000,5000,5000.0,0.0
34,17-23-3-1,5051.2,5173.3,5131.3,149.2,123.2,134.3,5000,5000,5000.0,0.0
35,19-19-3-1,5048.1,5159.1,5099.2,125.8,105.6,110.7,5000,5000,5000.0,0.0
36,19-21-3-1,5353.6,5439.0,5394.7,147.0,125.6,137.2,5000,5000,5000.0,0.0
37,19-21-3-2,4422.6,4948.0,4757.7,164.8,147.2,153.6,5000,5000,5000.0,0.0
38,19-22-3-1,4924.4,4949.9,4944.8,58.7,43.5,50.4,5000,5000,5000.0,0.0
39,19-25-3-1,4797.1,5190.9,5055.8,209.0,190.9,199.4,5000,5000,5000.0,0.0
40,21-23-3-1,5482.1,5541.7,5512.3,108.8,99.4,104.1,5000,5000,5000.0,0.0
41,21-23-3-2,4895.9,4918.0,4904.7,228.5,212.7,219.9,5000,5000,5000.0,0.0
42,21-24-3-1,4945.3,5321.8,5166.8,185.9,166.1,179.7,5000,5000,5000.0,0.0
43,21-26-3-1,13849.5,14051.0,13945.9,147.2,125.9,136.2,5000,5000,5000.0,0.0
44,21-28-3-1,7904.8,16710.4,13613.5,170.8,158.0,165.9,5000,5000,5000.0,0.0
45,23-24-4-1,5141.1,5221.9,5171.1,211.4,190.4,198.5,5000,5000,5000.0,0.0
46,23-25-4-1,5276.6,5651.6,5517.0,254.4,227.0,242.0,5000,5000,5000.0,0.0
47,23-27-4-1,5472.3,5718.5,5559.5,192.2,161.3,176.7,5000,5000,5000.0,0.0
48,23-30-4-1,6091.1,6157.9,6114.9,315.6,295.6,302.3,5000,5000,5000.0,0.0
49,23-31-4-1,6975.4,7121.5,7069.4,268.4,250.1,258.2,5000,5000,5000.0,0.0
50,25-26-4-1,6008.0,6492.7,6375.3,255.5,243.2,249.3,5000,5000,5000.0,0.0
51,25-28-4-1,6805.5,6905.7,6852.3,205.3,178.2,196.5,5000,5000,5000.0,0.0
52,25-29-4-1,6370.8,6718.8,6631.3,211.1,192.3,201.1,5000,5000,5000.0,0.0
53,25-30-4-1,5587.5,5799.8,5723.0,341.0,307.1,318.8,5000,5000,5000.0,0.0
54,25-33-4-1,7155.1,7226.3,7181.7,316.4,305.3,309.7,5000,5000,5000.0,0.0
55,27-28-5-1,7957.3,8126.7,8073.5,167.8,157.5,160.8,5000,5000,5000.0,0.0
56,27-29-5-1,6375.5,6999.2,6763.1,275.2,255.7,268.9,5000,5000,5000.0,0.0
57,27-32-5-1,8640.7,8741.6,8688.3,261.8,246.3,253.3,5000,5000,5000.0,0.0
58,27-35-5-1,8695.1,8827.5,8771.8,259.4,235.9,249.3,5000,5000,5000.0,0.0
59,27-37-5-1,9417.0,9982.4,9729.3,262.4,248.0,255.0,5000,5000,5000.0,0.0
60,Mean values,5057.2,5522.5,5343.6,111.9,100.4,106.0,5000.0,5000.0,5000.0,0.0

In [250]:
run_baseline_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,1.0,0.9,1.0,5000.0,5000.0,5000.0,0.0
1,7,2093.3,2093.3,2093.3,4.2,3.7,3.9,5000.0,5000.0,5000.0,0.0
2,9,5611.0,5627.5,5617.6,8.3,7.5,7.8,5000.0,5000.0,5000.0,0.0
3,11,3398.8,3477.0,3449.7,26.1,22.0,24.0,5000.0,5000.0,5000.0,0.0
4,13,3748.3,3947.4,3865.5,55.0,46.3,50.0,5000.0,5000.0,5000.0,0.0
5,15,6037.5,8355.7,7436.0,65.2,55.2,60.6,5000.0,5000.0,5000.0,0.0
6,17,4861.8,4966.7,4920.4,114.1,96.0,105.2,5000.0,5000.0,5000.0,0.0
7,19,4909.2,5137.4,5050.4,141.1,122.6,130.3,5000.0,5000.0,5000.0,0.0
8,21,7415.5,9308.6,8628.6,168.2,152.4,161.2,5000.0,5000.0,5000.0,0.0
9,23,5791.3,5974.3,5886.4,248.4,224.9,235.5,5000.0,5000.0,5000.0,0.0
10,25,6385.4,6628.7,6552.7,265.9,245.2,255.1,5000.0,5000.0,5000.0,0.0
11,27,8217.1,8535.5,8405.2,245.3,228.7,237.5,5000.0,5000.0,5000.0,0.0
12,Mean values,5057.2,5522.5,5343.6,111.9,100.4,106.0,5000.0,5000.0,5000.0,0.0

## Sequential ALNS

In [216]:
run_sequential_name = 'sequential/'
run_sequential_df = generate_run_df(run_sequential_name)
run_sequential_agg_df = aggregate_df_by_instance_group(run_sequential_df)

In [217]:
run_sequential_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter
0,5-5-1-1,2519.9,2519.9,2519.9,0.7,0.7,0.7,5000,5000,5000.0
1,5-5-1-2,2214.2,2214.2,2214.2,0.7,0.7,0.7,5000,5000,5000.0
2,5-6-1-1,1939.6,1939.6,1939.6,0.8,0.8,0.8,5000,5000,5000.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.4,1.3,1.3,5000,5000,5000.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.2,1.2,1.2,5000,5000,5000.0
5,7-8-1-1,2046.9,2046.9,2046.9,2.2,1.9,2.1,5000,5000,5000.0
6,7-8-1-2,1971.3,1971.3,1971.3,5.6,5.4,5.5,5000,5000,5000.0
7,7-8-1-3,2071.9,2071.9,2071.9,3.6,3.4,3.5,5000,5000,5000.0
8,7-9-1-1,2170.4,2170.4,2170.4,4.8,4.7,4.8,5000,5000,5000.0
9,7-9-1-2,2206.1,2206.1,2206.1,6.7,6.3,6.6,5000,5000,5000.0
10,9-9-1-1,2894.3,2894.3,2894.3,6.9,6.5,6.8,5000,5000,5000.0
11,9-9-1-2,1934.0,1934.0,1934.0,10.1,9.6,9.9,5000,5000,5000.0
12,9-10-1-1,6958.5,6958.5,6958.5,10.3,8.0,8.8,5000,5000,5000.0
13,9-11-1-1,7958.7,7958.7,7958.7,15.7,12.8,14.5,5000,5000,5000.0
14,9-11-1-2,8392.2,8392.2,8392.2,11.1,10.4,10.7,5000,5000,5000.0
15,11-12-2-1,3587.5,3587.5,3587.5,26.7,24.1,25.4,5000,5000,5000.0
16,11-12-2-2,3788.9,3788.9,3788.9,22.9,19.8,21.4,5000,5000,5000.0
17,11-13-2-1,3470.8,3470.8,3470.8,25.0,20.8,23.0,5000,5000,5000.0
18,11-14-2-1,3710.8,3710.8,3710.8,41.5,38.0,39.6,5000,5000,5000.0
19,11-15-2-1,3029.7,3029.7,3029.7,33.6,27.3,30.6,5000,5000,5000.0
20,13-14-2-1,3681.9,3681.9,3681.9,81.6,74.4,78.7,5000,5000,5000.0
21,13-15-2-1,4122.6,4122.6,4122.6,76.2,67.1,69.8,5000,5000,5000.0
22,13-15-2-2,3779.4,3779.4,3779.4,43.8,34.0,38.9,5000,5000,5000.0
23,13-16-2-1,4239.6,4239.6,4239.6,55.7,45.3,49.8,5000,5000,5000.0
24,13-18-2-1,4029.1,4029.1,4029.1,79.8,61.1,71.3,5000,5000,5000.0
25,15-15-2-1,4117.4,4117.4,4117.4,58.6,52.6,55.1,5000,5000,5000.0
26,15-17-2-1,11659.1,11679.3,11663.1,55.0,44.2,50.2,5000,5000,5000.0
27,15-18-2-1,6525.0,17609.3,15348.2,60.7,51.8,55.7,5000,5000,5000.0
28,15-18-2-2,4294.6,4294.6,4294.6,82.1,72.3,78.7,5000,5000,5000.0
29,15-21-2-1,4298.8,4298.8,4298.8,177.1,153.7,163.6,5000,5000,5000.0
30,17-18-3-1,3982.2,4351.1,4244.5,144.6,80.6,113.6,5000,5000,5000.0
31,17-19-3-1,4957.9,5075.4,5042.4,185.1,167.8,176.4,5000,5000,5000.0
32,17-19-3-2,5036.2,5036.2,5036.2,71.3,58.0,64.6,5000,5000,5000.0
33,17-22-3-1,5262.7,5274.8,5267.5,163.5,136.1,150.6,5000,5000,5000.0
34,17-23-3-1,4900.6,5196.4,5125.6,193.6,177.5,188.6,5000,5000,5000.0
35,19-19-3-1,4645.3,5251.2,5013.8,153.6,133.6,140.4,5000,5000,5000.0
36,19-21-3-1,5334.0,5479.0,5432.5,162.1,139.7,151.0,5000,5000,5000.0
37,19-21-3-2,4514.4,4971.4,4880.0,233.1,193.1,218.9,5000,5000,5000.0
38,19-22-3-1,4949.9,4949.9,4949.9,69.2,63.9,67.1,5000,5000,5000.0
39,19-25-3-1,5191.0,5214.1,5203.0,335.2,300.8,317.0,5000,5000,5000.0
40,21-23-3-1,5591.6,5592.4,5591.9,109.7,91.6,101.9,5000,5000,5000.0
41,21-23-3-2,4742.1,4926.7,4882.4,400.8,348.2,363.9,5000,5000,5000.0
42,21-24-3-1,4532.7,5324.2,5114.0,256.2,222.5,237.9,5000,5000,5000.0
43,21-26-3-1,14022.8,14097.1,14057.1,186.2,154.3,174.2,5000,5000,5000.0
44,21-28-3-1,12924.2,16722.3,15939.2,238.8,189.7,211.9,5000,5000,5000.0
45,23-24-4-1,5141.1,5221.1,5157.1,312.8,281.5,297.8,5000,5000,5000.0
46,23-25-4-1,4916.8,5645.4,5448.3,339.1,322.2,330.6,5000,5000,5000.0
47,23-27-4-1,5464.4,5799.8,5612.8,278.0,214.0,239.3,5000,5000,5000.0
48,23-30-4-1,5681.4,6154.7,6053.4,497.3,463.9,480.6,5000,5000,5000.0
49,23-31-4-1,6893.5,7156.8,7088.0,378.6,349.5,364.6,5000,5000,5000.0
50,25-26-4-1,6240.4,6569.6,6395.2,361.5,336.7,349.8,5000,5000,5000.0
51,25-28-4-1,6936.8,6997.7,6963.3,268.0,211.2,239.6,5000,5000,5000.0
52,25-29-4-1,6492.9,6759.7,6687.9,313.2,276.9,294.0,5000,5000,5000.0
53,25-30-4-1,5372.6,5849.7,5732.5,506.1,398.3,452.1,5000,5000,5000.0
54,25-33-4-1,7141.0,7179.9,7158.5,511.0,449.2,478.7,5000,5000,5000.0
55,27-28-5-1,8045.8,8190.1,8114.9,199.3,191.6,196.2,5000,5000,5000.0
56,27-29-5-1,6873.2,7024.9,6983.9,386.2,356.6,369.2,5000,5000,5000.0
57,27-32-5-1,8713.0,8789.1,8753.9,351.6,333.5,343.0,5000,5000,5000.0
58,27-35-5-1,8359.2,8822.5,8695.8,324.8,296.4,305.3,5000,5000,5000.0
59,27-37-5-1,9464.9,10175.0,9913.8,386.0,349.0,370.3,5000,5000,5000.0
60,Mean values,5172.5,5548.8,5456.6,155.3,135.8,145.3,5000.0,5000.0,5000.0

In [218]:
run_sequential_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter
0,5,2217.6,2217.6,2217.6,1.0,0.9,0.9,5000.0,5000.0,5000.0
1,7,2093.3,2093.3,2093.3,4.6,4.3,4.5,5000.0,5000.0,5000.0
2,9,5627.5,5627.5,5627.5,10.8,9.5,10.1,5000.0,5000.0,5000.0
3,11,3517.5,3517.5,3517.5,29.9,26.0,28.0,5000.0,5000.0,5000.0
4,13,3970.5,3970.5,3970.5,67.4,56.4,61.7,5000.0,5000.0,5000.0
5,15,6179.0,8399.9,7944.4,86.7,74.9,80.7,5000.0,5000.0,5000.0
6,17,4827.9,4986.8,4943.2,151.6,124.0,138.8,5000.0,5000.0,5000.0
7,19,4926.9,5173.1,5095.8,190.6,166.2,178.9,5000.0,5000.0,5000.0
8,21,8362.7,9332.5,9116.9,238.3,201.3,218.0,5000.0,5000.0,5000.0
9,23,5619.4,5995.6,5871.9,361.2,326.2,342.6,5000.0,5000.0,5000.0
10,25,6436.7,6671.3,6587.5,392.0,334.5,362.8,5000.0,5000.0,5000.0
11,27,8291.2,8600.3,8492.5,329.6,305.4,316.8,5000.0,5000.0,5000.0
12,Mean values,5172.5,5548.8,5456.6,155.3,135.8,145.3,5000.0,5000.0,5000.0

## LNS

In [220]:
run_lns_name = 'lns/'
run_lns_df = generate_run_df(run_lns_name)
run_lns_agg_df = aggregate_df_by_instance_group(run_lns_df)

5-7-1-2 HAS LESS THAN FIVE SIMULATIONS!

In [221]:
run_lns_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter
0,5-5-1-1,2519.9,2519.9,2519.9,0.8,0.7,0.7,5000,5000,5000.0
1,5-5-1-2,2214.2,2214.2,2214.2,0.7,0.7,0.7,5000,5000,5000.0
2,5-6-1-1,1939.6,1939.6,1939.6,0.9,0.8,0.8,5000,5000,5000.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.5,1.4,1.4,5000,5000,5000.0
4,5-7-1-2,1704.6,1704.6,1363.7,1.2,1.1,0.9,5000,5000,4000.0
5,7-8-1-1,2046.9,2046.9,2046.9,2.0,1.8,1.9,5000,5000,5000.0
6,7-8-1-2,1971.3,1971.3,1971.3,5.0,4.4,4.6,5000,5000,5000.0
7,7-8-1-3,2071.9,2071.9,2071.9,3.6,3.3,3.4,5000,5000,5000.0
8,7-9-1-1,2170.4,2170.4,2170.4,4.4,3.8,4.0,5000,5000,5000.0
9,7-9-1-2,2206.1,2206.1,2206.1,5.8,5.2,5.6,5000,5000,5000.0
10,9-9-1-1,2894.3,2894.3,2894.3,5.8,4.9,5.4,5000,5000,5000.0
11,9-9-1-2,1934.0,1934.0,1934.0,8.6,8.0,8.2,5000,5000,5000.0
12,9-10-1-1,6958.5,6958.5,6958.5,7.2,6.1,6.5,5000,5000,5000.0
13,9-11-1-1,7875.8,7958.7,7925.6,11.4,9.2,10.4,5000,5000,5000.0
14,9-11-1-2,8392.2,8392.2,8392.2,8.8,7.1,8.3,5000,5000,5000.0
15,11-12-2-1,3404.5,3587.5,3533.5,24.5,19.1,21.5,5000,5000,5000.0
16,11-12-2-2,3681.0,3745.8,3715.5,21.4,19.4,20.6,5000,5000,5000.0
17,11-13-2-1,3322.7,3387.3,3356.8,26.1,14.2,22.7,5000,5000,5000.0
18,11-14-2-1,3586.3,3629.4,3613.6,30.8,26.3,28.9,5000,5000,5000.0
19,11-15-2-1,3004.9,3029.7,3014.8,24.0,22.2,23.4,5000,5000,5000.0
20,13-14-2-1,3641.9,3681.9,3657.9,49.4,46.9,48.1,5000,5000,5000.0
21,13-15-2-1,3918.1,4024.4,3985.1,53.1,49.8,51.6,5000,5000,5000.0
22,13-15-2-2,3633.8,3698.5,3678.4,35.6,29.5,32.7,5000,5000,5000.0
23,13-16-2-1,3743.1,4222.5,4063.1,42.2,35.0,39.3,5000,5000,5000.0
24,13-18-2-1,3890.9,3958.0,3928.4,77.9,49.6,66.4,5000,5000,5000.0
25,15-15-2-1,3973.9,4091.8,4009.8,47.5,43.0,45.0,5000,5000,5000.0
26,15-17-2-1,11455.9,11635.7,11560.9,41.9,35.7,38.2,5000,5000,5000.0
27,15-18-2-1,6513.3,17618.4,15333.6,38.3,35.1,36.6,5000,5000,5000.0
28,15-18-2-2,4058.6,4282.6,4187.7,73.6,60.3,66.9,5000,5000,5000.0
29,15-21-2-1,4167.4,4298.8,4239.3,131.5,106.0,121.9,5000,5000,5000.0
30,17-18-3-1,3888.3,4319.0,4195.3,102.3,79.5,93.6,5000,5000,5000.0
31,17-19-3-1,4975.0,5037.1,5008.5,139.5,123.3,131.8,5000,5000,5000.0
32,17-19-3-2,4940.6,5036.2,4986.6,52.0,38.1,44.8,5000,5000,5000.0
33,17-22-3-1,5213.1,5238.2,5230.3,127.7,115.3,120.6,5000,5000,5000.0
34,17-23-3-1,4992.9,5196.2,5097.0,140.7,130.3,136.3,5000,5000,5000.0
35,19-19-3-1,4711.3,5112.4,4972.5,105.1,89.2,99.4,5000,5000,5000.0
36,19-21-3-1,5302.0,5451.1,5374.3,138.6,115.9,131.4,5000,5000,5000.0
37,19-21-3-2,4397.7,4945.0,4789.5,153.7,137.8,147.3,5000,5000,5000.0
38,19-22-3-1,4919.8,4949.9,4943.9,56.1,47.4,51.7,5000,5000,5000.0
39,19-25-3-1,5161.7,5182.8,5177.3,200.0,194.5,196.0,5000,5000,5000.0
40,21-23-3-1,5420.1,5500.5,5470.4,106.6,96.4,101.5,5000,5000,5000.0
41,21-23-3-2,4801.8,4918.8,4879.1,222.4,200.0,213.5,5000,5000,5000.0
42,21-24-3-1,4922.5,5318.6,5193.0,200.5,162.5,179.0,5000,5000,5000.0
43,21-26-3-1,13807.2,13993.6,13931.3,149.3,131.0,141.9,5000,5000,5000.0
44,21-28-3-1,9793.3,16686.8,13917.6,161.0,153.0,156.7,5000,5000,5000.0
45,23-24-4-1,5061.5,5207.5,5118.6,205.3,193.3,197.9,5000,5000,5000.0
46,23-25-4-1,5245.8,5683.7,5487.4,247.6,222.1,233.4,5000,5000,5000.0
47,23-27-4-1,5243.1,5722.4,5566.1,186.8,171.2,178.4,5000,5000,5000.0
48,23-30-4-1,6001.8,6127.4,6064.8,309.9,286.7,299.3,5000,5000,5000.0
49,23-31-4-1,6960.2,7127.9,7049.1,257.3,240.0,247.0,5000,5000,5000.0
50,25-26-4-1,5922.2,6475.8,6343.5,256.9,239.2,244.7,5000,5000,5000.0
51,25-28-4-1,6444.5,6917.8,6683.4,197.5,186.6,191.9,5000,5000,5000.0
52,25-29-4-1,6304.4,6767.9,6636.3,197.5,192.7,195.7,5000,5000,5000.0
53,25-30-4-1,5622.1,5816.8,5735.5,326.2,292.0,309.5,5000,5000,5000.0
54,25-33-4-1,7068.5,7215.8,7142.8,308.6,293.5,302.9,5000,5000,5000.0
55,27-28-5-1,7993.2,8179.9,8113.0,162.6,155.8,158.9,5000,5000,5000.0
56,27-29-5-1,6972.6,7026.9,6994.7,282.3,252.9,264.2,5000,5000,5000.0
57,27-32-5-1,8405.5,8721.0,8638.1,265.1,253.0,259.1,5000,5000,5000.0
58,27-35-5-1,8634.8,8759.9,8724.7,247.1,240.3,244.5,5000,5000,5000.0
59,27-37-5-1,8865.6,10222.9,9788.3,259.4,250.6,255.5,5000,5000,5000.0
60,Mean values,5060.0,5524.1,5374.2,109.2,98.9,104.3,5000.0,5000.0,4983.3

In [222]:
run_lns_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter
0,5,2217.6,2217.6,2149.4,1.0,0.9,0.9,5000.0,5000.0,4800.0
1,7,2093.3,2093.3,2093.3,4.2,3.7,3.9,5000.0,5000.0,5000.0
2,9,5611.0,5627.5,5620.9,8.4,7.1,7.8,5000.0,5000.0,5000.0
3,11,3399.9,3475.9,3446.8,25.4,20.2,23.4,5000.0,5000.0,5000.0
4,13,3765.6,3917.1,3862.6,51.6,42.2,47.6,5000.0,5000.0,5000.0
5,15,6033.8,8385.5,7866.3,66.6,56.0,61.7,5000.0,5000.0,5000.0
6,17,4802.0,4965.3,4903.5,112.4,97.3,105.4,5000.0,5000.0,5000.0
7,19,4898.5,5128.2,5051.5,130.7,117.0,125.2,5000.0,5000.0,5000.0
8,21,7749.0,9283.7,8678.3,168.0,148.6,158.5,5000.0,5000.0,5000.0
9,23,5702.5,5973.8,5857.2,241.4,222.7,231.2,5000.0,5000.0,5000.0
10,25,6272.3,6638.8,6508.3,257.3,240.8,248.9,5000.0,5000.0,5000.0
11,27,8174.3,8582.1,8451.8,243.3,230.5,236.4,5000.0,5000.0,5000.0
12,Mean values,5060.0,5524.1,5374.2,109.2,98.9,104.2,5000.0,5000.0,4983.3

## ALNS + local search

In [198]:
run_ls_name = 'ls/'
run_ls_df = generate_run_df(run_ls_name)
run_ls_agg_df = aggregate_df_by_instance_group(run_ls_df)

17-22-3-1 HAS LESS THAN FIVE SIMULATIONS!

In [199]:
run_ls_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter
0,5-5-1-1,2519.9,2519.9,2519.9,1.5,1.4,1.5,5000,5000,5000.0
1,5-5-1-2,2214.2,2214.2,2214.2,1.3,1.3,1.3,5000,5000,5000.0
2,5-6-1-1,1939.6,1939.6,1939.6,1.6,1.5,1.5,5000,5000,5000.0
3,5-7-1-1,2709.7,2709.7,2709.7,2.4,2.2,2.3,5000,5000,5000.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.9,1.8,1.8,5000,5000,5000.0
5,7-8-1-1,2046.9,2046.9,2046.9,4.0,3.7,3.8,5000,5000,5000.0
6,7-8-1-2,1971.3,1971.3,1971.3,6.9,6.2,6.7,5000,5000,5000.0
7,7-8-1-3,2071.9,2071.9,2071.9,5.8,5.5,5.7,5000,5000,5000.0
8,7-9-1-1,2170.4,2170.4,2170.4,6.4,6.0,6.3,5000,5000,5000.0
9,7-9-1-2,2206.1,2206.1,2206.1,8.5,7.9,8.1,5000,5000,5000.0
10,9-9-1-1,2894.3,2894.3,2894.3,10.1,9.8,10.0,5000,5000,5000.0
11,9-9-1-2,1934.0,1934.0,1934.0,12.6,11.7,12.2,5000,5000,5000.0
12,9-10-1-1,6958.5,6958.5,6958.5,7.5,6.5,7.0,5000,5000,5000.0
13,9-11-1-1,7160.9,7958.7,7659.2,16.2,14.9,15.6,5000,5000,5000.0
14,9-11-1-2,8392.2,8392.2,8392.2,10.4,8.7,9.5,5000,5000,5000.0
15,11-12-2-1,3573.9,3587.5,3584.8,40.1,33.9,36.9,5000,5000,5000.0
16,11-12-2-2,3616.4,3788.9,3745.8,42.4,32.0,36.8,5000,5000,5000.0
17,11-13-2-1,3322.7,3407.3,3378.4,58.6,42.7,51.5,5000,5000,5000.0
18,11-14-2-1,3586.3,3710.8,3639.6,47.6,41.3,44.9,5000,5000,5000.0
19,11-15-2-1,3029.7,3029.7,3029.7,37.6,31.2,34.6,5000,5000,5000.0
20,13-14-2-1,3620.4,3681.9,3669.3,78.8,71.3,75.0,5000,5000,5000.0
21,13-15-2-1,3961.3,4077.6,4036.3,95.3,88.5,92.1,5000,5000,5000.0
22,13-15-2-2,3132.8,3779.4,3642.0,53.7,44.2,49.3,5000,5000,5000.0
23,13-16-2-1,3989.6,4239.6,4188.5,72.1,63.7,69.2,5000,5000,5000.0
24,13-18-2-1,3637.6,3912.4,3744.7,138.7,99.1,114.9,5000,5000,5000.0
25,15-15-2-1,3920.7,4062.8,4022.8,96.2,90.4,92.7,5000,5000,5000.0
26,15-17-2-1,11455.7,11645.1,11524.4,59.1,50.4,54.6,5000,5000,5000.0
27,15-18-2-1,17296.0,17502.4,17454.2,81.1,73.0,77.7,5000,5000,5000.0
28,15-18-2-2,4111.7,4290.6,4204.0,145.1,123.2,132.7,5000,5000,5000.0
29,15-21-2-1,3912.3,4298.8,4187.1,212.4,183.2,194.9,5000,5000,5000.0
30,17-18-3-1,3888.3,4260.1,4136.6,173.3,116.3,137.7,5000,5000,5000.0
31,17-19-3-1,4554.1,5054.7,4860.4,313.7,246.3,273.0,5000,5000,5000.0
32,17-19-3-2,4594.0,5036.2,4851.2,139.6,88.9,122.7,5000,5000,5000.0
33,17-22-3-1,4840.9,5220.6,4073.6,260.2,197.5,182.5,5000,5000,4000.0
34,17-23-3-1,4704.6,5098.2,4930.3,246.8,218.2,235.0,5000,5000,5000.0
35,19-19-3-1,4264.6,5106.2,4857.3,314.8,276.2,298.7,5000,5000,5000.0
36,19-21-3-1,5297.2,5436.5,5360.9,303.4,260.0,287.1,5000,5000,5000.0
37,19-21-3-2,4240.5,4933.1,4666.4,312.4,263.7,289.8,5000,5000,5000.0
38,19-22-3-1,4949.9,4949.9,4949.9,84.0,62.7,71.5,5000,5000,5000.0
39,19-25-3-1,4616.9,5137.0,4978.6,410.3,250.2,356.9,5000,5000,5000.0
40,21-23-3-1,5119.6,5493.2,5394.5,162.0,146.3,157.2,5000,5000,5000.0
41,21-23-3-2,4424.4,4895.6,4715.7,414.0,284.6,360.3,5000,5000,5000.0
42,21-24-3-1,4933.9,5324.2,5169.7,370.9,316.6,343.6,5000,5000,5000.0
43,21-26-3-1,7761.0,13977.2,11868.2,220.5,181.8,195.7,5000,5000,5000.0
44,21-28-3-1,16594.2,16695.2,16629.7,232.8,206.3,219.5,5000,5000,5000.0
45,23-24-4-1,4732.6,5141.1,4926.7,387.7,302.5,349.9,5000,5000,5000.0
46,23-25-4-1,5020.1,5598.4,5323.4,600.2,473.8,545.2,5000,4964,4992.8
47,23-27-4-1,5555.0,5756.7,5686.9,319.2,254.9,281.0,5000,5000,5000.0
48,23-30-4-1,5444.0,5892.1,5663.0,537.6,441.4,492.8,5000,5000,5000.0
49,23-31-4-1,6749.9,7069.8,6953.0,494.1,453.6,480.5,5000,5000,5000.0
50,25-26-4-1,6054.1,6276.7,6172.8,561.7,500.6,537.7,5000,5000,5000.0
51,25-28-4-1,6790.0,6936.8,6851.8,390.2,301.8,354.4,5000,5000,5000.0
52,25-29-4-1,6082.3,6669.1,6327.2,297.7,253.0,274.1,5000,5000,5000.0
53,25-30-4-1,5061.8,5825.3,5599.7,600.1,590.3,598.1,5000,3953,4608.4
54,25-33-4-1,6584.6,7115.7,6913.2,600.1,445.2,540.5,5000,4640,4928.0
55,27-28-5-1,7735.1,7979.8,7909.3,256.3,250.8,253.9,5000,5000,5000.0
56,27-29-5-1,5858.2,6994.3,6526.2,600.2,503.7,553.3,5000,4315,4756.8
57,27-32-5-1,8015.4,8604.9,8362.3,580.3,547.2,567.0,5000,5000,5000.0
58,27-35-5-1,8384.0,8756.0,8578.1,408.7,353.6,384.5,5000,5000,5000.0
59,27-37-5-1,8991.1,9742.1,9348.4,336.9,277.5,303.9,5000,5000,5000.0
60,Mean values,5115.1,5494.7,5333.8,204.8,170.4,188.3,5000.0,4964.533333,4971.4

In [200]:
run_ls_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter
0,5,2217.60,2217.60,2217.60,1.74,1.64,1.68,5000.0,5000.0,5000.00
1,7,2093.32,2093.32,2093.32,6.32,5.86,6.12,5000.0,5000.0,5000.00
2,9,5467.98,5627.54,5567.64,11.36,10.32,10.86,5000.0,5000.0,5000.00
3,11,3425.80,3504.84,3475.66,45.26,36.22,40.94,5000.0,5000.0,5000.00
4,13,3668.34,3938.18,3856.16,87.72,73.36,80.10,5000.0,5000.0,5000.00
5,15,8139.28,8359.94,8278.50,118.78,104.04,110.52,5000.0,5000.0,5000.00
6,17,4516.38,4933.96,4570.42,226.72,173.44,190.18,5000.0,5000.0,4800.00
7,19,4673.82,5112.54,4962.62,284.98,222.56,260.80,5000.0,5000.0,5000.00
8,21,7766.62,9277.08,8755.56,280.04,227.12,255.26,5000.0,5000.0,5000.00
9,23,5500.32,5891.62,5710.60,467.76,385.24,429.88,5000.0,4992.8,4998.56
10,25,6114.56,6564.72,6372.94,489.96,418.18,460.96,5000.0,4718.6,4907.28
11,27,7796.76,8415.42,8144.86,436.48,386.56,412.52,5000.0,4863.0,4951.36

## ALNS + set partitioning

In [251]:
run_sp_name = 'sp/'
run_sp_df = generate_run_df(run_sp_name)
run_sp_agg_df = aggregate_df_by_instance_group(run_sp_df)

In [252]:
run_sp_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,0.9,0.8,0.8,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,0.8,0.7,0.8,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,0.9,0.8,0.9,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.5,1.4,1.4,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.3,1.2,1.2,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,2.1,1.8,2.0,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,4.8,4.3,4.6,5000,5000,5000.0,0.0
7,7-8-1-3,2071.9,2071.9,2071.9,3.9,3.3,3.5,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,4.3,4.0,4.1,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,5.8,5.1,5.5,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,6.0,5.5,5.6,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,8.5,7.7,8.2,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,7.6,5.8,6.9,5000,5000,5000.0,0.0
13,9-11-1-1,7875.8,7958.7,7892.4,10.9,9.3,10.1,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,8.6,7.7,8.1,5000,5000,5000.0,0.0
15,11-12-2-1,3514.0,3587.5,3550.8,22.6,18.9,21.4,5000,5000,5000.0,0.0
16,11-12-2-2,3659.4,3710.0,3673.8,23.5,18.1,20.2,5000,5000,5000.0,0.6
17,11-13-2-1,3170.3,3365.8,3300.1,26.1,23.5,24.9,5000,5000,5000.0,0.4
18,11-14-2-1,3579.0,3643.7,3626.9,29.7,26.6,28.3,5000,5000,5000.0,0.2
19,11-15-2-1,3029.7,3029.7,3029.7,26.8,21.6,24.1,5000,5000,5000.0,0.0
20,13-14-2-1,3598.8,3681.9,3657.3,53.3,47.6,50.5,5000,5000,5000.0,0.0
21,13-15-2-1,3783.9,4057.1,3960.5,56.3,50.0,53.2,5000,5000,5000.0,0.4
22,13-15-2-2,3662.7,3700.0,3679.3,38.4,36.5,37.5,5000,5000,5000.0,0.4
23,13-16-2-1,4104.6,4239.6,4161.3,44.6,41.8,43.0,5000,5000,5000.0,0.0
24,13-18-2-1,3574.5,3948.0,3808.5,81.5,71.9,76.3,5000,5000,5000.0,0.0
25,15-15-2-1,3978.9,4115.5,4033.7,46.9,42.5,45.8,5000,5000,5000.0,0.2
26,15-17-2-1,11506.3,11570.8,11537.7,44.2,38.8,41.8,5000,5000,5000.0,2.0
27,15-18-2-1,6617.6,17502.4,13523.6,44.0,38.5,41.8,5000,5000,5000.0,3.0
28,15-18-2-2,4216.3,4294.6,4235.0,71.1,58.5,66.8,5000,5000,5000.0,0.2
29,15-21-2-1,3890.8,4298.8,4203.3,127.5,112.2,118.2,5000,5000,5000.0,0.0
30,17-18-3-1,4064.1,4260.1,4220.9,106.9,56.7,73.0,5000,5000,5000.0,0.4
31,17-19-3-1,4991.2,5037.1,5009.4,130.9,118.9,125.6,5000,5000,5000.0,2.0
32,17-19-3-2,5000.3,5036.2,5017.4,70.8,49.2,59.5,5000,5000,5000.0,0.2
33,17-22-3-1,5115.1,5274.8,5197.7,122.4,118.5,120.7,5000,5000,5000.0,2.8
34,17-23-3-1,4986.5,5196.2,5141.7,148.2,132.1,139.6,5000,5000,5000.0,1.4
35,19-19-3-1,5093.5,5137.5,5119.0,123.8,99.5,114.8,5000,5000,5000.0,1.8
36,19-21-3-1,5339.4,5434.4,5386.9,141.6,130.2,136.1,5000,5000,5000.0,3.6
37,19-21-3-2,4297.8,4943.6,4757.4,152.6,141.8,148.4,5000,5000,5000.0,1.0
38,19-22-3-1,4858.3,4949.9,4926.6,57.6,47.7,52.5,5000,5000,5000.0,0.4
39,19-25-3-1,4768.7,5176.8,5083.0,209.1,201.5,205.4,5000,5000,5000.0,2.8
40,21-23-3-1,5463.1,5509.3,5481.9,119.8,92.3,105.3,5000,5000,5000.0,1.6
41,21-23-3-2,4886.3,4918.8,4899.6,241.2,204.3,218.6,5000,5000,5000.0,1.6
42,21-24-3-1,5239.2,5324.2,5288.4,194.7,171.0,180.6,5000,5000,5000.0,1.6
43,21-26-3-1,7697.3,13958.5,11892.8,149.9,140.6,145.7,5000,5000,5000.0,4.4
44,21-28-3-1,16371.9,16500.7,16450.0,178.0,160.5,166.1,5000,5000,5000.0,4.2
45,23-24-4-1,4430.9,5141.1,4886.5,207.8,197.2,200.7,5000,5000,5000.0,2.8
46,23-25-4-1,5182.9,5674.8,5513.3,259.4,243.9,251.8,5000,5000,5000.0,3.2
47,23-27-4-1,5582.8,5728.7,5669.7,198.0,172.0,185.7,5000,5000,5000.0,1.6
48,23-30-4-1,6073.2,6108.7,6093.8,319.7,295.2,305.6,5000,5000,5000.0,2.2
49,23-31-4-1,6427.8,7036.5,6818.7,270.2,250.1,259.4,5000,5000,5000.0,3.0
50,25-26-4-1,6224.2,6492.0,6370.0,260.8,245.0,254.9,5000,5000,5000.0,3.6
51,25-28-4-1,6541.6,6860.5,6763.0,206.9,192.2,200.7,5000,5000,5000.0,2.8
52,25-29-4-1,6614.4,6683.0,6645.8,216.6,198.1,204.5,5000,5000,5000.0,1.6
53,25-30-4-1,5000.0,5769.5,5421.4,347.7,302.3,318.9,5000,5000,5000.0,1.8
54,25-33-4-1,6599.5,7114.6,6952.7,326.7,307.2,316.1,5000,5000,5000.0,4.0
55,27-28-5-1,7703.0,7976.3,7824.8,172.5,166.3,169.9,5000,5000,5000.0,5.0
56,27-29-5-1,6228.2,6987.0,6756.5,281.0,261.1,269.8,5000,5000,5000.0,4.0
57,27-32-5-1,8508.5,8620.0,8581.9,279.8,256.2,269.3,5000,5000,5000.0,3.2
58,27-35-5-1,8461.7,8688.8,8623.0,271.5,260.7,266.3,5000,5000,5000.0,4.6
59,27-37-5-1,9274.2,9555.1,9385.4,260.5,253.1,257.0,5000,5000,5000.0,5.4
60,Mean values,5042.0,5492.2,5329.8,113.9,102.9,108.0,5000.0,5000.0,5000.0,1.4

In [253]:
run_sp_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,1.1,1.0,1.0,5000.0,5000.0,5000.0,0.0
1,7,2093.3,2093.3,2093.3,4.2,3.7,3.9,5000.0,5000.0,5000.0,0.0
2,9,5611.0,5627.5,5614.3,8.3,7.2,7.8,5000.0,5000.0,5000.0,0.0
3,11,3390.5,3467.3,3436.3,25.7,21.7,23.8,5000.0,5000.0,5000.0,0.2
4,13,3744.9,3925.3,3853.4,54.8,49.6,52.1,5000.0,5000.0,5000.0,0.2
5,15,6042.0,8356.4,7506.7,66.7,58.1,62.9,5000.0,5000.0,5000.0,1.1
6,17,4831.4,4960.9,4917.4,115.8,95.1,103.7,5000.0,5000.0,5000.0,1.4
7,19,4871.5,5128.4,5054.6,136.9,124.1,131.4,5000.0,5000.0,5000.0,1.9
8,21,7931.6,9242.3,8802.5,176.7,153.7,163.3,5000.0,5000.0,5000.0,2.7
9,23,5539.5,5938.0,5796.4,251.0,231.7,240.6,5000.0,5000.0,5000.0,2.6
10,25,6195.9,6583.9,6430.6,271.7,249.0,259.0,5000.0,5000.0,5000.0,2.8
11,27,8035.1,8365.4,8234.3,253.1,239.5,246.5,5000.0,5000.0,5000.0,4.4
12,Mean values,5042.0,5492.2,5329.8,113.8,102.9,108.0,5000.0,5000.0,5000.0,1.4

## ALNS + local search + set partitioning

In [226]:
run_ls_sp_name = 'ls/'
run_ls_sp_df = generate_run_df(run_ls_sp_name)
run_ls_sp_agg_df = aggregate_df_by_instance_group(run_ls_sp_df)

17-22-3-1 HAS LESS THAN FIVE SIMULATIONS!

In [227]:
run_ls_sp_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter
0,5-5-1-1,2519.9,2519.9,2519.9,1.5,1.4,1.5,5000,5000,5000.0
1,5-5-1-2,2214.2,2214.2,2214.2,1.3,1.3,1.3,5000,5000,5000.0
2,5-6-1-1,1939.6,1939.6,1939.6,1.6,1.5,1.5,5000,5000,5000.0
3,5-7-1-1,2709.7,2709.7,2709.7,2.4,2.2,2.3,5000,5000,5000.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.9,1.8,1.8,5000,5000,5000.0
5,7-8-1-1,2046.9,2046.9,2046.9,4.0,3.7,3.8,5000,5000,5000.0
6,7-8-1-2,1971.3,1971.3,1971.3,6.9,6.2,6.7,5000,5000,5000.0
7,7-8-1-3,2071.9,2071.9,2071.9,5.8,5.5,5.7,5000,5000,5000.0
8,7-9-1-1,2170.4,2170.4,2170.4,6.4,6.0,6.3,5000,5000,5000.0
9,7-9-1-2,2206.1,2206.1,2206.1,8.5,7.9,8.1,5000,5000,5000.0
10,9-9-1-1,2894.3,2894.3,2894.3,10.1,9.8,10.0,5000,5000,5000.0
11,9-9-1-2,1934.0,1934.0,1934.0,12.6,11.7,12.2,5000,5000,5000.0
12,9-10-1-1,6958.5,6958.5,6958.5,7.5,6.5,7.0,5000,5000,5000.0
13,9-11-1-1,7160.9,7958.7,7659.2,16.2,14.9,15.6,5000,5000,5000.0
14,9-11-1-2,8392.2,8392.2,8392.2,10.4,8.7,9.5,5000,5000,5000.0
15,11-12-2-1,3573.9,3587.5,3584.8,40.1,33.9,36.9,5000,5000,5000.0
16,11-12-2-2,3616.4,3788.9,3745.8,42.4,32.0,36.8,5000,5000,5000.0
17,11-13-2-1,3322.7,3407.3,3378.4,58.6,42.7,51.5,5000,5000,5000.0
18,11-14-2-1,3586.3,3710.8,3639.6,47.6,41.3,44.9,5000,5000,5000.0
19,11-15-2-1,3029.7,3029.7,3029.7,37.6,31.2,34.6,5000,5000,5000.0
20,13-14-2-1,3620.4,3681.9,3669.3,78.8,71.3,75.0,5000,5000,5000.0
21,13-15-2-1,3961.3,4077.6,4036.3,95.3,88.5,92.1,5000,5000,5000.0
22,13-15-2-2,3132.8,3779.4,3642.0,53.7,44.2,49.3,5000,5000,5000.0
23,13-16-2-1,3989.6,4239.6,4188.5,72.1,63.7,69.2,5000,5000,5000.0
24,13-18-2-1,3637.6,3912.4,3744.7,138.7,99.1,114.9,5000,5000,5000.0
25,15-15-2-1,3920.7,4062.8,4022.8,96.2,90.4,92.7,5000,5000,5000.0
26,15-17-2-1,11455.7,11645.1,11524.4,59.1,50.4,54.6,5000,5000,5000.0
27,15-18-2-1,17296.0,17502.4,17454.2,81.1,73.0,77.7,5000,5000,5000.0
28,15-18-2-2,4111.7,4290.6,4204.0,145.1,123.2,132.7,5000,5000,5000.0
29,15-21-2-1,3912.3,4298.8,4187.1,212.4,183.2,194.9,5000,5000,5000.0
30,17-18-3-1,3888.3,4260.1,4136.6,173.3,116.3,137.7,5000,5000,5000.0
31,17-19-3-1,4554.1,5054.7,4860.4,313.7,246.3,273.0,5000,5000,5000.0
32,17-19-3-2,4594.0,5036.2,4851.2,139.6,88.9,122.7,5000,5000,5000.0
33,17-22-3-1,4840.9,5220.6,4073.6,260.2,197.5,182.5,5000,5000,4000.0
34,17-23-3-1,4704.6,5098.2,4930.3,246.8,218.2,235.0,5000,5000,5000.0
35,19-19-3-1,4264.6,5106.2,4857.3,314.8,276.2,298.7,5000,5000,5000.0
36,19-21-3-1,5297.2,5436.5,5360.9,303.4,260.0,287.1,5000,5000,5000.0
37,19-21-3-2,4240.5,4933.1,4666.4,312.4,263.7,289.8,5000,5000,5000.0
38,19-22-3-1,4949.9,4949.9,4949.9,84.0,62.7,71.5,5000,5000,5000.0
39,19-25-3-1,4616.9,5137.0,4978.6,410.3,250.2,356.9,5000,5000,5000.0
40,21-23-3-1,5119.6,5493.2,5394.5,162.0,146.3,157.2,5000,5000,5000.0
41,21-23-3-2,4424.4,4895.6,4715.7,414.0,284.6,360.3,5000,5000,5000.0
42,21-24-3-1,4933.9,5324.2,5169.7,370.9,316.6,343.6,5000,5000,5000.0
43,21-26-3-1,7761.0,13977.2,11868.2,220.5,181.8,195.7,5000,5000,5000.0
44,21-28-3-1,16594.2,16695.2,16629.7,232.8,206.3,219.5,5000,5000,5000.0
45,23-24-4-1,4732.6,5141.1,4926.7,387.7,302.5,349.9,5000,5000,5000.0
46,23-25-4-1,5020.1,5598.4,5323.4,600.2,473.8,545.2,5000,4964,4992.8
47,23-27-4-1,5555.0,5756.7,5686.9,319.2,254.9,281.0,5000,5000,5000.0
48,23-30-4-1,5444.0,5892.1,5663.0,537.6,441.4,492.8,5000,5000,5000.0
49,23-31-4-1,6749.9,7069.8,6953.0,494.1,453.6,480.5,5000,5000,5000.0
50,25-26-4-1,6054.1,6276.7,6172.8,561.7,500.6,537.7,5000,5000,5000.0
51,25-28-4-1,6790.0,6936.8,6851.8,390.2,301.8,354.4,5000,5000,5000.0
52,25-29-4-1,6082.3,6669.1,6327.2,297.7,253.0,274.1,5000,5000,5000.0
53,25-30-4-1,5061.8,5825.3,5599.7,600.1,590.3,598.1,5000,3953,4608.4
54,25-33-4-1,6584.6,7115.7,6913.2,600.1,445.2,540.5,5000,4640,4928.0
55,27-28-5-1,7735.1,7979.8,7909.3,256.3,250.8,253.9,5000,5000,5000.0
56,27-29-5-1,5858.2,6994.3,6526.2,600.2,503.7,553.3,5000,4315,4756.8
57,27-32-5-1,8015.4,8604.9,8362.3,580.3,547.2,567.0,5000,5000,5000.0
58,27-35-5-1,8384.0,8756.0,8578.1,408.7,353.6,384.5,5000,5000,5000.0
59,27-37-5-1,8991.1,9742.1,9348.4,336.9,277.5,303.9,5000,5000,5000.0
60,Mean values,5115.1,5494.7,5333.8,204.8,170.4,188.3,5000.0,4964.533333,4971.4

In [228]:
run_ls_sp_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter
0,5,2217.6,2217.6,2217.6,1.7,1.6,1.7,5000.0,5000.0,5000.0
1,7,2093.3,2093.3,2093.3,6.3,5.9,6.1,5000.0,5000.0,5000.0
2,9,5468.0,5627.5,5567.6,11.4,10.3,10.9,5000.0,5000.0,5000.0
3,11,3425.8,3504.8,3475.7,45.3,36.2,40.9,5000.0,5000.0,5000.0
4,13,3668.3,3938.2,3856.2,87.7,73.4,80.1,5000.0,5000.0,5000.0
5,15,8139.3,8359.9,8278.5,118.8,104.0,110.5,5000.0,5000.0,5000.0
6,17,4516.4,4934.0,4570.4,226.7,173.4,190.2,5000.0,5000.0,4800.0
7,19,4673.8,5112.5,4962.6,285.0,222.6,260.8,5000.0,5000.0,5000.0
8,21,7766.6,9277.1,8755.6,280.0,227.1,255.3,5000.0,5000.0,5000.0
9,23,5500.3,5891.6,5710.6,467.8,385.2,429.9,5000.0,4992.8,4998.6
10,25,6114.6,6564.7,6372.9,490.0,418.2,461.0,5000.0,4718.6,4907.3
11,27,7796.8,8415.4,8144.9,436.5,386.6,412.5,5000.0,4863.0,4951.4
12,Mean values,5115.1,5494.7,5333.8,204.8,170.4,188.3,5000.0,4964.5,4971.4

## Parallel vs. sequential heuristics

In [229]:
baseline_sequential_df = merge_dfs([run_baseline_df, run_sequential_df])
baseline_sequential_agg_df = merge_dfs([run_baseline_agg_df, run_sequential_agg_df])

In [230]:
baseline_sequential_df

       instance      obj   time    iter      obj   time    iter
0       5-5-1-1   2519.9    0.7  5000.0   2519.9    0.7  5000.0
1       5-5-1-2   2214.2    0.7  5000.0   2214.2    0.7  5000.0
2       5-6-1-1   1939.6    0.9  5000.0   1939.6    0.8  5000.0
3       5-7-1-1   2709.7    1.4  5000.0   2709.7    1.3  5000.0
4       5-7-1-2   1704.6    1.2  5000.0   1704.6    1.2  5000.0
5       7-8-1-1   2046.9    1.9  5000.0   2046.9    2.1  5000.0
6       7-8-1-2   1971.3    4.6  5000.0   1971.3    5.5  5000.0
7       7-8-1-3   2071.9    3.4  5000.0   2071.9    3.5  5000.0
8       7-9-1-1   2170.4    4.1  5000.0   2170.4    4.8  5000.0
9       7-9-1-2   2206.1    5.6  5000.0   2206.1    6.6  5000.0
10      9-9-1-1   2894.3    5.5  5000.0   2894.3    6.8  5000.0
11      9-9-1-2   1934.0    8.3  5000.0   1934.0    9.9  5000.0
12     9-10-1-1   6958.5    6.5  5000.0   6958.5    8.8  5000.0
13     9-11-1-1   7909.0   10.5  5000.0   7958.7   14.5  5000.0
14     9-11-1-2   8392.2    8.2  5000.0   8392.2   10.7  5000.0
15    11-12-2-1   3569.0   22.4  5000.0   3587.5   25.4  5000.0
16    11-12-2-2   3678.0   19.8  5000.0   3788.9   21.4  5000.0
17    11-13-2-1   3382.3   25.0  5000.0   3470.8   23.0  5000.0
18    11-14-2-1   3607.4   28.8  5000.0   3710.8   39.6  5000.0
19    11-15-2-1   3011.8   23.9  5000.0   3029.7   30.6  5000.0
20    13-14-2-1   3652.3   49.2  5000.0   3681.9   78.7  5000.0
21    13-15-2-1   4023.8   51.2  5000.0   4122.6   69.8  5000.0
22    13-15-2-2   3702.0   35.3  5000.0   3779.4   38.9  5000.0
23    13-16-2-1   4123.7   41.1  5000.0   4239.6   49.8  5000.0
24    13-18-2-1   3825.6   73.1  5000.0   4029.1   71.3  5000.0
25    15-15-2-1   4017.7   45.5  5000.0   4117.4   55.1  5000.0
26    15-17-2-1  11518.5   39.5  5000.0  11663.1   50.2  5000.0
27    15-18-2-1  13218.0   38.0  5000.0  15348.2   55.7  5000.0
28    15-18-2-2   4184.7   65.4  5000.0   4294.6   78.7  5000.0
29    15-21-2-1   4241.1  114.6  5000.0   4298.8  163.6  5000.0
30    17-18-3-1   4275.1   94.9  5000.0   4244.5  113.6  5000.0
31    17-19-3-1   5019.8  126.2  5000.0   5042.4  176.4  5000.0
32    17-19-3-2   5001.5   46.8  5000.0   5036.2   64.6  5000.0
33    17-22-3-1   5174.5  124.0  5000.0   5267.5  150.6  5000.0
34    17-23-3-1   5131.3  134.3  5000.0   5125.6  188.6  5000.0
35    19-19-3-1   5099.2  110.7  5000.0   5013.8  140.4  5000.0
36    19-21-3-1   5394.7  137.2  5000.0   5432.5  151.0  5000.0
37    19-21-3-2   4757.7  153.6  5000.0   4880.0  218.9  5000.0
38    19-22-3-1   4944.8   50.4  5000.0   4949.9   67.1  5000.0
39    19-25-3-1   5055.8  199.4  5000.0   5203.0  317.0  5000.0
40    21-23-3-1   5512.3  104.1  5000.0   5591.9  101.9  5000.0
41    21-23-3-2   4904.7  219.9  5000.0   4882.4  363.9  5000.0
42    21-24-3-1   5166.8  179.7  5000.0   5114.0  237.9  5000.0
43    21-26-3-1  13945.9  136.2  5000.0  14057.1  174.2  5000.0
44    21-28-3-1  13613.5  165.9  5000.0  15939.2  211.9  5000.0
45    23-24-4-1   5171.1  198.5  5000.0   5157.1  297.8  5000.0
46    23-25-4-1   5517.0  242.0  5000.0   5448.3  330.6  5000.0
47    23-27-4-1   5559.5  176.7  5000.0   5612.8  239.3  5000.0
48    23-30-4-1   6114.9  302.3  5000.0   6053.4  480.6  5000.0
49    23-31-4-1   7069.4  258.2  5000.0   7088.0  364.6  5000.0
50    25-26-4-1   6375.3  249.3  5000.0   6395.2  349.8  5000.0
51    25-28-4-1   6852.3  196.5  5000.0   6963.3  239.6  5000.0
52    25-29-4-1   6631.3  201.1  5000.0   6687.9  294.0  5000.0
53    25-30-4-1   5723.0  318.8  5000.0   5732.5  452.1  5000.0
54    25-33-4-1   7181.7  309.7  5000.0   7158.5  478.7  5000.0
55    27-28-5-1   8073.5  160.8  5000.0   8114.9  196.2  5000.0
56    27-29-5-1   6763.1  268.9  5000.0   6983.9  369.2  5000.0
57    27-32-5-1   8688.3  253.3  5000.0   8753.9  343.0  5000.0
58    27-35-5-1   8771.8  249.3  5000.0   8695.8  305.3  5000.0
59    27-37-5-1   9729.3  255.0  5000.0   9913.8  370.3  5000.0
60  Mean values   5343.6  106.0  5000.0   5456.6  145.3  5000.0

In [231]:
baseline_sequential_agg_df

   instance_group     obj   time    iter     obj   time    iter
0               5  2217.6    1.0  5000.0  2217.6    0.9  5000.0
1               7  2093.3    3.9  5000.0  2093.3    4.5  5000.0
2               9  5617.6    7.8  5000.0  5627.5   10.1  5000.0
3              11  3449.7   24.0  5000.0  3517.5   28.0  5000.0
4              13  3865.5   50.0  5000.0  3970.5   61.7  5000.0
5              15  7436.0   60.6  5000.0  7944.4   80.7  5000.0
6              17  4920.4  105.2  5000.0  4943.2  138.8  5000.0
7              19  5050.4  130.3  5000.0  5095.8  178.9  5000.0
8              21  8628.6  161.2  5000.0  9116.9  218.0  5000.0
9              23  5886.4  235.5  5000.0  5871.9  342.6  5000.0
10             25  6552.7  255.1  5000.0  6587.5  362.8  5000.0
11             27  8405.2  237.5  5000.0  8492.5  316.8  5000.0
12    Mean values  5343.6  106.0  5000.0  5456.6  145.3  5000.0

## ALNS vs. LNS

In [232]:
baseline_lns_df = merge_dfs([run_baseline_df, run_lns_df])
baseline_lns_df

       instance      obj   time    iter      obj   time    iter
0       5-5-1-1   2519.9    0.7  5000.0   2519.9    0.7  5000.0
1       5-5-1-2   2214.2    0.7  5000.0   2214.2    0.7  5000.0
2       5-6-1-1   1939.6    0.9  5000.0   1939.6    0.8  5000.0
3       5-7-1-1   2709.7    1.4  5000.0   2709.7    1.4  5000.0
4       5-7-1-2   1704.6    1.2  5000.0   1363.7    0.9  4000.0
5       7-8-1-1   2046.9    1.9  5000.0   2046.9    1.9  5000.0
6       7-8-1-2   1971.3    4.6  5000.0   1971.3    4.6  5000.0
7       7-8-1-3   2071.9    3.4  5000.0   2071.9    3.4  5000.0
8       7-9-1-1   2170.4    4.1  5000.0   2170.4    4.0  5000.0
9       7-9-1-2   2206.1    5.6  5000.0   2206.1    5.6  5000.0
10      9-9-1-1   2894.3    5.5  5000.0   2894.3    5.4  5000.0
11      9-9-1-2   1934.0    8.3  5000.0   1934.0    8.2  5000.0
12     9-10-1-1   6958.5    6.5  5000.0   6958.5    6.5  5000.0
13     9-11-1-1   7909.0   10.5  5000.0   7925.6   10.4  5000.0
14     9-11-1-2   8392.2    8.2  5000.0   8392.2    8.3  5000.0
15    11-12-2-1   3569.0   22.4  5000.0   3533.5   21.5  5000.0
16    11-12-2-2   3678.0   19.8  5000.0   3715.5   20.6  5000.0
17    11-13-2-1   3382.3   25.0  5000.0   3356.8   22.7  5000.0
18    11-14-2-1   3607.4   28.8  5000.0   3613.6   28.9  5000.0
19    11-15-2-1   3011.8   23.9  5000.0   3014.8   23.4  5000.0
20    13-14-2-1   3652.3   49.2  5000.0   3657.9   48.1  5000.0
21    13-15-2-1   4023.8   51.2  5000.0   3985.1   51.6  5000.0
22    13-15-2-2   3702.0   35.3  5000.0   3678.4   32.7  5000.0
23    13-16-2-1   4123.7   41.1  5000.0   4063.1   39.3  5000.0
24    13-18-2-1   3825.6   73.1  5000.0   3928.4   66.4  5000.0
25    15-15-2-1   4017.7   45.5  5000.0   4009.8   45.0  5000.0
26    15-17-2-1  11518.5   39.5  5000.0  11560.9   38.2  5000.0
27    15-18-2-1  13218.0   38.0  5000.0  15333.6   36.6  5000.0
28    15-18-2-2   4184.7   65.4  5000.0   4187.7   66.9  5000.0
29    15-21-2-1   4241.1  114.6  5000.0   4239.3  121.9  5000.0
30    17-18-3-1   4275.1   94.9  5000.0   4195.3   93.6  5000.0
31    17-19-3-1   5019.8  126.2  5000.0   5008.5  131.8  5000.0
32    17-19-3-2   5001.5   46.8  5000.0   4986.6   44.8  5000.0
33    17-22-3-1   5174.5  124.0  5000.0   5230.3  120.6  5000.0
34    17-23-3-1   5131.3  134.3  5000.0   5097.0  136.3  5000.0
35    19-19-3-1   5099.2  110.7  5000.0   4972.5   99.4  5000.0
36    19-21-3-1   5394.7  137.2  5000.0   5374.3  131.4  5000.0
37    19-21-3-2   4757.7  153.6  5000.0   4789.5  147.3  5000.0
38    19-22-3-1   4944.8   50.4  5000.0   4943.9   51.7  5000.0
39    19-25-3-1   5055.8  199.4  5000.0   5177.3  196.0  5000.0
40    21-23-3-1   5512.3  104.1  5000.0   5470.4  101.5  5000.0
41    21-23-3-2   4904.7  219.9  5000.0   4879.1  213.5  5000.0
42    21-24-3-1   5166.8  179.7  5000.0   5193.0  179.0  5000.0
43    21-26-3-1  13945.9  136.2  5000.0  13931.3  141.9  5000.0
44    21-28-3-1  13613.5  165.9  5000.0  13917.6  156.7  5000.0
45    23-24-4-1   5171.1  198.5  5000.0   5118.6  197.9  5000.0
46    23-25-4-1   5517.0  242.0  5000.0   5487.4  233.4  5000.0
47    23-27-4-1   5559.5  176.7  5000.0   5566.1  178.4  5000.0
48    23-30-4-1   6114.9  302.3  5000.0   6064.8  299.3  5000.0
49    23-31-4-1   7069.4  258.2  5000.0   7049.1  247.0  5000.0
50    25-26-4-1   6375.3  249.3  5000.0   6343.5  244.7  5000.0
51    25-28-4-1   6852.3  196.5  5000.0   6683.4  191.9  5000.0
52    25-29-4-1   6631.3  201.1  5000.0   6636.3  195.7  5000.0
53    25-30-4-1   5723.0  318.8  5000.0   5735.5  309.5  5000.0
54    25-33-4-1   7181.7  309.7  5000.0   7142.8  302.9  5000.0
55    27-28-5-1   8073.5  160.8  5000.0   8113.0  158.9  5000.0
56    27-29-5-1   6763.1  268.9  5000.0   6994.7  264.2  5000.0
57    27-32-5-1   8688.3  253.3  5000.0   8638.1  259.1  5000.0
58    27-35-5-1   8771.8  249.3  5000.0   8724.7  244.5  5000.0
59    27-37-5-1   9729.3  255.0  5000.0   9788.3  255.5  5000.0
60  Mean values   5343.6  106.0  5000.0   5374.2  104.3  4983.3

## ALNS vs. ALNS + local search

In [174]:
baseline_ls_df = merge_dfs([run_baseline_df, run_ls_df])
baseline_ls_df

17-22-3-1 HAS LESS THAN FIVE SIMULATIONS!

## ALNS vs. ALNS + set partitioning

## ALNS vs. ALNS + local search + set partitioning