# Performance dataframes

In [2]:
import os
import re
import json
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np
from natsort import index_natsorted

/Users/andersvandvik/Repositories/masters-thesis/venv/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## General parameters

In [3]:
nbr_sims = 5

instance_key = 'instance'
best_obj_key = 'best obj'
worst_obj_key = 'worst obj'
avg_obj_key = 'obj'
max_time_key = 'max time'
min_time_key = 'min time'
avg_time_key = 'time'
max_iter_key = 'max iter'
min_iter_key = 'min iter'
avg_iter_key = 'iter'
set_part_key = 'sp improv'

gap_key = 'gap'
preprocess_key = 'preproc'
model_key = 'model time'
variables_key = 'variables'


project_path = os.path.dirname(os.path.abspath('.'))
directory_path_alns = '/output/solstorm/alns/performance/'
directory_path_exact = '/output/solstorm/arcflow/performance/'

generate_df = True
run_number = 'third'

## Functions

In [4]:
def map_instance_to_data_alns(run_path):
    instance_to_data = {}
    for file_name in os.listdir(run_path):
        split_name = re.split('_|\.', file_name)
        instance_name = split_name[0]
        is_history = split_name[2] == 'history'
        if is_history:
            with open(run_path + file_name) as file:
                history_json = json.load(file)
        
            obj = history_json['best_objective']
            time = history_json['runtime']
            it = history_json['number_of_iterations']
            set_part_improv = history_json['number_of_improvements_by_set_partitioning']

            if instance_name in instance_to_data:
                data = instance_to_data[instance_name]

                if obj < data[0]:
                    data[0] = obj
                if obj > data[1]:
                    data[1] = obj
                if time > data[3]:
                    data[3] = time
                if time < data[4]:
                    data[4] = time
                if it > data[6]:
                    data[6] = it
                if it < data[7]:
                    data[7] = it

                data[2] += obj
                data[5] += time
                data[8] += it
                data[9] += set_part_improv
                data[10] += 1
            else:
                instance_to_data[instance_name] = [obj, obj, obj, time, time, time, it, it, it, set_part_improv, 1]
    return instance_to_data

def generate_run_df_alns(run_name):
    run_path = project_path + directory_path_alns + run_name
    instance_to_data = map_instance_to_data_alns(run_path)
    
    df = pd.DataFrame(columns=[instance_key, 
                               best_obj_key, worst_obj_key, avg_obj_key, 
                               max_time_key, min_time_key, avg_time_key, 
                               max_iter_key, min_iter_key, avg_iter_key])
    
    for instance in instance_to_data:
        data = instance_to_data[instance]
        best_objective = data[0]
        worst_objective = data[1]
        avg_objective = data[2] / nbr_sims
        max_time = data[3]
        min_time = data[4]
        avg_time = data[5] / nbr_sims
        max_iter = data[6]
        min_iter = data[7]
        avg_iter = data[8] / nbr_sims
        avg_set_part_improv = data[9] / nbr_sims
        
        if data[10] != nbr_sims:
            print(f'{instance} HAS LESS THAN FIVE SIMULATIONS!')
        
        row = pd.Series({instance_key: instance, 
                         best_obj_key: best_objective,
                         worst_obj_key: worst_objective,
                         avg_obj_key: avg_objective, 
                         max_time_key: max_time,
                         min_time_key: min_time,
                         avg_time_key: avg_time, 
                         max_iter_key: max_iter,
                         min_iter_key: min_iter,
                         avg_iter_key: avg_iter,
                         set_part_key: avg_set_part_improv})
        
        df = df.append(row, ignore_index=True)
    
    df = df.sort_values(by='instance',
                        key=lambda x: np.argsort(index_natsorted(df['instance'])),
                        inplace=False)
    df = df.reset_index(drop=True)
    
    mean_row = pd.Series({instance_key: 'Mean values',
                          best_obj_key: df[best_obj_key].mean(),
                          worst_obj_key: df[worst_obj_key].mean(),
                          avg_obj_key: df[avg_obj_key].mean(),
                          max_time_key: df[max_time_key].mean(),
                          min_time_key: df[min_time_key].mean(),
                          avg_time_key: df[avg_time_key].mean(),
                          max_iter_key: df[max_iter_key].mean(),
                          min_iter_key: df[min_iter_key].mean(),
                          avg_iter_key: df[avg_iter_key].mean(),
                          set_part_key: df[set_part_key].mean()})
    df = df.append(mean_row, ignore_index=True)
    df = df.round(1)
    return df

def map_instance_to_data_exact(run_path):
    instance_to_data = {}
    for file_name in os.listdir(run_path):
        split_name = re.split('_|\.', file_name)
        instance_name = split_name[0]
        with open(run_path + file_name) as file:
            exact_json = json.load(file)

        obj = exact_json['objective']['objective_bound']
        gap = exact_json['objective']['optimality_gap']
        model_runtime = exact_json['runtime']['model_runtime']
        preprocess_runtime = exact_json['runtime']['preprocess_runtime']
        variables = exact_json['variables']['number_of_variables']
        
        if instance_name in instance_to_data:
            print('Multiple versions of same instance!')
        
        instance_to_data[instance_name] = [obj, gap, model_runtime, preprocess_runtime, variables]
    
    return instance_to_data

def generate_run_df_exact(run_name):
    run_path = project_path + directory_path_exact + run_name
    instance_to_data = map_instance_to_data_exact(run_path)

    df = pd.DataFrame(columns=[instance_key, avg_obj_key, gap_key, preprocess_key, model_key, variables_key])
    for instance in instance_to_data:
        data = instance_to_data[instance]
        obj = data[0]
        gap = data[1]
        preprocess_runtime = data[2]
        model_runtime = data[3]
        variables = data[4]
        row = pd.Series({instance_key: instance,
                         avg_obj_key: obj,
                         gap_key: gap,
                         preprocess_key: preprocess_runtime,
                         model_key: model_runtime,
                         variables_key: variables})
        df = df.append(row, ignore_index=True)
    
    df = df.sort_values(by='instance',
                        key=lambda x: np.argsort(index_natsorted(df['instance'])),
                        inplace=False)
    df = df.reset_index(drop=True)
    
    mean_row = pd.Series({instance_key: 'Mean values',
                          avg_obj_key: df[avg_obj_key].mean(),
                          gap_key: df[gap_key].mean(),
                          preprocess_key: df[preprocess_key].mean(),
                          model_key: df[model_key].mean(),
                          variables_key: df[variables_key].mean()})
    df = df.append(mean_row, ignore_index=True)
    df = df.round(1)
    return df

def merge_dfs(dfs, drop):
    df_copies = [df.copy() for df in dfs]
    for df in df_copies:
        df.drop([best_obj_key, worst_obj_key, max_time_key, min_time_key, max_iter_key, min_iter_key], 
                axis=1, inplace=True)
    df_total = pd.concat(df_copies, axis=1)
    
    # Drop duplicate instance columns
    if drop:
        li = [i for i in range(5, len(df_total.columns), 5)]
        df_total = df_total.iloc[:, [j for j, c in enumerate(df_total.columns) if j not in li]]
    
    df_total = df_total.round(1)
    return df_total

def aggregate_df_by_instance_group_alns(df):
    instance_size_to_data = {}
    for idx, row in df.iterrows():
        instance_name = row[instance_key]

        if instance_name == 'Mean values':
            continue
        
        split_name = re.split('-', instance_name)
        instance_size = split_name[0]
        
        best_obj = row[best_obj_key]
        worst_obj = row[worst_obj_key]
        avg_obj = row[avg_obj_key]
        max_time = row[max_time_key]
        min_time = row[min_time_key]
        avg_time = row[avg_time_key]
        max_iter = row[max_iter_key]
        min_iter = row[min_iter_key]
        avg_iter = row[avg_iter_key]
        avg_set_part_improv = row[set_part_key]
        
        if instance_size in instance_size_to_data:
            data = instance_size_to_data[instance_size]
            data[0] += best_obj
            data[1] += worst_obj
            data[2] += avg_obj
            data[3] += max_time
            data[4] += min_time
            data[5] += avg_time
            data[6] += max_iter
            data[7] += min_iter
            data[8] += avg_iter
            data[9] += avg_set_part_improv
            data[10] += 1  # Number of times encountered instance size
        else:
            data = [best_obj, worst_obj, avg_obj, max_time, min_time, avg_time, max_iter, min_iter, avg_iter, avg_set_part_improv, 1]
            instance_size_to_data[instance_size] = data

    df = pd.DataFrame(columns=['instance_group', best_obj_key, worst_obj_key, avg_obj_key, max_time_key, min_time_key,
                               avg_time_key, max_iter_key, min_iter_key, avg_iter_key, set_part_key])
    
    for instance_size in instance_size_to_data:
        data = instance_size_to_data[instance_size]
        nbr_sims = data[10]
        if nbr_sims < 5:
            print(f'{instance_size} INSTANCE_SIZE LESS THAN FIVE INSTANCES!')
        
        row = pd.Series({'instance_group': instance_size, 
                         best_obj_key: data[0] / nbr_sims,
                         worst_obj_key: data[1] / nbr_sims,
                         avg_obj_key: data[2] / nbr_sims, 
                         max_time_key: data[3] / nbr_sims,
                         min_time_key: data[4] / nbr_sims,
                         avg_time_key: data[5] / nbr_sims, 
                         max_iter_key: data[6] / nbr_sims,
                         min_iter_key: data[7] / nbr_sims,
                         avg_iter_key: data[8] / nbr_sims,
                         set_part_key: data[9] / nbr_sims})
    
        df = df.append(row, ignore_index=True)
        
    mean_row = pd.Series({'instance_group': 'Mean values',
                          best_obj_key: df[best_obj_key].mean(),
                          worst_obj_key: df[worst_obj_key].mean(),
                          avg_obj_key: df[avg_obj_key].mean(),
                          max_time_key: df[max_time_key].mean(),
                          min_time_key: df[min_time_key].mean(),
                          avg_time_key: df[avg_time_key].mean(),
                          max_iter_key: df[max_iter_key].mean(),
                          min_iter_key: df[min_iter_key].mean(),
                          avg_iter_key: df[avg_iter_key].mean(),
                          set_part_key: df[set_part_key].mean()})
    df = df.append(mean_row, ignore_index=True)
    df = df.round(1)
    return df

def aggregate_df_by_instance_group_exact(df):
    instance_size_to_data = {}
    for idx, row in df.iterrows():
        instance_name = row[instance_key]

        if instance_name == 'Mean values':
            continue
        
        split_name = re.split('-', instance_name)
        instance_size = split_name[0]
        
        obj = row[avg_obj_key]
        gap = row[gap_key]
        preprocess_runtime = row[preprocess_key]
        model_runtime = row[model_key]
        variables = row[variables_key]
        
        if instance_size in instance_size_to_data:
            data = instance_size_to_data[instance_size]
            data[0] += obj
            data[1] += gap
            data[2] += preprocess_runtime
            data[3] += model_runtime
            data[4] += variables
            data[5] += 1 # Number of times encountered instance size
        else:
            instance_size_to_data[instance_size] = [obj, gap, preprocess_runtime, model_runtime, variables, 1]

    df = pd.DataFrame(columns=['instance_group', avg_obj_key, gap_key, preprocess_key, model_key, variables_key])
    
    for instance_size in instance_size_to_data:
        data = instance_size_to_data[instance_size]
        nbr_sims = data[5]
        if nbr_sims < 5:
            print(f'{instance_size} INSTANCE_SIZE LESS THAN FIVE INSTANCES!')
        
        row = pd.Series({'instance_group': instance_size, 
                         avg_obj_key: data[0] / nbr_sims,
                         gap_key: data[1] / nbr_sims,
                         preprocess_key: data[2] / nbr_sims, 
                         model_key: data[3] / nbr_sims,
                         variables_key: data[4] / nbr_sims})
    
        df = df.append(row, ignore_index=True)

        
    mean_row = pd.Series({'instance_group': 'Mean values', 
                          avg_obj_key: df[avg_obj_key].mean(),
                          gap_key: df[gap_key].mean(),
                          preprocess_key: df[preprocess_key].mean(), 
                          model_key: df[model_key].mean(),
                          variables_key: df[variables_key].mean()})
    df = df.append(mean_row, ignore_index=True)
    df = df.round(1)
    return df

def load_df(file_name):
    run_df = pd.read_pickle(f'dataframes/performance/{file_name}')
    # run_df = sort_df(run_df, sort_column)
    return run_df

## ALNS baseline

In [23]:
if generate_df:
    run_baseline_name = f'{run_number}/baseline/'
    run_baseline_df = generate_run_df_alns(run_baseline_name)
    run_baseline_agg_df = aggregate_df_by_instance_group_alns(run_baseline_df)

    run_baseline_file_name = f'dataframes/performance/baseline.pkl'
    run_baseline_agg_file_name = f'dataframes/performance/baseline_agg.pkl'
    run_baseline_df.to_pickle(run_baseline_file_name)
    run_baseline_agg_df.to_pickle(run_baseline_agg_file_name)

In [24]:
run_baseline_df = load_df('baseline.pkl')
run_baseline_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,0.8,0.7,0.7,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,0.7,0.7,0.7,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,0.9,0.8,0.9,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.3,1.2,1.2,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.1,1.1,1.1,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,1.9,1.7,1.8,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,1.7,1.5,1.6,5000,5000,5000.0,0.0
7,7-8-1-3,2080.2,2080.2,2080.2,2.0,1.8,1.9,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,4.8,4.1,4.3,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,2.7,2.1,2.3,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,4.3,3.7,4.0,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,7.7,7.0,7.4,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,3.9,2.4,2.9,5000,5000,5000.0,0.0
13,9-11-1-1,7958.7,7958.7,7958.7,4.7,4.2,4.5,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,4.5,2.8,3.6,5000,5000,5000.0,0.0
15,11-12-2-1,3587.5,3587.5,3587.5,20.6,17.3,18.5,5000,5000,5000.0,0.0
16,11-12-2-2,3788.9,3788.9,3788.9,15.4,14.4,15.0,5000,5000,5000.0,0.0
17,11-13-2-1,3470.8,3470.8,3470.8,20.3,19.4,19.8,5000,5000,5000.0,0.0
18,11-14-2-1,3710.8,3710.8,3710.8,23.3,21.8,22.7,5000,5000,5000.0,0.0
19,11-15-2-1,3029.7,3029.7,3029.7,18.9,15.8,17.6,5000,5000,5000.0,0.0
20,13-14-2-1,3681.9,3681.9,3681.9,34.7,29.4,32.3,5000,5000,5000.0,0.0
21,13-15-2-1,4122.6,4122.6,4122.6,35.1,32.1,33.5,5000,5000,5000.0,0.0
22,13-15-2-2,3779.4,3779.4,3779.4,22.8,18.4,20.8,5000,5000,5000.0,0.0
23,13-16-2-1,4239.6,4239.6,4239.6,34.6,30.4,33.2,5000,5000,5000.0,0.0
24,13-18-2-1,4029.1,4029.1,4029.1,41.3,40.6,41.0,5000,5000,5000.0,0.0
25,15-15-2-1,4117.5,4117.5,4117.5,30.7,24.5,27.9,5000,5000,5000.0,0.0
26,15-17-2-1,11659.1,11679.3,11663.1,36.3,32.2,34.9,5000,5000,5000.0,0.0
27,15-18-2-1,17552.1,17740.2,17627.3,33.1,26.4,29.3,5000,5000,5000.0,0.0
28,15-18-2-2,3703.7,4312.6,4180.0,45.7,37.3,41.7,5000,5000,5000.0,0.0
29,15-21-2-1,4303.6,4303.8,4303.6,60.8,50.7,55.0,5000,5000,5000.0,0.0
30,17-18-3-1,4260.1,4396.9,4296.4,57.9,50.6,54.4,5000,5000,5000.0,0.0
31,17-19-3-1,5075.4,5075.4,5075.4,72.6,65.3,68.4,5000,5000,5000.0,0.0
32,17-19-3-2,4973.5,5036.2,5023.7,48.2,44.9,47.3,5000,5000,5000.0,0.0
33,17-22-3-1,5262.7,5349.0,5287.2,59.0,51.5,53.5,5000,5000,5000.0,0.0
34,17-23-3-1,5196.2,5228.2,5207.0,74.9,67.9,72.3,5000,5000,5000.0,0.0
35,19-19-3-1,5145.8,5247.8,5200.8,79.9,59.0,70.8,5000,5000,5000.0,0.0
36,19-21-3-1,5479.0,5502.4,5486.5,69.0,63.9,66.5,5000,5000,5000.0,0.0
37,19-21-3-2,4570.0,4971.4,4822.6,90.4,70.3,77.3,5000,5000,5000.0,0.0
38,19-22-3-1,4949.9,4949.9,4949.9,43.7,38.1,40.4,5000,5000,5000.0,0.0
39,19-25-3-1,4402.7,5178.1,4773.4,108.3,96.4,103.7,5000,5000,5000.0,0.0
40,21-23-3-1,5591.6,5592.3,5591.9,65.6,58.9,61.5,5000,5000,5000.0,0.0
41,21-23-3-2,4343.8,5008.7,4740.9,128.4,100.9,117.4,5000,5000,5000.0,0.0
42,21-24-3-1,5324.2,5324.2,5324.2,90.4,66.4,77.1,5000,5000,5000.0,0.0
43,21-26-3-1,11059.2,14099.3,13442.8,85.1,72.0,77.9,5000,5000,5000.0,0.0
44,21-28-3-1,14273.0,16729.6,16228.9,105.4,83.9,96.0,5000,5000,5000.0,0.0
45,23-24-4-1,4857.3,5141.1,5051.3,104.8,91.5,96.4,5000,5000,5000.0,0.0
46,23-25-4-1,5274.8,5681.6,5481.7,154.5,136.7,143.3,5000,5000,5000.0,0.0
47,23-27-4-1,5756.7,5799.8,5765.3,101.3,85.5,94.7,5000,5000,5000.0,0.0
48,23-30-4-1,5878.2,6123.9,6029.1,170.0,159.9,166.2,5000,5000,5000.0,0.0
49,23-31-4-1,6471.7,7156.5,6773.4,158.6,144.6,150.1,5000,5000,5000.0,0.0
50,25-26-4-1,6189.3,6572.0,6423.5,166.2,135.4,149.5,5000,5000,5000.0,0.0
51,25-28-4-1,6936.8,6988.0,6967.9,116.1,103.9,109.3,5000,5000,5000.0,0.0
52,25-29-4-1,6708.8,6770.7,6731.2,118.1,96.3,109.6,5000,5000,5000.0,0.0
53,25-30-4-1,5290.4,5825.4,5532.2,221.9,191.8,204.8,5000,5000,5000.0,0.0
54,25-33-4-1,6806.0,7204.2,6988.3,190.2,177.0,184.8,5000,5000,5000.0,0.0
55,27-28-5-1,8020.0,8246.4,8151.6,90.2,84.4,87.2,5000,5000,5000.0,0.0
56,27-29-5-1,6429.8,7054.7,6722.2,168.7,152.4,159.4,5000,5000,5000.0,0.0
57,27-32-5-1,8415.3,8759.7,8683.5,158.5,141.6,151.1,5000,5000,5000.0,0.0
58,27-35-5-1,8282.4,8828.1,8668.7,157.4,140.8,149.2,5000,5000,5000.0,0.0
59,27-37-5-1,9502.0,10123.9,9806.1,170.6,151.7,161.9,5000,5000,5000.0,0.0
60,Mean values,5320.1,5554.3,5471.0,65.7,57.2,61.4,5000.0,5000.0,5000.0,0.0

In [25]:
run_baseline_agg_df = load_df('baseline_agg.pkl')
run_baseline_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,1.0,0.9,0.9,5000.0,5000.0,5000.0,0.0
1,7,2095.0,2095.0,2095.0,2.6,2.2,2.4,5000.0,5000.0,5000.0,0.0
2,9,5627.5,5627.5,5627.5,5.0,4.0,4.5,5000.0,5000.0,5000.0,0.0
3,11,3517.5,3517.5,3517.5,19.7,17.7,18.7,5000.0,5000.0,5000.0,0.0
4,13,3970.5,3970.5,3970.5,33.7,30.2,32.2,5000.0,5000.0,5000.0,0.0
5,15,8267.2,8430.7,8378.3,41.3,34.2,37.8,5000.0,5000.0,5000.0,0.0
6,17,4953.6,5017.1,4977.9,62.5,56.0,59.2,5000.0,5000.0,5000.0,0.0
7,19,4909.5,5169.9,5046.6,78.3,65.5,71.7,5000.0,5000.0,5000.0,0.0
8,21,8118.4,9350.8,9065.7,95.0,76.4,86.0,5000.0,5000.0,5000.0,0.0
9,23,5647.7,5980.6,5820.2,137.8,123.6,130.1,5000.0,5000.0,5000.0,0.0
10,25,6386.3,6672.1,6528.6,162.5,140.9,151.6,5000.0,5000.0,5000.0,0.0
11,27,8129.9,8602.6,8406.4,149.1,134.2,141.8,5000.0,5000.0,5000.0,0.0
12,Mean values,5320.1,5554.3,5471.0,65.7,57.2,61.4,5000.0,5000.0,5000.0,0.0

## Sequential ALNS

In [ ]:
if generate_df:
    run_sequential_name = 'first/sequential/'
    run_sequential_df = generate_run_df_alns(run_sequential_name)
    run_sequential_agg_df = aggregate_df_by_instance_group_alns(run_sequential_df)

    run_sequential_file_name = f'dataframes/performance/sequential.pkl'
    run_sequential_agg_file_name = f'dataframes/performance/sequential_agg.pkl'
    run_sequential_df.to_pickle(run_sequential_file_name)
    run_sequential_agg_df.to_pickle(run_sequential_agg_file_name)

In [ ]:
run_sequential_df = load_df('sequential.pkl')
run_sequential_df

In [ ]:
run_sequential_agg_df = load_df('sequential_agg.pkl')
run_sequential_agg_df

## LNS

In [15]:
if generate_df:
    run_lns_name = f'{run_number}/lns/'
    run_lns_df = generate_run_df_alns(run_lns_name)
    run_lns_agg_df = aggregate_df_by_instance_group_alns(run_lns_df)

    run_lns_file_name = f'dataframes/performance/lns.pkl'
    run_lns_agg_file_name = f'dataframes/performance/lns_agg.pkl'
    run_lns_df.to_pickle(run_lns_file_name)
    run_lns_agg_df.to_pickle(run_lns_agg_file_name)

In [16]:
run_lns_df = load_df('lns.pkl')
run_lns_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,0.8,0.7,0.7,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,0.7,0.7,0.7,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,0.9,0.8,0.8,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.3,1.2,1.3,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.1,1.1,1.1,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,1.8,1.7,1.7,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,1.7,1.5,1.6,5000,5000,5000.0,0.0
7,7-8-1-3,2080.2,2080.2,2080.2,2.0,1.8,1.9,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,4.5,4.1,4.3,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,2.7,2.0,2.3,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,4.2,3.8,3.9,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,7.9,7.1,7.6,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,3.9,2.7,3.3,5000,5000,5000.0,0.0
13,9-11-1-1,7958.7,7958.7,7958.7,5.5,4.3,4.7,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,3.8,2.7,3.1,5000,5000,5000.0,0.0
15,11-12-2-1,3587.5,3587.5,3587.5,20.5,17.1,18.3,5000,5000,5000.0,0.0
16,11-12-2-2,3788.9,3788.9,3788.9,16.5,13.3,14.9,5000,5000,5000.0,0.0
17,11-13-2-1,3470.8,3470.8,3470.8,20.4,18.6,19.4,5000,5000,5000.0,0.0
18,11-14-2-1,3710.8,3710.8,3710.8,24.8,22.9,23.7,5000,5000,5000.0,0.0
19,11-15-2-1,3029.7,3029.7,3029.7,16.4,14.6,15.5,5000,5000,5000.0,0.0
20,13-14-2-1,3681.9,3681.9,3681.9,35.4,29.3,32.4,5000,5000,5000.0,0.0
21,13-15-2-1,4122.6,4122.6,4122.6,33.4,29.1,31.6,5000,5000,5000.0,0.0
22,13-15-2-2,3779.4,3779.4,3779.4,24.1,20.7,22.5,5000,5000,5000.0,0.0
23,13-16-2-1,4239.6,4239.6,4239.6,36.8,30.7,32.9,5000,5000,5000.0,0.0
24,13-18-2-1,4029.1,4029.1,4029.1,42.0,39.2,40.1,5000,5000,5000.0,0.0
25,15-15-2-1,4117.5,4134.6,4120.9,27.2,22.7,25.1,5000,5000,5000.0,0.0
26,15-17-2-1,11659.1,11667.4,11660.8,39.2,35.8,37.1,5000,5000,5000.0,0.0
27,15-18-2-1,17502.4,17740.2,17559.9,29.6,27.5,28.8,5000,5000,5000.0,0.0
28,15-18-2-2,4294.6,4294.6,4294.6,44.8,35.7,41.4,5000,5000,5000.0,0.0
29,15-21-2-1,4303.6,4319.5,4306.8,60.8,43.9,54.0,5000,5000,5000.0,0.0
30,17-18-3-1,4260.1,4271.7,4267.1,47.2,45.7,46.5,5000,5000,5000.0,0.0
31,17-19-3-1,5075.4,5075.4,5075.4,70.0,56.8,63.6,5000,5000,5000.0,0.0
32,17-19-3-2,5036.2,5036.2,5036.2,53.5,40.4,46.5,5000,5000,5000.0,0.0
33,17-22-3-1,5262.7,5295.3,5275.1,57.5,48.7,53.1,5000,5000,5000.0,0.0
34,17-23-3-1,5196.4,5201.1,5200.2,75.4,66.3,72.6,5000,5000,5000.0,0.0
35,19-19-3-1,4688.1,5247.8,4948.4,77.3,56.1,62.7,5000,5000,5000.0,0.0
36,19-21-3-1,5166.3,5530.1,5437.8,73.2,59.4,66.2,5000,5000,5000.0,0.0
37,19-21-3-2,4971.4,4978.1,4974.1,78.3,71.0,73.2,5000,5000,5000.0,0.0
38,19-22-3-1,4949.9,5039.7,4967.9,41.2,39.3,40.3,5000,5000,5000.0,0.0
39,19-25-3-1,5148.1,5211.8,5178.8,99.6,93.2,96.5,5000,5000,5000.0,0.0
40,21-23-3-1,5591.6,5592.3,5591.7,62.6,55.2,60.2,5000,5000,5000.0,0.0
41,21-23-3-2,4476.9,4966.5,4844.5,116.2,100.2,106.9,5000,5000,5000.0,0.0
42,21-24-3-1,5324.2,5344.2,5328.2,85.7,72.2,79.1,5000,5000,5000.0,0.0
43,21-26-3-1,13986.0,14127.2,14052.7,79.5,62.9,71.6,5000,5000,5000.0,0.0
44,21-28-3-1,8241.3,16726.8,14811.4,104.9,88.4,95.6,5000,5000,5000.0,0.0
45,23-24-4-1,5000.1,5237.9,5148.3,105.9,87.4,96.1,5000,5000,5000.0,0.0
46,23-25-4-1,5075.1,5698.3,5412.2,154.8,134.4,143.5,5000,5000,5000.0,0.0
47,23-27-4-1,5231.2,5756.7,5584.1,100.1,87.5,94.1,5000,5000,5000.0,0.0
48,23-30-4-1,6113.4,6169.4,6153.4,178.2,151.7,162.5,5000,5000,5000.0,0.0
49,23-31-4-1,6347.1,7145.1,6823.4,147.5,133.0,139.8,5000,5000,5000.0,0.0
50,25-26-4-1,6083.3,6542.3,6353.0,153.0,139.2,144.9,5000,5000,5000.0,0.0
51,25-28-4-1,6701.7,6981.7,6861.1,118.1,93.7,106.1,5000,5000,5000.0,0.0
52,25-29-4-1,6726.9,6744.2,6732.8,105.3,99.9,102.4,5000,5000,5000.0,0.0
53,25-30-4-1,4676.7,5825.3,5409.3,222.8,169.6,197.6,5000,5000,5000.0,0.0
54,25-33-4-1,7128.6,7200.0,7163.1,182.6,153.8,164.8,5000,5000,5000.0,0.0
55,27-28-5-1,8000.6,8094.8,8037.8,91.8,76.2,84.8,5000,5000,5000.0,0.0
56,27-29-5-1,6182.5,7072.6,6618.6,175.5,134.7,152.2,5000,5000,5000.0,0.0
57,27-32-5-1,8374.6,8747.9,8585.1,154.0,138.6,145.9,5000,5000,5000.0,0.0
58,27-35-5-1,8762.8,8854.6,8809.8,150.0,128.3,141.0,5000,5000,5000.0,0.0
59,27-37-5-1,9440.7,10033.1,9666.4,168.4,139.6,158.2,5000,5000,5000.0,0.0
60,Mean values,5270.6,5550.8,5457.2,64.1,54.3,59.1,5000.0,5000.0,5000.0,0.0

In [17]:
run_lns_agg_df = load_df('lns_agg.pkl')
run_lns_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,1.0,0.9,0.9,5000.0,5000.0,5000.0,0.0
1,7,2095.0,2095.0,2095.0,2.5,2.2,2.4,5000.0,5000.0,5000.0,0.0
2,9,5627.5,5627.5,5627.5,5.1,4.1,4.5,5000.0,5000.0,5000.0,0.0
3,11,3517.5,3517.5,3517.5,19.7,17.3,18.4,5000.0,5000.0,5000.0,0.0
4,13,3970.5,3970.5,3970.5,34.3,29.8,31.9,5000.0,5000.0,5000.0,0.0
5,15,8375.4,8431.3,8388.6,40.3,33.1,37.3,5000.0,5000.0,5000.0,0.0
6,17,4966.2,4975.9,4970.8,60.7,51.6,56.5,5000.0,5000.0,5000.0,0.0
7,19,4984.8,5201.5,5101.4,73.9,63.8,67.8,5000.0,5000.0,5000.0,0.0
8,21,7524.0,9351.4,8925.7,89.8,75.8,82.7,5000.0,5000.0,5000.0,0.0
9,23,5553.4,6001.5,5824.3,137.3,118.8,127.2,5000.0,5000.0,5000.0,0.0
10,25,6263.4,6658.7,6503.9,156.4,131.2,143.2,5000.0,5000.0,5000.0,0.0
11,27,8152.2,8560.6,8343.5,147.9,123.5,136.4,5000.0,5000.0,5000.0,0.0
12,Mean values,5270.6,5550.8,5457.2,64.1,54.3,59.1,5000.0,5000.0,5000.0,0.0

## ALNS + local search

In [18]:
if generate_df:
    run_ls_name = f'{run_number}/ls/'
    run_ls_df = generate_run_df_alns(run_ls_name)
    run_ls_agg_df = aggregate_df_by_instance_group_alns(run_ls_df)

    run_ls_file_name = f'dataframes/performance/ls.pkl'
    run_ls_agg_file_name = f'dataframes/performance/ls_agg.pkl'
    run_ls_df.to_pickle(run_ls_file_name)
    run_ls_agg_df.to_pickle(run_ls_agg_file_name)

In [19]:
run_ls_df = load_df('ls.pkl')
run_ls_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,1.5,1.4,1.4,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,1.3,1.3,1.3,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,1.5,1.4,1.5,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,2.2,2.1,2.1,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.8,1.7,1.8,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,4.3,4.2,4.3,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,3.9,3.3,3.7,5000,5000,5000.0,0.0
7,7-8-1-3,2080.2,2080.2,2080.2,4.7,4.3,4.5,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,7.2,6.7,7.0,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,5.1,4.9,5.0,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,7.4,6.9,7.2,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,14.1,13.3,13.6,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,6.6,5.0,5.7,5000,5000,5000.0,0.0
13,9-11-1-1,7958.7,7958.7,7958.7,10.2,9.2,9.8,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,6.4,5.7,6.0,5000,5000,5000.0,0.0
15,11-12-2-1,3587.5,3587.5,3587.5,51.3,46.7,48.4,5000,5000,5000.0,0.0
16,11-12-2-2,3788.9,3788.9,3788.9,51.0,49.3,49.8,5000,5000,5000.0,0.0
17,11-13-2-1,3470.8,3470.8,3470.8,62.2,59.4,60.8,5000,5000,5000.0,0.0
18,11-14-2-1,3710.8,3710.8,3710.8,64.7,59.0,61.1,5000,5000,5000.0,0.0
19,11-15-2-1,3023.7,3029.7,3028.5,41.7,34.2,38.0,5000,5000,5000.0,0.0
20,13-14-2-1,3406.7,3681.9,3626.8,88.4,77.0,85.0,5000,5000,5000.0,0.0
21,13-15-2-1,4122.6,4122.6,4122.6,92.5,84.6,88.3,5000,5000,5000.0,0.0
22,13-15-2-2,3779.4,3850.7,3793.6,58.6,35.4,48.3,5000,5000,5000.0,0.0
23,13-16-2-1,3696.2,4239.6,4039.5,94.8,80.7,90.2,5000,5000,5000.0,0.0
24,13-18-2-1,3218.2,4029.1,3656.4,130.3,80.3,113.5,5000,5000,5000.0,0.0
25,15-15-2-1,4117.5,4117.5,4117.5,102.7,89.4,97.4,5000,5000,5000.0,0.0
26,15-17-2-1,11659.1,11659.1,11659.1,64.6,58.6,61.2,5000,5000,5000.0,0.0
27,15-18-2-1,9350.9,17552.1,15889.8,94.7,58.3,85.1,5000,5000,5000.0,0.0
28,15-18-2-2,4287.8,4312.6,4296.8,105.6,77.2,95.2,5000,5000,5000.0,0.0
29,15-21-2-1,4108.4,4303.6,4237.5,137.2,113.2,123.1,5000,5000,5000.0,0.0
30,17-18-3-1,4260.1,4286.3,4265.3,170.4,133.2,145.3,5000,5000,5000.0,0.0
31,17-19-3-1,3952.3,4967.6,4711.7,298.6,170.7,255.7,5000,5000,5000.0,0.0
32,17-19-3-2,4873.4,5036.2,5003.7,140.9,104.4,124.9,5000,5000,5000.0,0.0
33,17-22-3-1,4770.4,5274.8,5166.7,208.8,163.4,184.5,5000,5000,5000.0,0.0
34,17-23-3-1,4880.4,5130.6,5008.5,185.9,160.7,173.4,5000,5000,5000.0,0.0
35,19-19-3-1,4667.0,5061.4,4875.7,301.6,241.8,274.9,5000,5000,5000.0,0.0
36,19-21-3-1,5157.4,5486.0,5372.2,292.4,251.4,267.9,5000,5000,5000.0,0.0
37,19-21-3-2,4088.0,4747.2,4422.5,264.4,166.8,217.7,5000,5000,5000.0,0.0
38,19-22-3-1,4949.9,4949.9,4949.9,85.7,76.3,79.6,5000,5000,5000.0,0.0
39,19-25-3-1,4175.7,5178.1,4713.7,308.9,178.2,218.6,5000,5000,5000.0,0.0
40,21-23-3-1,5153.3,5534.3,5243.7,150.7,129.8,143.0,5000,5000,5000.0,0.0
41,21-23-3-2,4412.1,4924.8,4673.1,312.8,226.3,290.4,5000,5000,5000.0,0.0
42,21-24-3-1,4808.0,5324.2,5126.1,284.3,126.9,233.1,5000,5000,5000.0,0.0
43,21-26-3-1,13763.1,14157.4,14020.8,155.0,138.8,147.2,5000,5000,5000.0,0.0
44,21-28-3-1,8928.0,16708.0,15113.7,197.3,134.5,180.3,5000,5000,5000.0,0.0
45,23-24-4-1,4440.0,4976.1,4744.4,317.9,178.5,266.2,5000,5000,5000.0,0.0
46,23-25-4-1,4543.4,5297.7,5021.7,600.1,438.2,498.9,5000,4994,4998.8,0.0
47,23-27-4-1,5154.9,5756.7,5450.2,262.2,239.1,246.1,5000,5000,5000.0,0.0
48,23-30-4-1,5554.7,5938.8,5811.4,618.2,448.9,533.7,5000,4630,4901.4,0.0
49,23-31-4-1,5914.0,6768.8,6397.0,410.8,261.6,348.0,5000,5000,5000.0,0.0
50,25-26-4-1,5784.8,6231.1,6053.4,621.4,422.7,503.9,5000,4727,4945.4,0.0
51,25-28-4-1,6530.9,6936.8,6722.3,343.5,280.6,318.5,5000,5000,5000.0,0.0
52,25-29-4-1,6368.8,6750.7,6624.8,238.3,216.3,230.5,5000,5000,5000.0,0.0
53,25-30-4-1,4853.5,5813.1,5360.7,628.7,248.9,548.6,5000,2746,3588.6,0.0
54,25-33-4-1,6529.8,7155.1,6896.4,623.9,417.1,577.2,5000,4040,4582.2,0.0
55,27-28-5-1,7739.6,8134.6,7952.5,230.8,199.0,211.5,5000,5000,5000.0,0.0
56,27-29-5-1,6142.0,6730.9,6387.9,528.2,452.1,483.5,5000,5000,5000.0,0.0
57,27-32-5-1,8439.9,8742.9,8630.2,578.7,457.8,516.6,5000,5000,5000.0,0.0
58,27-35-5-1,8646.0,8799.7,8761.4,341.2,319.1,330.8,5000,5000,5000.0,0.0
59,27-37-5-1,9564.2,10068.5,9819.0,263.2,229.9,248.3,5000,5000,5000.0,0.0
60,Mean values,4967.9,5500.4,5333.8,188.1,138.1,167.0,5000.0,4935.616667,4966.9,0.0

In [20]:
run_ls_agg_df = load_df('ls_agg.pkl')
run_ls_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,1.7,1.6,1.6,5000.0,5000.0,5000.0,0.0
1,7,2095.0,2095.0,2095.0,5.0,4.7,4.9,5000.0,5000.0,5000.0,0.0
2,9,5627.5,5627.5,5627.5,8.9,8.0,8.5,5000.0,5000.0,5000.0,0.0
3,11,3516.3,3517.5,3517.3,54.2,49.7,51.6,5000.0,5000.0,5000.0,0.0
4,13,3644.6,3984.8,3847.8,92.9,71.6,85.1,5000.0,5000.0,5000.0,0.0
5,15,6704.7,8389.0,8040.1,101.0,79.3,92.4,5000.0,5000.0,5000.0,0.0
6,17,4547.3,4939.1,4831.2,200.9,146.5,176.8,5000.0,5000.0,5000.0,0.0
7,19,4607.6,5084.5,4866.8,250.6,182.9,211.7,5000.0,5000.0,5000.0,0.0
8,21,7412.9,9329.7,8835.5,220.0,151.3,198.8,5000.0,5000.0,5000.0,0.0
9,23,5121.4,5747.6,5484.9,441.8,313.3,378.6,5000.0,4924.8,4980.0,0.0
10,25,6013.6,6577.4,6331.5,491.2,317.1,435.7,5000.0,4302.6,4623.2,0.0
11,27,8106.3,8495.3,8310.2,388.4,331.6,358.1,5000.0,5000.0,5000.0,0.0
12,Mean values,4967.9,5500.4,5333.8,188.1,138.1,167.0,5000.0,4935.6,4966.9,0.0

## ALNS + set partitioning

In [27]:
if generate_df: 
    run_sp_name = f'{run_number}/sp/'
    run_sp_df = generate_run_df_alns(run_sp_name)
    run_sp_agg_df = aggregate_df_by_instance_group_alns(run_sp_df)

    run_sp_file_name = f'dataframes/performance/sp.pkl'
    run_sp_agg_file_name = f'dataframes/performance/sp_agg.pkl'
    run_sp_df.to_pickle(run_sp_file_name)
    run_sp_agg_df.to_pickle(run_sp_agg_file_name)

23-31-4-1 HAS LESS THAN FIVE SIMULATIONS!
25-33-4-1 HAS LESS THAN FIVE SIMULATIONS!
25-28-4-1 HAS LESS THAN FIVE SIMULATIONS!
23-30-4-1 HAS LESS THAN FIVE SIMULATIONS!
27-37-5-1 HAS LESS THAN FIVE SIMULATIONS!
27-32-5-1 HAS LESS THAN FIVE SIMULATIONS!
23 INSTANCE_SIZE LESS THAN FIVE INSTANCES!
25 INSTANCE_SIZE LESS THAN FIVE INSTANCES!
27 INSTANCE_SIZE LESS THAN FIVE INSTANCES!

In [28]:
run_sp_df = load_df('sp.pkl')
run_sp_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,0.8,0.8,0.8,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,0.7,0.7,0.7,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,0.9,0.8,0.9,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.3,1.3,1.3,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.2,1.1,1.2,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,2.1,1.8,1.9,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,1.9,1.7,1.8,5000,5000,5000.0,0.0
7,7-8-1-3,2080.2,2080.2,2080.2,2.1,1.9,2.0,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,4.8,4.2,4.5,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,2.9,2.2,2.6,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,4.3,3.8,4.0,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,8.7,7.7,8.2,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,3.5,2.5,2.8,5000,5000,5000.0,0.0
13,9-11-1-1,7958.7,7958.7,7958.7,5.6,4.5,4.9,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,4.2,3.2,3.6,5000,5000,5000.0,0.0
15,11-12-2-1,3587.5,3587.5,3587.5,19.8,18.6,19.3,5000,5000,5000.0,0.0
16,11-12-2-2,3788.9,3788.9,3788.9,16.8,14.1,15.6,5000,5000,5000.0,0.0
17,11-13-2-1,3470.8,3470.8,3470.8,23.5,20.2,21.6,5000,5000,5000.0,0.0
18,11-14-2-1,3710.8,3710.8,3710.8,26.3,21.9,24.4,5000,5000,5000.0,0.0
19,11-15-2-1,3029.7,3029.7,3029.7,21.7,14.9,18.4,5000,5000,5000.0,0.0
20,13-14-2-1,3681.9,3681.9,3681.9,33.2,30.2,31.7,5000,5000,5000.0,0.0
21,13-15-2-1,4122.6,4122.6,4122.6,37.9,35.2,36.2,5000,5000,5000.0,0.2
22,13-15-2-2,3779.4,3779.4,3779.4,24.3,20.7,23.2,5000,5000,5000.0,0.0
23,13-16-2-1,3366.1,4239.6,4064.9,36.5,32.1,34.6,5000,5000,5000.0,0.0
24,13-18-2-1,4029.1,4029.1,4029.1,46.2,41.9,43.9,5000,5000,5000.0,0.0
25,15-15-2-1,4117.5,4134.6,4120.9,31.7,26.2,28.9,5000,5000,5000.0,0.0
26,15-17-2-1,11659.1,11659.1,11659.1,40.4,31.8,35.8,5000,5000,5000.0,1.0
27,15-18-2-1,17502.4,17552.1,17522.3,37.2,27.4,32.4,5000,5000,5000.0,2.2
28,15-18-2-2,4294.6,4294.6,4294.6,50.2,44.4,47.8,5000,5000,5000.0,0.0
29,15-21-2-1,4303.6,4319.5,4306.8,60.6,46.2,56.1,5000,5000,5000.0,0.2
30,17-18-3-1,4192.3,4319.0,4281.3,62.7,48.0,53.6,5000,5000,5000.0,0.2
31,17-19-3-1,4754.0,5075.4,5011.1,73.9,65.3,68.5,5000,5000,5000.0,0.8
32,17-19-3-2,4876.3,5036.2,5004.2,51.4,41.3,44.6,5000,5000,5000.0,1.0
33,17-22-3-1,5262.7,5291.8,5276.8,67.6,49.8,58.9,5000,5000,5000.0,2.4
34,17-23-3-1,5030.8,5196.2,5163.2,85.0,68.5,77.3,5000,5000,5000.0,1.8
35,19-19-3-1,4615.7,5189.2,5054.1,94.8,80.6,89.4,5000,5000,5000.0,2.0
36,19-21-3-1,5365.2,5486.0,5457.7,73.3,69.3,72.0,5000,5000,5000.0,1.2
37,19-21-3-2,4780.3,4971.4,4933.2,89.2,79.4,83.6,5000,5000,5000.0,1.8
38,19-22-3-1,4949.9,4949.9,4949.9,44.9,38.2,41.7,5000,5000,5000.0,0.6
39,19-25-3-1,5178.1,5207.1,5189.5,114.7,95.1,107.8,5000,5000,5000.0,2.6
40,21-23-3-1,5591.6,5616.4,5596.5,73.0,63.2,68.6,5000,5000,5000.0,1.2
41,21-23-3-2,4908.8,4924.8,4915.2,125.4,109.6,118.1,5000,5000,5000.0,1.4
42,21-24-3-1,5324.2,5344.2,5336.2,94.6,73.4,84.8,5000,5000,5000.0,0.6
43,21-26-3-1,13420.1,14022.5,13878.5,89.5,77.3,81.9,5000,5000,5000.0,5.0
44,21-28-3-1,16468.4,16715.2,16593.8,113.5,91.8,104.2,5000,5000,5000.0,3.6
45,23-24-4-1,4602.9,5221.1,5065.4,123.4,97.0,106.0,5000,5000,5000.0,1.2
46,23-27-4-1,5301.9,5799.8,5598.1,122.1,88.1,102.5,5000,5000,5000.0,0.6
47,23-30-4-1,6113.4,6113.4,2445.4,167.1,152.9,64.0,5000,5000,2000.0,0.6
48,23-31-4-1,6717.3,7126.9,5615.1,162.1,139.3,121.3,5000,5000,4000.0,2.2
49,25-28-4-1,6162.1,6947.8,5372.7,128.5,111.7,94.4,5000,5000,4000.0,2.2
50,25-29-4-1,6625.4,6732.9,6707.8,120.2,101.9,110.7,5000,5000,5000.0,3.4
51,25-33-4-1,6481.9,6481.9,1296.4,159.7,159.7,31.9,5000,5000,1000.0,0.4
52,27-28-5-1,7513.9,8038.6,7910.9,99.3,93.3,97.0,5000,5000,5000.0,6.2
53,27-32-5-1,8532.3,8720.1,3450.5,167.5,167.0,66.9,5000,5000,2000.0,1.6
54,27-35-5-1,8723.7,8743.7,8734.1,175.4,156.1,163.9,5000,5000,5000.0,5.8
55,27-37-5-1,9393.6,9539.4,7569.1,183.1,160.2,138.4,5000,5000,4000.0,5.8
56,Mean values,5339.8,5462.7,5094.2,60.9,52.5,49.3,5000.0,5000.0,4767.9,1.1

In [29]:
run_sp_agg_df = load_df('sp_agg.pkl')
run_sp_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,1.0,0.9,1.0,5000.0,5000.0,5000.0,0.0
1,7,2095.0,2095.0,2095.0,2.8,2.4,2.6,5000.0,5000.0,5000.0,0.0
2,9,5627.5,5627.5,5627.5,5.3,4.3,4.7,5000.0,5000.0,5000.0,0.0
3,11,3517.5,3517.5,3517.5,21.6,17.9,19.9,5000.0,5000.0,5000.0,0.0
4,13,3795.8,3970.5,3935.6,35.6,32.0,33.9,5000.0,5000.0,5000.0,0.0
5,15,8375.4,8392.0,8380.7,44.0,35.2,40.2,5000.0,5000.0,5000.0,0.7
6,17,4823.2,4983.7,4947.3,68.1,54.6,60.6,5000.0,5000.0,5000.0,1.2
7,19,4977.8,5160.7,5116.9,83.4,72.5,78.9,5000.0,5000.0,5000.0,1.6
8,21,9142.6,9324.6,9264.0,99.2,83.1,91.5,5000.0,5000.0,5000.0,2.4
9,23,5683.9,6065.3,4681.0,143.7,119.3,98.4,5000.0,5000.0,4000.0,1.2
10,25,6423.1,6720.9,4459.0,136.1,124.4,79.0,5000.0,5000.0,3333.3,2.0
11,27,8540.9,8760.4,6916.2,156.3,144.1,116.6,5000.0,5000.0,4000.0,4.9
12,Mean values,5435.0,5569.7,5096.5,66.4,57.6,52.3,5000.0,5000.0,4694.4,1.2

## ALNS + local search + set partitioning

In [26]:
if generate_df:
    run_lssp_name = f'{run_number}/lssp/'
    run_lssp_df = generate_run_df_alns(run_lssp_name)
    run_lssp_agg_df = aggregate_df_by_instance_group_alns(run_lssp_df)

    run_lssp_file_name = f'dataframes/performance/lssp.pkl'
    run_lssp_agg_file_name = f'dataframes/performance/lssp_agg.pkl'
    run_lssp_df.to_pickle(run_lssp_file_name)
    run_lssp_agg_df.to_pickle(run_lssp_agg_file_name)

21-26-3-1 HAS LESS THAN FIVE SIMULATIONS!
21-28-3-1 HAS LESS THAN FIVE SIMULATIONS!
13-16-2-1 HAS LESS THAN FIVE SIMULATIONS!
15-15-2-1 HAS LESS THAN FIVE SIMULATIONS!
15-18-2-2 HAS LESS THAN FIVE SIMULATIONS!
17-18-3-1 HAS LESS THAN FIVE SIMULATIONS!
13 INSTANCE_SIZE LESS THAN FIVE INSTANCES!
17 INSTANCE_SIZE LESS THAN FIVE INSTANCES!
19 INSTANCE_SIZE LESS THAN FIVE INSTANCES!
21 INSTANCE_SIZE LESS THAN FIVE INSTANCES!

In [ ]:
run_lssp_df = load_df('lssp.pkl')
run_lssp_df

In [ ]:
run_lssp_agg_df = load_df('lssp_agg.pkl')
run_lssp_agg_df

## Exact solver

In [12]:
if generate_df:
    run_exact_name = 'results/'
    run_exact_df = generate_run_df_exact(run_exact_name)
    run_exact_agg_df = aggregate_df_by_instance_group_exact(run_exact_df)

    run_exact_file_name = f'dataframes/performance/exact.pkl'
    run_exact_agg_file_name = f'dataframes/performance/exact_agg.pkl'
    run_exact_df.to_pickle(run_exact_file_name)
    run_exact_agg_df.to_pickle(run_exact_agg_file_name)

In [13]:
run_exact_df = load_df('exact.pkl')
run_exact_df

       instance      obj  gap  preproc  model time      variables
0       5-5-1-1   2519.9  0.0      1.3         1.5          24808
1       5-5-1-2   2214.2  0.0      3.7         1.5          36406
2       5-6-1-1   1939.6  0.0      4.2         1.8          40610
3       5-7-1-1   2709.7  0.0      2.7         2.3          35034
4       5-7-1-2   1704.6  0.0     16.0         2.7          64346
5       7-8-1-1   2046.9  0.0     15.2         3.5          71164
6       7-8-1-2   1971.3  0.0     65.4         3.7          84072
7       7-8-1-3   2071.9  0.0      9.1         3.0          47880
8       7-9-1-1   2170.4  0.0     26.6         3.5          80958
9       7-9-1-2   2206.1  0.0     38.7         3.7          85362
10      9-9-1-1   2894.3  0.0     31.6         5.0         103726
11      9-9-1-2   1934.0  0.0     25.9         4.3          93022
12     9-10-1-1   6958.5  0.0     39.9         6.2         129948
13     9-11-1-1   7958.7  0.0     66.3         6.5         158138
14     9-11-1-2   8392.2  0.0     54.7         6.4         139268
15    11-12-2-1   3587.5  0.0   2043.0        12.7         277704
16    11-12-2-2   3788.9  0.0   1548.3        11.9         263904
17    11-13-2-1   3470.8  0.0    792.6        11.0         237276
18    11-14-2-1   3374.3  0.1   3600.5        16.3         389493
19    11-15-2-1   3029.7  0.0   2091.5        16.7         381201
20    13-14-2-1   3389.8  0.1   3600.8        18.8         420855
21    13-15-2-1   3964.8  0.0   3600.2        20.8         467523
22    13-15-2-2   3356.9  0.1   3600.2        19.5         448422
23    13-16-2-1   4232.3  0.0   3066.1        19.2         390621
24    13-18-2-1   3643.9  0.1   3600.8        23.4         510021
25    15-15-2-1   4117.4  0.0   1754.4        20.8         449574
26    15-17-2-1  10780.0  0.1   3600.3        24.1         572052
27    15-18-2-1  13738.6  0.3   3601.1        30.3         675504
28    15-18-2-2   3993.0  0.1   3601.9        25.9         532662
29    15-21-2-1   3658.6  0.2   3601.4        35.7         804003
30  Mean values   4060.6  0.0   1470.2        12.1  267185.233333

In [14]:
run_exact_agg_df = load_df('exact_agg.pkl')
run_exact_agg_df

  instance_group     obj  gap  preproc  model time  variables
0              5  2217.6  0.0      5.6         2.0    40240.8
1              7  2093.3  0.0     31.0         3.5    73887.2
2              9  5627.5  0.0     43.7         5.7   124820.4
3             11  3450.2  0.0   2015.2        13.7   309915.6
4             13  3717.5  0.1   3493.6        20.3   447488.4
5             15  7257.5  0.1   3231.8        27.4   606759.0
6    Mean values  4060.6  0.0   1470.1        12.1   267185.2

## Parallel vs. sequential heuristics

In [ ]:
baseline_sequential_df = merge_dfs([run_baseline_df, run_sequential_df], True)
baseline_sequential_agg_df = merge_dfs([run_baseline_agg_df, run_sequential_agg_df], True)

In [ ]:
baseline_sequential_df

In [ ]:
baseline_sequential_agg_df

## ALNS vs. LNS

In [ ]:
baseline_lns_df = merge_dfs([run_baseline_df, run_lns_df], True)
baseline_lns_agg_df = merge_dfs([run_baseline_agg_df, run_lns_agg_df], True)

In [ ]:
baseline_lns_df

In [ ]:
baseline_lns_agg_df

## ALNS vs. ALNS + local search

In [ ]:
baseline_ls_df = merge_dfs([run_baseline_df, run_ls_df], True)
baseline_ls_agg_df = merge_dfs([run_baseline_agg_df, run_ls_agg_df], True)

In [ ]:
baseline_ls_df

In [ ]:
baseline_ls_agg_df

## ALNS vs. ALNS + set partitioning

In [ ]:
baseline_sp_df = merge_dfs([run_baseline_df, run_sp_df], True)
baseline_sp_agg_df = merge_dfs([run_baseline_agg_df, run_sp_agg_df], True)

In [ ]:
baseline_sp_df

In [ ]:
baseline_sp_agg_df

## ALNS vs. ALNS + local search + set partitioning

In [ ]:
baseline_lssp_df = merge_dfs([run_baseline_df, run_lssp_df], True)
baseline_lssp_agg_df = merge_dfs([run_baseline_agg_df, run_lssp_agg_df], True)

In [ ]:
baseline_lssp_df

In [ ]:
baseline_lssp_agg_df