# Performance dataframes

In [12]:
import os
import re
import json
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np
from natsort import index_natsorted

## General parameters

In [59]:
nbr_sims = 5

instance_key = 'instance'
best_obj_key = 'best obj'
worst_obj_key = 'worst obj'
avg_obj_key = 'obj'
max_time_key = 'max time'
min_time_key = 'min time'
avg_time_key = 'time'
max_iter_key = 'max iter'
min_iter_key = 'min iter'
avg_iter_key = 'iter'
set_part_key = 'sp improv'

project_path = os.path.dirname(os.path.abspath('.'))
directory_path = '/output/solstorm/alns/performance/'

generate_df = True

## Functions

In [60]:
def map_instance_to_data(run_path):
    instance_to_data = {}
    for file_name in os.listdir(run_path):
        split_name = re.split('_|\.', file_name)
        instance_name = split_name[0]
        is_history = split_name[2] == 'history'
        if is_history:
            with open(run_path + file_name) as file:
                history_json = json.load(file)
        
            obj = history_json['best_objective']
            time = history_json['runtime']
            it = history_json['number_of_iterations']
            set_part_improv = history_json['number_of_improvements_by_set_partitioning']

            if instance_name in instance_to_data:
                data = instance_to_data[instance_name]

                if obj < data[0]:
                    data[0] = obj
                if obj > data[1]:
                    data[1] = obj
                if time > data[3]:
                    data[3] = time
                if time < data[4]:
                    data[4] = time
                if it > data[6]:
                    data[6] = it
                if it < data[7]:
                    data[7] = it

                data[2] += obj
                data[5] += time
                data[8] += it
                data[9] += set_part_improv
                data[10] += 1
            else:
                instance_to_data[instance_name] = [obj, obj, obj, time, time, time, it, it, it, set_part_improv, 1]
    return instance_to_data

def generate_run_df(run_name):
    run_path = project_path + directory_path + run_name
    
    instance_to_data = map_instance_to_data(run_path)
    
    df = pd.DataFrame(columns=[instance_key, 
                               best_obj_key, worst_obj_key, avg_obj_key, 
                               max_time_key, min_time_key, avg_time_key, 
                               max_iter_key, min_iter_key, avg_iter_key])
    
    for instance in instance_to_data:
        data = instance_to_data[instance]
        best_objective = data[0]
        worst_objective = data[1]
        avg_objective = data[2] / nbr_sims
        max_time = data[3]
        min_time = data[4]
        avg_time = data[5] / nbr_sims
        max_iter = data[6]
        min_iter = data[7]
        avg_iter = data[8] / nbr_sims
        avg_set_part_improv = data[9] / nbr_sims
        
        if data[10] != nbr_sims:
            print(f'{instance} HAS LESS THAN FIVE SIMULATIONS!')
        
        row = pd.Series({instance_key: instance, 
                         best_obj_key: best_objective,
                         worst_obj_key: worst_objective,
                         avg_obj_key: avg_objective, 
                         max_time_key: max_time,
                         min_time_key: min_time,
                         avg_time_key: avg_time, 
                         max_iter_key: max_iter,
                         min_iter_key: min_iter,
                         avg_iter_key: avg_iter,
                         set_part_key: avg_set_part_improv})
        
        df = df.append(row, ignore_index=True)
    
    df = df.sort_values(by='instance',
                        key=lambda x: np.argsort(index_natsorted(df['instance'])),
                        inplace=False)
    df = df.reset_index(drop=True)
    
    mean_row = pd.Series({instance_key: 'Mean values',
                          best_obj_key: df[best_obj_key].mean(),
                          worst_obj_key: df[worst_obj_key].mean(),
                          avg_obj_key: df[avg_obj_key].mean(),
                          max_time_key: df[max_time_key].mean(),
                          min_time_key: df[min_time_key].mean(),
                          avg_time_key: df[avg_time_key].mean(),
                          max_iter_key: df[max_iter_key].mean(),
                          min_iter_key: df[min_iter_key].mean(),
                          avg_iter_key: df[avg_iter_key].mean(),
                          set_part_key: df[set_part_key].mean()})
    df = df.append(mean_row, ignore_index=True)
    df = df.round(1)
    return df

def merge_dfs(dfs):
    df_copies = [df.copy() for df in dfs]
    for df in df_copies:
        df.drop([best_obj_key, worst_obj_key, max_time_key, min_time_key, max_iter_key, min_iter_key], 
                axis=1, inplace=True)
    df_total = pd.concat(df_copies, axis=1)
    
    # Drop duplicate instance columns
    li = [i for i in range(4, len(df_total.columns), 4)]
    df_total = df_total.iloc[:, [j for j, c in enumerate(df_total.columns) if j not in li]]
    
    df_total = df_total.round(1)
    return df_total

def aggregate_df_by_instance_group(df):
    instance_size_to_data = {}
    for idx, row in df.iterrows():
        instance_name = row[instance_key]

        if instance_name == 'Mean values':
            continue
        
        split_name = re.split('-', instance_name)
        instance_size = split_name[0]
        
        best_obj = row[best_obj_key]
        worst_obj = row[worst_obj_key]
        avg_obj = row[avg_obj_key]
        max_time = row[max_time_key]
        min_time = row[min_time_key]
        avg_time = row[avg_time_key]
        max_iter = row[max_iter_key]
        min_iter = row[min_iter_key]
        avg_iter = row[avg_iter_key]
        avg_set_part_improv = row[set_part_key]
        
        if instance_size in instance_size_to_data:
            data = instance_size_to_data[instance_size]
            data[0] += best_obj
            data[1] += worst_obj
            data[2] += avg_obj
            data[3] += max_time
            data[4] += min_time
            data[5] += avg_time
            data[6] += max_iter
            data[7] += min_iter
            data[8] += avg_iter
            data[9] += avg_set_part_improv
            data[10] += 1  # Number of times encountered instance size
        else:
            data = [best_obj, worst_obj, avg_obj, max_time, min_time, avg_time, max_iter, min_iter, avg_iter, avg_set_part_improv, 1]
            instance_size_to_data[instance_size] = data

    df = pd.DataFrame(columns=['instance_group', best_obj_key, worst_obj_key, avg_obj_key, max_time_key, min_time_key,
                               avg_time_key, max_iter_key, min_iter_key, avg_iter_key, set_part_key])
    
    for instance_size in instance_size_to_data:
        data = instance_size_to_data[instance_size]
        nbr_sims = data[10]
        if nbr_sims < 5:
            print(f'{instance_size} INSTANCE_SIZE LESS THAN FIVE INSTANCES!')
        
        row = pd.Series({'instance_group': instance_size, 
                         best_obj_key: data[0] / nbr_sims,
                         worst_obj_key: data[1] / nbr_sims,
                         avg_obj_key: data[2] / nbr_sims, 
                         max_time_key: data[3] / nbr_sims,
                         min_time_key: data[4] / nbr_sims,
                         avg_time_key: data[5] / nbr_sims, 
                         max_iter_key: data[6] / nbr_sims,
                         min_iter_key: data[7] / nbr_sims,
                         avg_iter_key: data[8] / nbr_sims,
                         set_part_key: data[9] / nbr_sims})
    
        df = df.append(row, ignore_index=True)
        
    mean_row = pd.Series({'instance_group': 'Mean values',
                          best_obj_key: df[best_obj_key].mean(),
                          worst_obj_key: df[worst_obj_key].mean(),
                          avg_obj_key: df[avg_obj_key].mean(),
                          max_time_key: df[max_time_key].mean(),
                          min_time_key: df[min_time_key].mean(),
                          avg_time_key: df[avg_time_key].mean(),
                          max_iter_key: df[max_iter_key].mean(),
                          min_iter_key: df[min_iter_key].mean(),
                          avg_iter_key: df[avg_iter_key].mean(),
                          set_part_key: df[set_part_key].mean()})
    df = df.append(mean_row, ignore_index=True)
    df = df.round(1)
    return df

def load_df(file_name):
    run_df = pd.read_pickle(f'dataframes/performance/{file_name}')
    # run_df = sort_df(run_df, sort_column)
    return run_df

## ALNS baseline

In [61]:
if generate_df:
    run_baseline_name = 'second/baseline/'
    run_baseline_df = generate_run_df(run_baseline_name)
    run_baseline_agg_df = aggregate_df_by_instance_group(run_baseline_df)

    run_baseline_file_name = f'dataframes/performance/baseline.pkl'
    run_baseline_agg_file_name = f'dataframes/performance/baseline_agg.pkl'
    run_baseline_df.to_pickle(run_baseline_file_name)
    run_baseline_agg_df.to_pickle(run_baseline_agg_file_name)

In [62]:
run_baseline_df = load_df('baseline.pkl')
run_baseline_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,0.7,0.7,0.7,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,0.7,0.7,0.7,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,0.9,0.8,0.9,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.3,1.3,1.3,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.1,1.1,1.1,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,1.9,1.7,1.8,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,1.8,1.6,1.7,5000,5000,5000.0,0.0
7,7-8-1-3,2071.9,2071.9,2071.9,2.0,1.8,1.9,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,4.6,4.1,4.3,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,2.8,2.0,2.4,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,4.9,4.1,4.4,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,7.5,6.9,7.3,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,3.4,2.3,2.9,5000,5000,5000.0,0.0
13,9-11-1-1,7958.7,7958.7,7958.7,4.9,4.2,4.6,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,4.0,2.8,3.4,5000,5000,5000.0,0.0
15,11-12-2-1,3587.5,3587.5,3587.5,19.4,17.5,18.1,5000,5000,5000.0,0.0
16,11-12-2-2,3788.9,3788.9,3788.9,15.7,14.0,14.6,5000,5000,5000.0,0.0
17,11-13-2-1,3470.8,3470.8,3470.8,20.9,19.3,20.2,5000,5000,5000.0,0.0
18,11-14-2-1,3710.8,3710.8,3710.8,25.1,22.2,23.5,5000,5000,5000.0,0.0
19,11-15-2-1,3029.7,3029.7,3029.7,18.5,15.5,17.5,5000,5000,5000.0,0.0
20,13-14-2-1,3681.9,3681.9,3681.9,31.4,28.8,30.2,5000,5000,5000.0,0.0
21,13-15-2-1,4122.6,4122.6,4122.6,36.3,29.6,33.6,5000,5000,5000.0,0.0
22,13-15-2-2,3779.4,3850.7,3793.6,23.2,20.0,21.0,5000,5000,5000.0,0.0
23,13-16-2-1,4239.6,4239.6,4239.6,34.0,32.0,33.4,5000,5000,5000.0,0.0
24,13-18-2-1,4029.1,4029.1,4029.1,43.1,39.5,41.6,5000,5000,5000.0,0.0
25,15-15-2-1,4117.4,4117.4,4117.4,29.5,25.5,27.4,5000,5000,5000.0,0.0
26,15-17-2-1,11638.3,11659.2,11654.9,37.4,34.2,35.5,5000,5000,5000.0,0.0
27,15-18-2-1,17502.4,17829.7,17635.3,32.4,25.6,28.4,5000,5000,5000.0,0.0
28,15-18-2-2,4294.6,4312.6,4301.8,46.6,33.8,40.4,5000,5000,5000.0,0.0
29,15-21-2-1,4298.8,4311.5,4301.3,57.6,48.1,53.4,5000,5000,5000.0,0.0
30,17-18-3-1,4260.1,4271.7,4262.4,55.2,44.2,49.9,5000,5000,5000.0,0.0
31,17-19-3-1,4595.3,5075.4,4958.7,71.2,55.8,65.2,5000,5000,5000.0,0.0
32,17-19-3-2,5036.2,5036.2,5036.2,45.6,40.6,43.2,5000,5000,5000.0,0.0
33,17-22-3-1,5274.8,5295.3,5286.4,65.2,44.2,55.0,5000,5000,5000.0,0.0
34,17-23-3-1,4644.0,5228.2,5093.2,71.9,70.4,71.1,5000,5000,5000.0,0.0
35,19-19-3-1,4889.2,5210.8,5127.4,86.1,68.1,78.3,5000,5000,5000.0,0.0
36,19-21-3-1,5479.0,5486.0,5480.4,68.8,60.1,65.1,5000,5000,5000.0,0.0
37,19-21-3-2,4527.6,4978.1,4884.0,84.7,66.9,76.3,5000,5000,5000.0,0.0
38,19-22-3-1,4949.9,4949.9,4949.9,46.2,39.8,42.5,5000,5000,5000.0,0.0
39,19-25-3-1,4836.2,5232.1,5111.4,106.8,87.7,101.8,5000,5000,5000.0,0.0
40,21-23-3-1,5591.6,5591.6,5591.6,63.2,56.0,61.1,5000,5000,5000.0,0.0
41,21-23-3-2,4908.8,4996.0,4949.4,108.8,95.0,99.1,5000,5000,5000.0,0.0
42,21-24-3-1,5192.0,5324.2,5297.7,94.3,71.0,79.0,5000,5000,5000.0,0.0
43,21-26-3-1,13986.0,14063.0,14026.3,80.0,73.1,76.6,5000,5000,5000.0,0.0
44,21-28-3-1,16695.2,16715.2,16702.3,100.5,90.1,94.8,5000,5000,5000.0,0.0
45,23-24-4-1,5064.9,5238.2,5176.9,100.4,82.7,93.6,5000,5000,5000.0,0.0
46,23-25-4-1,4860.9,5699.2,5425.1,162.7,134.3,149.1,5000,5000,5000.0,0.0
47,23-27-4-1,5756.7,5756.7,5756.7,103.6,97.4,101.1,5000,5000,5000.0,0.0
48,23-30-4-1,5836.6,6148.2,6072.5,196.7,156.6,178.2,5000,5000,5000.0,0.0
49,23-31-4-1,6862.4,7179.3,7087.8,158.8,142.3,150.8,5000,5000,5000.0,0.0
50,25-26-4-1,5994.0,6572.0,6307.8,173.2,143.6,155.9,5000,5000,5000.0,0.0
51,25-28-4-1,6554.7,6972.3,6824.4,114.6,107.9,111.8,5000,5000,5000.0,0.0
52,25-29-4-1,6722.5,6764.2,6737.4,107.6,97.1,104.5,5000,5000,5000.0,0.0
53,25-30-4-1,5399.5,5832.9,5667.2,214.9,195.6,202.9,5000,5000,5000.0,0.0
54,25-33-4-1,6432.0,7187.8,6918.0,195.7,166.1,180.7,5000,5000,5000.0,0.0
55,27-28-5-1,8000.6,8149.2,8068.5,97.0,82.5,89.6,5000,5000,5000.0,0.0
56,27-29-5-1,6378.1,7105.0,6889.7,180.4,144.9,156.3,5000,5000,5000.0,0.0
57,27-32-5-1,8163.9,8783.3,8641.2,155.6,144.1,151.1,5000,5000,5000.0,0.0
58,27-35-5-1,8734.7,8776.2,8749.8,151.9,140.6,145.7,5000,5000,5000.0,0.0
59,27-37-5-1,9420.7,10117.4,9757.0,170.0,148.0,159.4,5000,5000,5000.0,0.0
60,Mean values,5400.5,5552.8,5499.9,65.8,56.5,61.1,5000.0,5000.0,5000.0,0.0

In [63]:
run_baseline_agg_df = load_df('baseline_agg.pkl')
run_baseline_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,0.9,0.9,0.9,5000.0,5000.0,5000.0,0.0
1,7,2093.3,2093.3,2093.3,2.6,2.2,2.4,5000.0,5000.0,5000.0,0.0
2,9,5627.5,5627.5,5627.5,4.9,4.1,4.5,5000.0,5000.0,5000.0,0.0
3,11,3517.5,3517.5,3517.5,19.9,17.7,18.8,5000.0,5000.0,5000.0,0.0
4,13,3970.5,3984.8,3973.4,33.6,30.0,32.0,5000.0,5000.0,5000.0,0.0
5,15,8370.3,8446.1,8402.1,40.7,33.4,37.0,5000.0,5000.0,5000.0,0.0
6,17,4762.1,4981.4,4927.4,61.8,51.0,56.9,5000.0,5000.0,5000.0,0.0
7,19,4936.4,5171.4,5110.6,78.5,64.5,72.8,5000.0,5000.0,5000.0,0.0
8,21,9274.7,9338.0,9313.5,89.4,77.0,82.1,5000.0,5000.0,5000.0,0.0
9,23,5676.3,6004.3,5903.8,144.4,122.7,134.6,5000.0,5000.0,5000.0,0.0
10,25,6220.5,6665.8,6491.0,161.2,142.1,151.2,5000.0,5000.0,5000.0,0.0
11,27,8139.6,8586.2,8421.2,151.0,132.0,140.4,5000.0,5000.0,5000.0,0.0
12,Mean values,5400.5,5552.8,5499.9,65.8,56.5,61.1,5000.0,5000.0,5000.0,0.0

## Sequential ALNS

In [44]:
if generate_df:
    run_sequential_name = 'first/sequential/'
    run_sequential_df = generate_run_df(run_sequential_name)
    run_sequential_agg_df = aggregate_df_by_instance_group(run_sequential_df)

    run_sequential_file_name = f'dataframes/performance/sequential.pkl'
    run_sequential_agg_file_name = f'dataframes/performance/sequential_agg.pkl'
    run_sequential_df.to_pickle(run_sequential_file_name)
    run_sequential_agg_df.to_pickle(run_sequential_agg_file_name)

In [45]:
run_sequential_df = load_df('sequential.pkl')
run_sequential_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,0.7,0.7,0.7,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,0.7,0.7,0.7,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,0.8,0.8,0.8,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.4,1.3,1.3,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.2,1.2,1.2,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,2.2,1.9,2.1,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,5.6,5.4,5.5,5000,5000,5000.0,0.0
7,7-8-1-3,2071.9,2071.9,2071.9,3.6,3.4,3.5,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,4.8,4.7,4.8,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,6.7,6.3,6.6,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,6.9,6.5,6.8,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,10.1,9.6,9.9,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,10.3,8.0,8.8,5000,5000,5000.0,0.0
13,9-11-1-1,7958.7,7958.7,7958.7,15.7,12.8,14.5,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,11.1,10.4,10.7,5000,5000,5000.0,0.0
15,11-12-2-1,3587.5,3587.5,3587.5,26.7,24.1,25.4,5000,5000,5000.0,0.0
16,11-12-2-2,3788.9,3788.9,3788.9,22.9,19.8,21.4,5000,5000,5000.0,0.0
17,11-13-2-1,3470.8,3470.8,3470.8,25.0,20.8,23.0,5000,5000,5000.0,0.0
18,11-14-2-1,3710.8,3710.8,3710.8,41.5,38.0,39.6,5000,5000,5000.0,0.0
19,11-15-2-1,3029.7,3029.7,3029.7,33.6,27.3,30.6,5000,5000,5000.0,0.0
20,13-14-2-1,3681.9,3681.9,3681.9,81.6,74.4,78.7,5000,5000,5000.0,0.0
21,13-15-2-1,4122.6,4122.6,4122.6,76.2,67.1,69.8,5000,5000,5000.0,0.0
22,13-15-2-2,3779.4,3779.4,3779.4,43.8,34.0,38.9,5000,5000,5000.0,0.0
23,13-16-2-1,4239.6,4239.6,4239.6,55.7,45.3,49.8,5000,5000,5000.0,0.0
24,13-18-2-1,4029.1,4029.1,4029.1,79.8,61.1,71.3,5000,5000,5000.0,0.0
25,15-15-2-1,4117.4,4117.4,4117.4,58.6,52.6,55.1,5000,5000,5000.0,0.0
26,15-17-2-1,11659.1,11679.3,11663.1,55.0,44.2,50.2,5000,5000,5000.0,0.0
27,15-18-2-1,6525.0,17609.3,15348.2,60.7,51.8,55.7,5000,5000,5000.0,0.0
28,15-18-2-2,4294.6,4294.6,4294.6,82.1,72.3,78.7,5000,5000,5000.0,0.0
29,15-21-2-1,4298.8,4298.8,4298.8,177.1,153.7,163.6,5000,5000,5000.0,0.0
30,17-18-3-1,3982.2,4351.1,4244.5,144.6,80.6,113.6,5000,5000,5000.0,0.0
31,17-19-3-1,4957.9,5075.4,5042.4,185.1,167.8,176.4,5000,5000,5000.0,0.0
32,17-19-3-2,5036.2,5036.2,5036.2,71.3,58.0,64.6,5000,5000,5000.0,0.0
33,17-22-3-1,5262.7,5274.8,5267.5,163.5,136.1,150.6,5000,5000,5000.0,0.0
34,17-23-3-1,4900.6,5196.4,5125.6,193.6,177.5,188.6,5000,5000,5000.0,0.0
35,19-19-3-1,4645.3,5251.2,5013.8,153.6,133.6,140.4,5000,5000,5000.0,0.0
36,19-21-3-1,5334.0,5479.0,5432.5,162.1,139.7,151.0,5000,5000,5000.0,0.0
37,19-21-3-2,4514.4,4971.4,4880.0,233.1,193.1,218.9,5000,5000,5000.0,0.0
38,19-22-3-1,4949.9,4949.9,4949.9,69.2,63.9,67.1,5000,5000,5000.0,0.0
39,19-25-3-1,5191.0,5214.1,5203.0,335.2,300.8,317.0,5000,5000,5000.0,0.0
40,21-23-3-1,5591.6,5592.4,5591.9,109.7,91.6,101.9,5000,5000,5000.0,0.0
41,21-23-3-2,4742.1,4926.7,4882.4,400.8,348.2,363.9,5000,5000,5000.0,0.0
42,21-24-3-1,4532.7,5324.2,5114.0,256.2,222.5,237.9,5000,5000,5000.0,0.0
43,21-26-3-1,14022.8,14097.1,14057.1,186.2,154.3,174.2,5000,5000,5000.0,0.0
44,21-28-3-1,12924.2,16722.3,15939.2,238.8,189.7,211.9,5000,5000,5000.0,0.0
45,23-24-4-1,5141.1,5221.1,5157.1,312.8,281.5,297.8,5000,5000,5000.0,0.0
46,23-25-4-1,4916.8,5645.4,5448.3,339.1,322.2,330.6,5000,5000,5000.0,0.0
47,23-27-4-1,5464.4,5799.8,5612.8,278.0,214.0,239.3,5000,5000,5000.0,0.0
48,23-30-4-1,5681.4,6154.7,6053.4,497.3,463.9,480.6,5000,5000,5000.0,0.0
49,23-31-4-1,6893.5,7156.8,7088.0,378.6,349.5,364.6,5000,5000,5000.0,0.0
50,25-26-4-1,6240.4,6569.6,6395.2,361.5,336.7,349.8,5000,5000,5000.0,0.0
51,25-28-4-1,6936.8,6997.7,6963.3,268.0,211.2,239.6,5000,5000,5000.0,0.0
52,25-29-4-1,6492.9,6759.7,6687.9,313.2,276.9,294.0,5000,5000,5000.0,0.0
53,25-30-4-1,5372.6,5849.7,5732.5,506.1,398.3,452.1,5000,5000,5000.0,0.0
54,25-33-4-1,7141.0,7179.9,7158.5,511.0,449.2,478.7,5000,5000,5000.0,0.0
55,27-28-5-1,8045.8,8190.1,8114.9,199.3,191.6,196.2,5000,5000,5000.0,0.0
56,27-29-5-1,6873.2,7024.9,6983.9,386.2,356.6,369.2,5000,5000,5000.0,0.0
57,27-32-5-1,8713.0,8789.1,8753.9,351.6,333.5,343.0,5000,5000,5000.0,0.0
58,27-35-5-1,8359.2,8822.5,8695.8,324.8,296.4,305.3,5000,5000,5000.0,0.0
59,27-37-5-1,9464.9,10175.0,9913.8,386.0,349.0,370.3,5000,5000,5000.0,0.0
60,Mean values,5172.5,5548.8,5456.6,155.3,135.8,145.3,5000.0,5000.0,5000.0,0.0

In [46]:
run_sequential_agg_df = load_df('sequential_agg.pkl')
run_sequential_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,1.0,0.9,0.9,5000.0,5000.0,5000.0,0.0
1,7,2093.3,2093.3,2093.3,4.6,4.3,4.5,5000.0,5000.0,5000.0,0.0
2,9,5627.5,5627.5,5627.5,10.8,9.5,10.1,5000.0,5000.0,5000.0,0.0
3,11,3517.5,3517.5,3517.5,29.9,26.0,28.0,5000.0,5000.0,5000.0,0.0
4,13,3970.5,3970.5,3970.5,67.4,56.4,61.7,5000.0,5000.0,5000.0,0.0
5,15,6179.0,8399.9,7944.4,86.7,74.9,80.7,5000.0,5000.0,5000.0,0.0
6,17,4827.9,4986.8,4943.2,151.6,124.0,138.8,5000.0,5000.0,5000.0,0.0
7,19,4926.9,5173.1,5095.8,190.6,166.2,178.9,5000.0,5000.0,5000.0,0.0
8,21,8362.7,9332.5,9116.9,238.3,201.3,218.0,5000.0,5000.0,5000.0,0.0
9,23,5619.4,5995.6,5871.9,361.2,326.2,342.6,5000.0,5000.0,5000.0,0.0
10,25,6436.7,6671.3,6587.5,392.0,334.5,362.8,5000.0,5000.0,5000.0,0.0
11,27,8291.2,8600.3,8492.5,329.6,305.4,316.8,5000.0,5000.0,5000.0,0.0
12,Mean values,5172.5,5548.8,5456.6,155.3,135.8,145.3,5000.0,5000.0,5000.0,0.0

## LNS

In [19]:
if generate_df:
    run_lns_name = 'second/lns/'
    run_lns_df = generate_run_df(run_lns_name)
    run_lns_agg_df = aggregate_df_by_instance_group(run_lns_df)

    run_lns_file_name = f'dataframes/performance/lns.pkl'
    run_lns_agg_file_name = f'dataframes/performance/lns_agg.pkl'
    run_lns_df.to_pickle(run_lns_file_name)
    run_lns_agg_df.to_pickle(run_lns_agg_file_name)

5-5-1-2 HAS LESS THAN FIVE SIMULATIONS!

In [47]:
run_lns_df = load_df('lns.pkl')
run_lns_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,0.7,0.7,0.7,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,1771.4,0.7,0.7,0.5,5000,5000,4000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,0.9,0.8,0.8,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.3,1.3,1.3,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.1,1.1,1.1,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,2.0,1.7,1.8,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,1.7,1.5,1.6,5000,5000,5000.0,0.0
7,7-8-1-3,2071.9,2071.9,2071.9,2.0,1.8,1.9,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,4.5,4.2,4.3,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,2.8,2.1,2.4,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,4.4,4.0,4.2,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,7.9,7.3,7.5,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,3.3,2.3,2.6,5000,5000,5000.0,0.0
13,9-11-1-1,7958.7,7958.7,7958.7,4.7,4.4,4.6,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,4.0,2.8,3.2,5000,5000,5000.0,0.0
15,11-12-2-1,3587.5,3587.5,3587.5,20.1,17.2,18.5,5000,5000,5000.0,0.0
16,11-12-2-2,3788.9,3788.9,3788.9,14.8,12.9,14.1,5000,5000,5000.0,0.0
17,11-13-2-1,3470.8,3470.8,3470.8,20.0,18.1,19.1,5000,5000,5000.0,0.0
18,11-14-2-1,3710.8,3710.8,3710.8,24.3,21.7,22.9,5000,5000,5000.0,0.0
19,11-15-2-1,3029.7,3029.7,3029.7,18.2,14.0,16.0,5000,5000,5000.0,0.0
20,13-14-2-1,3681.9,3681.9,3681.9,33.1,29.5,31.3,5000,5000,5000.0,0.0
21,13-15-2-1,4122.6,4122.6,4122.6,35.4,32.3,33.7,5000,5000,5000.0,0.0
22,13-15-2-2,3779.4,3779.4,3779.4,24.5,21.4,23.1,5000,5000,5000.0,0.0
23,13-16-2-1,3770.8,4239.6,4145.9,34.4,33.2,34.0,5000,5000,5000.0,0.0
24,13-18-2-1,4029.1,4029.1,4029.1,42.5,39.6,41.2,5000,5000,5000.0,0.0
25,15-15-2-1,4117.4,4134.4,4120.8,29.9,23.8,27.5,5000,5000,5000.0,0.0
26,15-17-2-1,11638.3,11659.1,11654.9,39.1,34.1,35.8,5000,5000,5000.0,0.0
27,15-18-2-1,17502.4,17846.5,17646.8,29.5,26.5,27.8,5000,5000,5000.0,0.0
28,15-18-2-2,4294.6,4312.6,4298.2,41.5,38.3,39.7,5000,5000,5000.0,0.0
29,15-21-2-1,4298.8,4311.5,4301.3,55.0,48.1,51.6,5000,5000,5000.0,0.0
30,17-18-3-1,4260.1,4271.7,4262.4,58.9,48.3,52.9,5000,5000,5000.0,0.0
31,17-19-3-1,5007.7,5082.5,5063.3,71.6,58.2,63.8,5000,5000,5000.0,0.0
32,17-19-3-2,5036.2,5036.2,5036.2,45.4,40.8,42.4,5000,5000,5000.0,0.0
33,17-22-3-1,5274.8,5291.8,5288.4,57.8,50.1,53.8,5000,5000,5000.0,0.0
34,17-23-3-1,5072.4,5228.2,5179.8,76.6,71.3,72.8,5000,5000,5000.0,0.0
35,19-19-3-1,4935.9,5210.6,5133.3,81.0,64.2,70.9,5000,5000,5000.0,0.0
36,19-21-3-1,5351.5,5486.0,5436.5,70.4,63.8,67.2,5000,5000,5000.0,0.0
37,19-21-3-2,4890.3,4978.1,4957.1,78.9,68.9,74.8,5000,5000,5000.0,0.0
38,19-22-3-1,4949.9,4949.9,4949.9,42.4,39.6,41.0,5000,5000,5000.0,0.0
39,19-25-3-1,5090.8,5211.8,5175.1,103.4,93.5,98.1,5000,5000,5000.0,0.0
40,21-23-3-1,5591.6,5593.3,5592.1,64.8,53.9,60.1,5000,5000,5000.0,0.0
41,21-23-3-2,4940.7,5019.2,4982.9,112.2,88.4,99.2,5000,5000,5000.0,0.0
42,21-24-3-1,5017.0,5324.2,5261.7,94.0,75.3,84.5,5000,5000,5000.0,0.0
43,21-26-3-1,13708.9,14204.1,13974.7,81.7,68.9,76.2,5000,5000,5000.0,0.0
44,21-28-3-1,12202.9,16715.2,15764.1,98.7,85.3,91.7,5000,5000,5000.0,0.0
45,23-24-4-1,5141.1,5288.6,5187.6,100.3,80.2,92.2,5000,5000,5000.0,0.0
46,23-25-4-1,5247.9,5691.6,5593.1,148.0,123.1,133.6,5000,5000,5000.0,0.0
47,23-27-4-1,5645.7,5799.8,5743.1,105.1,91.5,100.1,5000,5000,5000.0,0.0
48,23-30-4-1,5879.7,6145.2,6002.5,176.0,148.1,167.8,5000,5000,5000.0,0.0
49,23-31-4-1,7117.7,7135.9,7129.7,147.9,133.7,140.7,5000,5000,5000.0,0.0
50,25-26-4-1,5769.8,6565.3,6110.1,172.3,138.4,154.3,5000,5000,5000.0,0.0
51,25-28-4-1,6428.0,6966.5,6849.1,111.7,104.4,108.2,5000,5000,5000.0,0.0
52,25-29-4-1,6722.5,6764.2,6743.0,105.9,97.1,99.6,5000,5000,5000.0,0.0
53,25-30-4-1,5544.9,5833.0,5720.2,213.4,187.3,202.3,5000,5000,5000.0,0.0
54,25-33-4-1,6728.3,7139.9,6956.6,195.8,143.1,170.7,5000,5000,5000.0,0.0
55,27-28-5-1,8020.0,8248.6,8114.2,84.6,80.8,82.1,5000,5000,5000.0,0.0
56,27-29-5-1,6354.6,7096.0,6844.3,163.6,142.0,153.9,5000,5000,5000.0,0.0
57,27-32-5-1,8713.0,8768.5,8731.1,150.6,133.3,142.5,5000,5000,5000.0,0.0
58,27-35-5-1,8746.3,8827.8,8783.8,150.9,137.5,143.8,5000,5000,5000.0,0.0
59,27-37-5-1,9568.9,10252.3,9912.7,168.1,155.5,161.6,5000,5000,5000.0,0.0
60,Mean values,5357.9,5558.7,5484.9,63.9,55.2,59.6,5000.0,5000.0,4983.3,0.0

In [48]:
run_lns_agg_df = load_df('lns_agg.pkl')
run_lns_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2129.0,0.9,0.9,0.9,5000.0,5000.0,4800.0,0.0
1,7,2093.3,2093.3,2093.3,2.6,2.3,2.4,5000.0,5000.0,5000.0,0.0
2,9,5627.5,5627.5,5627.5,4.9,4.2,4.4,5000.0,5000.0,5000.0,0.0
3,11,3517.5,3517.5,3517.5,19.5,16.8,18.1,5000.0,5000.0,5000.0,0.0
4,13,3876.8,3970.5,3951.8,34.0,31.2,32.7,5000.0,5000.0,5000.0,0.0
5,15,8370.3,8452.8,8404.4,39.0,34.2,36.5,5000.0,5000.0,5000.0,0.0
6,17,4930.2,4982.1,4966.0,62.1,53.7,57.1,5000.0,5000.0,5000.0,0.0
7,19,5043.7,5167.3,5130.4,75.2,66.0,70.4,5000.0,5000.0,5000.0,0.0
8,21,8292.2,9371.2,9115.1,90.3,74.4,82.3,5000.0,5000.0,5000.0,0.0
9,23,5806.4,6012.2,5931.2,135.5,115.3,126.9,5000.0,5000.0,5000.0,0.0
10,25,6238.7,6653.8,6475.8,159.8,134.1,147.0,5000.0,5000.0,5000.0,0.0
11,27,8280.6,8638.6,8477.2,143.6,129.8,136.8,5000.0,5000.0,5000.0,0.0
12,Mean values,5357.9,5558.7,5484.9,63.9,55.2,59.6,5000.0,5000.0,4983.3,0.0

## ALNS + local search

In [49]:
if generate_df:
    run_ls_name = 'second/ls/'
    run_ls_df = generate_run_df(run_ls_name)
    run_ls_agg_df = aggregate_df_by_instance_group(run_ls_df)

    run_ls_file_name = f'dataframes/performance/ls.pkl'
    run_ls_agg_file_name = f'dataframes/performance/ls_agg.pkl'
    run_ls_df.to_pickle(run_ls_file_name)
    run_ls_agg_df.to_pickle(run_ls_agg_file_name)

In [50]:
run_ls_df = load_df('ls.pkl')
run_ls_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,1.5,1.4,1.4,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,1.4,1.3,1.3,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,1.5,1.5,1.5,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,2.2,2.1,2.1,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.8,1.7,1.8,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,4.2,3.8,4.1,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,4.4,3.4,4.0,5000,5000,5000.0,0.0
7,7-8-1-3,2071.9,2071.9,2071.9,4.7,4.4,4.5,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,7.3,6.8,7.0,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,5.4,4.9,5.1,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,8.0,7.2,7.7,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1934.0,14.0,13.2,13.6,5000,5000,5000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,6.0,4.5,5.3,5000,5000,5000.0,0.0
13,9-11-1-1,7958.7,7958.7,7958.7,10.8,9.5,10.1,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,7.3,6.3,6.8,5000,5000,5000.0,0.0
15,11-12-2-1,3016.7,3587.5,2755.8,49.0,33.6,34.9,5000,5000,4000.0,0.0
16,11-12-2-2,3753.8,3788.9,3774.9,47.3,45.0,46.2,5000,5000,5000.0,0.0
17,11-13-2-1,2998.4,3470.8,3256.9,66.2,43.5,55.0,5000,5000,5000.0,0.0
18,11-14-2-1,3710.8,3710.8,3710.8,61.2,57.9,59.3,5000,5000,5000.0,0.0
19,11-15-2-1,3029.7,3029.7,3029.7,43.5,31.8,36.0,5000,5000,5000.0,0.0
20,13-14-2-1,3672.1,3681.9,3679.9,97.5,77.3,89.2,5000,5000,5000.0,0.0
21,13-15-2-1,3479.1,4122.6,3736.5,95.2,90.2,92.8,5000,5000,5000.0,0.0
22,13-15-2-2,3779.4,3779.4,3779.4,59.6,43.0,53.1,5000,5000,5000.0,0.0
23,13-16-2-1,3319.4,4239.6,4046.4,98.3,84.2,93.4,5000,5000,5000.0,0.0
24,13-18-2-1,3466.5,4029.1,3722.2,119.5,81.9,107.0,5000,5000,5000.0,0.0
25,15-15-2-1,4117.4,4117.4,4117.4,99.1,76.9,87.9,5000,5000,5000.0,0.0
26,15-17-2-1,11659.1,11659.1,11659.1,68.3,56.5,61.2,5000,5000,5000.0,0.0
27,15-18-2-1,6821.4,17564.7,13349.8,90.7,34.4,71.6,5000,5000,5000.0,0.0
28,15-18-2-2,4294.6,4294.6,4294.6,106.3,82.9,95.4,5000,5000,5000.0,0.0
29,15-21-2-1,3985.1,4311.5,4242.1,116.4,81.1,98.1,5000,5000,5000.0,0.0
30,17-18-3-1,3166.8,4260.1,3984.7,169.4,62.6,128.7,5000,5000,5000.0,0.0
31,17-19-3-1,4624.2,5075.4,4802.2,296.7,187.5,249.2,5000,5000,5000.0,0.0
32,17-19-3-2,5036.2,5036.2,5036.2,130.7,112.6,123.0,5000,5000,5000.0,0.0
33,17-22-3-1,5262.7,5274.8,5267.5,187.4,164.3,178.8,5000,5000,5000.0,0.0
34,17-23-3-1,4651.3,5087.9,4894.6,191.7,131.5,164.5,5000,5000,5000.0,0.0
35,19-19-3-1,4602.4,5210.6,4951.0,343.8,240.6,285.3,5000,5000,5000.0,0.0
36,19-21-3-1,4987.5,5479.0,5246.1,277.2,241.6,259.8,5000,5000,5000.0,0.0
37,19-21-3-2,4444.3,4971.4,3737.2,284.8,194.0,185.7,5000,5000,4000.0,0.0
38,19-22-3-1,4949.9,4949.9,4949.9,91.6,84.0,87.8,5000,5000,5000.0,0.0
39,19-25-3-1,4484.4,5090.8,4827.6,326.2,205.8,263.8,5000,5000,5000.0,0.0
40,21-23-3-1,5387.3,5591.6,5465.6,149.3,139.7,143.9,5000,5000,5000.0,0.0
41,21-23-3-2,4380.4,4924.8,4651.5,290.7,153.9,245.5,5000,5000,5000.0,0.0
42,21-24-3-1,4773.7,5324.2,5041.9,238.3,188.2,210.8,5000,5000,5000.0,0.0
43,21-26-3-1,10995.3,14033.1,13414.6,160.4,126.6,142.1,5000,5000,5000.0,0.0
44,21-28-3-1,9608.3,16719.9,12841.9,190.3,129.3,175.8,5000,5000,5000.0,0.0
45,23-24-4-1,4003.1,5050.9,4745.2,317.9,147.2,257.4,5000,5000,5000.0,0.0
46,23-25-4-1,4446.9,5255.5,4982.0,627.2,280.2,472.9,5000,4363,4872.6,0.0
47,23-27-4-1,5015.9,5756.7,5388.1,265.0,221.4,248.8,5000,5000,5000.0,0.0
48,23-30-4-1,5320.5,5985.8,5683.2,619.0,375.7,532.4,5000,4509,4797.6,0.0
49,23-31-4-1,6585.9,7025.0,6892.8,399.7,334.4,376.0,5000,5000,5000.0,0.0
50,25-26-4-1,5115.3,6468.1,5993.4,600.3,325.1,494.4,5000,4682,4936.4,0.0
51,25-28-4-1,6279.8,6979.1,6701.4,341.8,274.2,305.0,5000,5000,5000.0,0.0
52,25-29-4-1,6502.9,6732.6,6681.5,238.3,206.4,229.2,5000,5000,5000.0,0.0
53,25-30-4-1,5067.9,5776.1,5384.4,625.9,614.3,620.4,3557,2763,3144.6,0.0
54,25-33-4-1,6092.7,6913.3,6645.6,631.0,559.1,605.1,5000,4354,4723.4,0.0
55,27-28-5-1,8005.9,8096.2,8054.7,221.4,208.3,212.8,5000,5000,5000.0,0.0
56,27-29-5-1,5809.9,6525.4,6302.0,498.1,381.5,450.4,5000,5000,5000.0,0.0
57,27-32-5-1,7936.8,8726.0,8438.3,529.5,442.7,478.4,5000,5000,5000.0,0.0
58,27-35-5-1,8309.3,8795.3,8518.5,337.1,303.1,318.5,5000,5000,5000.0,0.0
59,27-37-5-1,9525.1,10015.4,9815.2,269.0,221.4,244.8,5000,5000,5000.0,0.0
60,Mean values,4836.1,5503.5,5203.1,185.8,137.5,164.1,4975.95,4927.85,4924.6,0.0

In [51]:
run_ls_agg_df = load_df('ls_agg.pkl')
run_ls_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,1.7,1.6,1.6,5000.0,5000.0,5000.0,0.0
1,7,2093.3,2093.3,2093.3,5.2,4.7,4.9,5000.0,5000.0,5000.0,0.0
2,9,5627.5,5627.5,5627.5,9.2,8.1,8.7,5000.0,5000.0,5000.0,0.0
3,11,3301.9,3517.5,3305.6,53.4,42.4,46.3,5000.0,5000.0,4800.0,0.0
4,13,3543.3,3970.5,3792.9,94.0,75.3,87.1,5000.0,5000.0,5000.0,0.0
5,15,6175.5,8389.5,7532.6,96.2,66.4,82.8,5000.0,5000.0,5000.0,0.0
6,17,4548.2,4946.9,4797.0,195.2,131.7,168.8,5000.0,5000.0,5000.0,0.0
7,19,4693.7,5140.3,4742.4,264.7,193.2,216.5,5000.0,5000.0,4800.0,0.0
8,21,7029.0,9318.7,8283.1,205.8,147.5,183.6,5000.0,5000.0,5000.0,0.0
9,23,5074.5,5814.8,5538.3,445.8,271.8,377.5,5000.0,4774.4,4934.0,0.0
10,25,5811.7,6573.8,6281.3,487.5,395.8,450.8,4711.4,4359.8,4560.9,0.0
11,27,7917.4,8431.7,8225.7,371.0,311.4,341.0,5000.0,5000.0,5000.0,0.0
12,Mean values,4836.1,5503.5,5203.1,185.8,137.5,164.1,4976.0,4927.8,4924.6,0.0

## ALNS + set partitioning

In [52]:
if generate_df: 
    run_sp_name = 'second/sp/'
    run_sp_df = generate_run_df(run_sp_name)
    run_sp_agg_df = aggregate_df_by_instance_group(run_sp_df)

    run_sp_file_name = f'dataframes/performance/sp.pkl'
    run_sp_agg_file_name = f'dataframes/performance/sp_agg.pkl'
    run_sp_df.to_pickle(run_sp_file_name)
    run_sp_agg_df.to_pickle(run_sp_agg_file_name)

In [54]:
run_sp_df = load_df('sp.pkl')
run_sp_df

,instance,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5-5-1-1,2519.9,2519.9,2519.9,0.8,0.8,0.8,5000,5000,5000.0,0.0
1,5-5-1-2,2214.2,2214.2,2214.2,0.8,0.7,0.8,5000,5000,5000.0,0.0
2,5-6-1-1,1939.6,1939.6,1939.6,0.9,0.9,0.9,5000,5000,5000.0,0.0
3,5-7-1-1,2709.7,2709.7,2709.7,1.4,1.3,1.4,5000,5000,5000.0,0.0
4,5-7-1-2,1704.6,1704.6,1704.6,1.3,1.2,1.2,5000,5000,5000.0,0.0
5,7-8-1-1,2046.9,2046.9,2046.9,2.0,1.8,2.0,5000,5000,5000.0,0.0
6,7-8-1-2,1971.3,1971.3,1971.3,2.0,1.7,1.8,5000,5000,5000.0,0.0
7,7-8-1-3,2071.9,2071.9,2071.9,2.2,2.0,2.1,5000,5000,5000.0,0.0
8,7-9-1-1,2170.4,2170.4,2170.4,4.7,4.5,4.6,5000,5000,5000.0,0.0
9,7-9-1-2,2206.1,2206.1,2206.1,3.0,2.2,2.4,5000,5000,5000.0,0.0
10,9-9-1-1,2894.3,2894.3,2894.3,4.8,3.9,4.4,5000,5000,5000.0,0.0
11,9-9-1-2,1934.0,1934.0,1547.2,9.3,8.7,7.1,5000,5000,4000.0,0.0
12,9-10-1-1,6958.5,6958.5,6958.5,3.3,2.8,3.1,5000,5000,5000.0,0.0
13,9-11-1-1,7958.7,7958.7,7958.7,5.8,4.5,5.0,5000,5000,5000.0,0.0
14,9-11-1-2,8392.2,8392.2,8392.2,4.2,3.2,3.6,5000,5000,5000.0,0.0
15,11-12-2-1,3587.5,3587.5,3587.5,20.9,18.9,19.7,5000,5000,5000.0,0.0
16,11-12-2-2,3788.9,3788.9,3788.9,18.1,16.3,17.1,5000,5000,5000.0,0.0
17,11-13-2-1,3470.8,3470.8,3470.8,24.3,21.7,23.4,5000,5000,5000.0,0.0
18,11-14-2-1,3710.8,3710.8,3710.8,33.2,26.8,28.5,5000,5000,5000.0,0.0
19,11-15-2-1,3029.7,3029.7,3029.7,20.0,16.2,18.3,5000,5000,5000.0,0.0
20,13-14-2-1,3681.9,3681.9,3681.9,36.1,32.9,33.9,5000,5000,5000.0,0.0
21,13-15-2-1,4122.6,4143.0,4126.7,39.6,34.5,37.5,5000,5000,5000.0,0.0
22,13-15-2-2,3779.4,3779.4,3779.4,27.7,24.7,26.5,5000,5000,5000.0,0.0
23,13-16-2-1,3742.1,4239.6,4062.3,42.8,31.6,38.4,5000,5000,5000.0,0.0
24,13-18-2-1,4029.1,4029.1,4029.1,51.8,45.5,49.4,5000,5000,5000.0,0.0
25,15-15-2-1,4117.4,4134.4,4124.2,31.7,28.2,30.0,5000,5000,5000.0,0.2
26,15-17-2-1,11659.1,11686.6,11664.6,44.4,39.5,42.0,5000,5000,5000.0,1.4
27,15-18-2-1,17502.4,17552.1,17522.3,36.5,33.4,35.1,5000,5000,5000.0,2.6
28,15-18-2-2,4294.6,4312.6,4301.8,48.8,41.8,45.7,5000,5000,5000.0,0.0
29,15-21-2-1,4298.8,4311.5,4306.4,64.1,52.5,57.6,5000,5000,5000.0,0.0
30,17-18-3-1,4260.1,4317.5,4285.4,60.3,50.1,54.9,5000,5000,5000.0,0.0
31,17-19-3-1,5075.4,5082.5,5078.2,93.0,68.2,79.9,5000,5000,5000.0,1.6
32,17-19-3-2,5036.2,5135.0,5056.0,59.4,50.8,56.3,5000,5000,5000.0,0.4
33,17-22-3-1,5262.7,5295.3,5283.3,65.3,57.2,62.4,5000,5000,5000.0,1.6
34,17-23-3-1,4830.8,5213.3,5126.6,98.7,82.3,90.6,5000,5000,5000.0,2.2
35,19-19-3-1,4731.0,5189.2,5063.8,107.6,82.1,100.3,5000,5000,5000.0,2.0
36,19-21-3-1,5175.9,5479.0,5418.4,97.5,87.9,91.3,5000,5000,5000.0,2.8
37,19-21-3-2,4971.4,4978.1,4972.7,96.5,91.8,93.6,5000,5000,5000.0,2.0
38,19-22-3-1,4949.9,4949.9,4949.9,49.4,45.2,47.6,5000,5000,5000.0,0.2
39,19-25-3-1,4503.0,5206.2,5018.6,150.6,94.2,125.4,5000,5000,5000.0,2.4
40,21-23-3-1,5591.6,5592.3,5591.7,86.2,77.6,80.6,5000,5000,5000.0,1.0
41,21-23-3-2,4548.1,4919.1,4838.7,158.8,130.9,141.0,5000,5000,5000.0,2.0
42,21-24-3-1,5324.2,5344.2,5328.2,113.3,87.2,94.6,5000,5000,5000.0,0.8
43,21-26-3-1,13880.8,14044.2,13966.0,100.5,90.6,94.9,5000,5000,5000.0,3.6
44,21-28-3-1,9546.5,16715.2,13664.5,149.1,131.6,139.3,5000,5000,5000.0,4.4
45,23-24-4-1,5057.8,5141.1,5124.4,132.1,107.2,121.5,5000,5000,5000.0,1.8
46,23-25-4-1,5180.6,5673.3,5441.2,211.5,165.3,181.4,5000,5000,5000.0,4.0
47,23-27-4-1,5756.7,5756.7,5756.7,138.5,123.8,130.1,5000,5000,5000.0,0.2
48,23-30-4-1,5723.2,6135.5,6005.9,231.1,186.3,204.1,5000,5000,5000.0,3.0
49,23-31-4-1,6771.8,7118.9,7022.5,216.8,171.5,196.1,5000,5000,5000.0,4.8
50,25-26-4-1,5963.1,6539.4,6343.7,257.6,180.6,226.6,5000,5000,5000.0,4.4
51,25-28-4-1,6338.9,6936.8,6726.4,155.5,104.3,133.9,5000,5000,5000.0,3.2
52,25-29-4-1,6722.5,6726.9,6724.3,139.6,128.0,133.5,5000,5000,5000.0,2.4
53,25-30-4-1,5400.2,5825.3,5664.1,332.1,264.1,296.2,5000,5000,5000.0,1.8
54,25-33-4-1,6546.8,7156.2,6901.0,266.8,226.4,248.2,5000,5000,5000.0,4.8
55,27-28-5-1,8000.6,8158.9,8077.0,135.5,113.0,121.5,5000,5000,5000.0,3.8
56,27-29-5-1,6264.8,6996.4,6691.1,216.5,188.7,206.2,5000,5000,5000.0,5.0
57,27-32-5-1,8022.7,8707.9,8470.8,259.1,184.6,217.5,5000,5000,5000.0,8.0
58,27-35-5-1,7897.7,8738.3,8518.3,199.4,171.9,185.8,5000,5000,5000.0,5.0
59,27-37-5-1,9415.4,9611.5,9532.0,203.6,181.8,193.4,5000,5000,5000.0,8.0
60,Mean values,5254.3,5530.6,5418.9,86.1,70.5,78.2,5000.0,5000.0,4983.3,1.5

In [55]:
run_sp_agg_df = load_df('sp_agg.pkl')
run_sp_agg_df

,instance_group,best obj,worst obj,obj,max time,min time,time,max iter,min iter,iter,sp improv
0,5,2217.6,2217.6,2217.6,1.0,1.0,1.0,5000.0,5000.0,5000.0,0.0
1,7,2093.3,2093.3,2093.3,2.8,2.4,2.6,5000.0,5000.0,5000.0,0.0
2,9,5627.5,5627.5,5550.2,5.5,4.6,4.6,5000.0,5000.0,4800.0,0.0
3,11,3517.5,3517.5,3517.5,23.3,20.0,21.4,5000.0,5000.0,5000.0,0.0
4,13,3871.0,3974.6,3935.9,39.6,33.8,37.1,5000.0,5000.0,5000.0,0.0
5,15,8374.5,8399.4,8383.9,45.1,39.1,42.1,5000.0,5000.0,5000.0,0.8
6,17,4893.0,5008.7,4965.9,75.3,61.7,68.8,5000.0,5000.0,5000.0,1.2
7,19,4866.2,5160.5,5084.7,100.3,80.2,91.6,5000.0,5000.0,5000.0,1.9
8,21,7778.2,9323.0,8677.8,121.6,103.6,110.1,5000.0,5000.0,5000.0,2.4
9,23,5698.0,5965.1,5870.1,186.0,150.8,166.6,5000.0,5000.0,5000.0,2.8
10,25,6194.3,6636.9,6471.9,230.3,180.7,207.7,5000.0,5000.0,5000.0,3.3
11,27,7920.2,8442.6,8257.8,202.8,168.0,184.9,5000.0,5000.0,5000.0,6.0
12,Mean values,5254.3,5530.6,5418.9,86.1,70.5,78.2,5000.0,5000.0,4983.3,1.5

## ALNS + local search + set partitioning

In [56]:
if generate_df:
    run_lssp_name = 'second/lssp/'
    run_lssp_df = generate_run_df(run_lssp_name)
    run_lssp_agg_df = aggregate_df_by_instance_group(run_lssp_df)

    run_lssp_file_name = f'dataframes/performance/lssp.pkl'
    run_lssp_agg_file_name = f'dataframes/performance/lssp_agg.pkl'
    run_lssp_df.to_pickle(run_lssp_file_name)
    run_lssp_agg_df.to_pickle(run_lssp_agg_file_name)

In [57]:
run_ls_sp_df = load_df('lssp.pkl')
run_ls_sp_df

FileNotFoundError: [Errno 2] No such file or directory: 'dataframes/performance/lssp.pkl'

In [58]:
run_ls_sp_agg_df = load_df('lssp_agg.pkl')
run_ls_sp_agg_df

FileNotFoundError: [Errno 2] No such file or directory: 'dataframes/performance/lssp_agg.pkl'

## Parallel vs. sequential heuristics

In [229]:
baseline_sequential_df = merge_dfs([run_baseline_df, run_sequential_df])
baseline_sequential_agg_df = merge_dfs([run_baseline_agg_df, run_sequential_agg_df])

In [230]:
baseline_sequential_df

       instance      obj   time    iter      obj   time    iter
0       5-5-1-1   2519.9    0.7  5000.0   2519.9    0.7  5000.0
1       5-5-1-2   2214.2    0.7  5000.0   2214.2    0.7  5000.0
2       5-6-1-1   1939.6    0.9  5000.0   1939.6    0.8  5000.0
3       5-7-1-1   2709.7    1.4  5000.0   2709.7    1.3  5000.0
4       5-7-1-2   1704.6    1.2  5000.0   1704.6    1.2  5000.0
5       7-8-1-1   2046.9    1.9  5000.0   2046.9    2.1  5000.0
6       7-8-1-2   1971.3    4.6  5000.0   1971.3    5.5  5000.0
7       7-8-1-3   2071.9    3.4  5000.0   2071.9    3.5  5000.0
8       7-9-1-1   2170.4    4.1  5000.0   2170.4    4.8  5000.0
9       7-9-1-2   2206.1    5.6  5000.0   2206.1    6.6  5000.0
10      9-9-1-1   2894.3    5.5  5000.0   2894.3    6.8  5000.0
11      9-9-1-2   1934.0    8.3  5000.0   1934.0    9.9  5000.0
12     9-10-1-1   6958.5    6.5  5000.0   6958.5    8.8  5000.0
13     9-11-1-1   7909.0   10.5  5000.0   7958.7   14.5  5000.0
14     9-11-1-2   8392.2    8.2  5000.0   8392.2   10.7  5000.0
15    11-12-2-1   3569.0   22.4  5000.0   3587.5   25.4  5000.0
16    11-12-2-2   3678.0   19.8  5000.0   3788.9   21.4  5000.0
17    11-13-2-1   3382.3   25.0  5000.0   3470.8   23.0  5000.0
18    11-14-2-1   3607.4   28.8  5000.0   3710.8   39.6  5000.0
19    11-15-2-1   3011.8   23.9  5000.0   3029.7   30.6  5000.0
20    13-14-2-1   3652.3   49.2  5000.0   3681.9   78.7  5000.0
21    13-15-2-1   4023.8   51.2  5000.0   4122.6   69.8  5000.0
22    13-15-2-2   3702.0   35.3  5000.0   3779.4   38.9  5000.0
23    13-16-2-1   4123.7   41.1  5000.0   4239.6   49.8  5000.0
24    13-18-2-1   3825.6   73.1  5000.0   4029.1   71.3  5000.0
25    15-15-2-1   4017.7   45.5  5000.0   4117.4   55.1  5000.0
26    15-17-2-1  11518.5   39.5  5000.0  11663.1   50.2  5000.0
27    15-18-2-1  13218.0   38.0  5000.0  15348.2   55.7  5000.0
28    15-18-2-2   4184.7   65.4  5000.0   4294.6   78.7  5000.0
29    15-21-2-1   4241.1  114.6  5000.0   4298.8  163.6  5000.0
30    17-18-3-1   4275.1   94.9  5000.0   4244.5  113.6  5000.0
31    17-19-3-1   5019.8  126.2  5000.0   5042.4  176.4  5000.0
32    17-19-3-2   5001.5   46.8  5000.0   5036.2   64.6  5000.0
33    17-22-3-1   5174.5  124.0  5000.0   5267.5  150.6  5000.0
34    17-23-3-1   5131.3  134.3  5000.0   5125.6  188.6  5000.0
35    19-19-3-1   5099.2  110.7  5000.0   5013.8  140.4  5000.0
36    19-21-3-1   5394.7  137.2  5000.0   5432.5  151.0  5000.0
37    19-21-3-2   4757.7  153.6  5000.0   4880.0  218.9  5000.0
38    19-22-3-1   4944.8   50.4  5000.0   4949.9   67.1  5000.0
39    19-25-3-1   5055.8  199.4  5000.0   5203.0  317.0  5000.0
40    21-23-3-1   5512.3  104.1  5000.0   5591.9  101.9  5000.0
41    21-23-3-2   4904.7  219.9  5000.0   4882.4  363.9  5000.0
42    21-24-3-1   5166.8  179.7  5000.0   5114.0  237.9  5000.0
43    21-26-3-1  13945.9  136.2  5000.0  14057.1  174.2  5000.0
44    21-28-3-1  13613.5  165.9  5000.0  15939.2  211.9  5000.0
45    23-24-4-1   5171.1  198.5  5000.0   5157.1  297.8  5000.0
46    23-25-4-1   5517.0  242.0  5000.0   5448.3  330.6  5000.0
47    23-27-4-1   5559.5  176.7  5000.0   5612.8  239.3  5000.0
48    23-30-4-1   6114.9  302.3  5000.0   6053.4  480.6  5000.0
49    23-31-4-1   7069.4  258.2  5000.0   7088.0  364.6  5000.0
50    25-26-4-1   6375.3  249.3  5000.0   6395.2  349.8  5000.0
51    25-28-4-1   6852.3  196.5  5000.0   6963.3  239.6  5000.0
52    25-29-4-1   6631.3  201.1  5000.0   6687.9  294.0  5000.0
53    25-30-4-1   5723.0  318.8  5000.0   5732.5  452.1  5000.0
54    25-33-4-1   7181.7  309.7  5000.0   7158.5  478.7  5000.0
55    27-28-5-1   8073.5  160.8  5000.0   8114.9  196.2  5000.0
56    27-29-5-1   6763.1  268.9  5000.0   6983.9  369.2  5000.0
57    27-32-5-1   8688.3  253.3  5000.0   8753.9  343.0  5000.0
58    27-35-5-1   8771.8  249.3  5000.0   8695.8  305.3  5000.0
59    27-37-5-1   9729.3  255.0  5000.0   9913.8  370.3  5000.0
60  Mean values   5343.6  106.0  5000.0   5456.6  145.3  5000.0

In [231]:
baseline_sequential_agg_df

   instance_group     obj   time    iter     obj   time    iter
0               5  2217.6    1.0  5000.0  2217.6    0.9  5000.0
1               7  2093.3    3.9  5000.0  2093.3    4.5  5000.0
2               9  5617.6    7.8  5000.0  5627.5   10.1  5000.0
3              11  3449.7   24.0  5000.0  3517.5   28.0  5000.0
4              13  3865.5   50.0  5000.0  3970.5   61.7  5000.0
5              15  7436.0   60.6  5000.0  7944.4   80.7  5000.0
6              17  4920.4  105.2  5000.0  4943.2  138.8  5000.0
7              19  5050.4  130.3  5000.0  5095.8  178.9  5000.0
8              21  8628.6  161.2  5000.0  9116.9  218.0  5000.0
9              23  5886.4  235.5  5000.0  5871.9  342.6  5000.0
10             25  6552.7  255.1  5000.0  6587.5  362.8  5000.0
11             27  8405.2  237.5  5000.0  8492.5  316.8  5000.0
12    Mean values  5343.6  106.0  5000.0  5456.6  145.3  5000.0

## ALNS vs. LNS

In [232]:
baseline_lns_df = merge_dfs([run_baseline_df, run_lns_df])
baseline_lns_df

       instance      obj   time    iter      obj   time    iter
0       5-5-1-1   2519.9    0.7  5000.0   2519.9    0.7  5000.0
1       5-5-1-2   2214.2    0.7  5000.0   2214.2    0.7  5000.0
2       5-6-1-1   1939.6    0.9  5000.0   1939.6    0.8  5000.0
3       5-7-1-1   2709.7    1.4  5000.0   2709.7    1.4  5000.0
4       5-7-1-2   1704.6    1.2  5000.0   1363.7    0.9  4000.0
5       7-8-1-1   2046.9    1.9  5000.0   2046.9    1.9  5000.0
6       7-8-1-2   1971.3    4.6  5000.0   1971.3    4.6  5000.0
7       7-8-1-3   2071.9    3.4  5000.0   2071.9    3.4  5000.0
8       7-9-1-1   2170.4    4.1  5000.0   2170.4    4.0  5000.0
9       7-9-1-2   2206.1    5.6  5000.0   2206.1    5.6  5000.0
10      9-9-1-1   2894.3    5.5  5000.0   2894.3    5.4  5000.0
11      9-9-1-2   1934.0    8.3  5000.0   1934.0    8.2  5000.0
12     9-10-1-1   6958.5    6.5  5000.0   6958.5    6.5  5000.0
13     9-11-1-1   7909.0   10.5  5000.0   7925.6   10.4  5000.0
14     9-11-1-2   8392.2    8.2  5000.0   8392.2    8.3  5000.0
15    11-12-2-1   3569.0   22.4  5000.0   3533.5   21.5  5000.0
16    11-12-2-2   3678.0   19.8  5000.0   3715.5   20.6  5000.0
17    11-13-2-1   3382.3   25.0  5000.0   3356.8   22.7  5000.0
18    11-14-2-1   3607.4   28.8  5000.0   3613.6   28.9  5000.0
19    11-15-2-1   3011.8   23.9  5000.0   3014.8   23.4  5000.0
20    13-14-2-1   3652.3   49.2  5000.0   3657.9   48.1  5000.0
21    13-15-2-1   4023.8   51.2  5000.0   3985.1   51.6  5000.0
22    13-15-2-2   3702.0   35.3  5000.0   3678.4   32.7  5000.0
23    13-16-2-1   4123.7   41.1  5000.0   4063.1   39.3  5000.0
24    13-18-2-1   3825.6   73.1  5000.0   3928.4   66.4  5000.0
25    15-15-2-1   4017.7   45.5  5000.0   4009.8   45.0  5000.0
26    15-17-2-1  11518.5   39.5  5000.0  11560.9   38.2  5000.0
27    15-18-2-1  13218.0   38.0  5000.0  15333.6   36.6  5000.0
28    15-18-2-2   4184.7   65.4  5000.0   4187.7   66.9  5000.0
29    15-21-2-1   4241.1  114.6  5000.0   4239.3  121.9  5000.0
30    17-18-3-1   4275.1   94.9  5000.0   4195.3   93.6  5000.0
31    17-19-3-1   5019.8  126.2  5000.0   5008.5  131.8  5000.0
32    17-19-3-2   5001.5   46.8  5000.0   4986.6   44.8  5000.0
33    17-22-3-1   5174.5  124.0  5000.0   5230.3  120.6  5000.0
34    17-23-3-1   5131.3  134.3  5000.0   5097.0  136.3  5000.0
35    19-19-3-1   5099.2  110.7  5000.0   4972.5   99.4  5000.0
36    19-21-3-1   5394.7  137.2  5000.0   5374.3  131.4  5000.0
37    19-21-3-2   4757.7  153.6  5000.0   4789.5  147.3  5000.0
38    19-22-3-1   4944.8   50.4  5000.0   4943.9   51.7  5000.0
39    19-25-3-1   5055.8  199.4  5000.0   5177.3  196.0  5000.0
40    21-23-3-1   5512.3  104.1  5000.0   5470.4  101.5  5000.0
41    21-23-3-2   4904.7  219.9  5000.0   4879.1  213.5  5000.0
42    21-24-3-1   5166.8  179.7  5000.0   5193.0  179.0  5000.0
43    21-26-3-1  13945.9  136.2  5000.0  13931.3  141.9  5000.0
44    21-28-3-1  13613.5  165.9  5000.0  13917.6  156.7  5000.0
45    23-24-4-1   5171.1  198.5  5000.0   5118.6  197.9  5000.0
46    23-25-4-1   5517.0  242.0  5000.0   5487.4  233.4  5000.0
47    23-27-4-1   5559.5  176.7  5000.0   5566.1  178.4  5000.0
48    23-30-4-1   6114.9  302.3  5000.0   6064.8  299.3  5000.0
49    23-31-4-1   7069.4  258.2  5000.0   7049.1  247.0  5000.0
50    25-26-4-1   6375.3  249.3  5000.0   6343.5  244.7  5000.0
51    25-28-4-1   6852.3  196.5  5000.0   6683.4  191.9  5000.0
52    25-29-4-1   6631.3  201.1  5000.0   6636.3  195.7  5000.0
53    25-30-4-1   5723.0  318.8  5000.0   5735.5  309.5  5000.0
54    25-33-4-1   7181.7  309.7  5000.0   7142.8  302.9  5000.0
55    27-28-5-1   8073.5  160.8  5000.0   8113.0  158.9  5000.0
56    27-29-5-1   6763.1  268.9  5000.0   6994.7  264.2  5000.0
57    27-32-5-1   8688.3  253.3  5000.0   8638.1  259.1  5000.0
58    27-35-5-1   8771.8  249.3  5000.0   8724.7  244.5  5000.0
59    27-37-5-1   9729.3  255.0  5000.0   9788.3  255.5  5000.0
60  Mean values   5343.6  106.0  5000.0   5374.2  104.3  4983.3

## ALNS vs. ALNS + local search

In [174]:
baseline_ls_df = merge_dfs([run_baseline_df, run_ls_df])
baseline_ls_df

17-22-3-1 HAS LESS THAN FIVE SIMULATIONS!

## ALNS vs. ALNS + set partitioning

## ALNS vs. ALNS + local search + set partitioning